Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

lefthook.yml:

all:
  commands:
    black:
      run: black --force-exclude=/home-assistant\/config\/custom_components --check {all_files}
      glob: "*.{py}"
    prettier:
      run: prettier --check {all_files}
      glob: "*.{yml,yaml,json,md}"
    buildifier:
      run: buildifier -mode check {all_files}
      glob: "*.{bazel,bzl,bzlmod}"

pre-commit:
  commands:
    black:
      run: black {staged_files}
      glob: "*.{py}"
      stage_fixed: true
    prettier:
      run: prettier --write {staged_files}
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
    buildifier:
      run: buildifier {staged_files}
      glob: "*.{bazel,bzl,bzlmod}"
      stage_fixed: true

chore(release_manager): update release files
  .changeset/rules_release-wicked-carrots-obey-2.md
  .changeset/rules_release-wicked-carrots-obey.md
  .changeset/rules_task-ninety-lobsters-fold-2.md
  .changeset/rules_task-ninety-lobsters-fold.md
  rules/rules_release/CHANGELOG.md
  rules/rules_release/version.txt
  rules/rules_task/CHANGELOG.md
  rules/rules_task/version.txt
Due: prettier

Example workspace integration test
  rules/rules_release/.bazelrc
  rules/rules_release/.bazelversion
  rules/rules_release/MODULE.bazel
  rules/rules_release/examples/BUILD.bazel
  rules/rules_release/examples/workspace/BUILD.bazel
  rules/rules_release/examples/workspace/WORKSPACE
  rules/rules_release/examples/workspace/tests/BUILD.bazel
  rules/rules_release/examples/workspace/tests/test.sh
Due: buildifier

Working integration test invocation from setup workspace
  rules/rules_release/.bazelignore
  rules/rules_release/.bazelrc
  rules/rules_release/MODULE.bazel
  rules/rules_release/examples/BUILD.bazel
  rules/rules_release/examples/workspace/BUILD.bazel
  rules/rules_release/examples/workspace/tests/BUILD.bazel
  rules/rules_release/repositories.bzl
Due: buildifier

Remove bazel version
  rules/rules_release/.bazelversion
Due: none

Add symlink
  rules/rules_release/.bazelversion
Due: none

Ensure integration test runs with all test invocation
  rules/rules_release/examples/BUILD.bazel
Due: buildifier

Execute tests with buildbuddy
  buildbuddy.yaml
Due: prettier

Cleanup
  rules/rules_release/examples/BUILD.bazel
Due: buildifier

Setup rules release inside workspace
  rules/rules_release/examples/workspace/BUILD.bazel
  rules/rules_release/examples/workspace/CHANGELOG_foo.md
  rules/rules_release/examples/workspace/VERSION_foo.txt
  rules/rules_release/examples/workspace/WORKSPACE
  rules/rules_release/examples/workspace/foo.txt
Due: prettier, buildifier

Use correct path depending from there the tests are executed
  rules/rules_release/examples/BUILD.bazel
Due: buildifier

Move publish github release
  rules/rules_release/BUILD.bazel
  rules/rules_release/release/defs.bzl
  rules/rules_release/tools/BUILD.bazel
  rules/rules_release/tools/defs.bzl
  rules/rules_release/tools/private/BUILD.bazel
  rules/rules_release/tools/private/publish_github_release.bzl
  rules/rules_task/BUILD.bazel
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Move library files into release/
  rules/rules_release/.bazelignore
  rules/rules_release/BUILD.bazel
  rules/rules_release/MODULE.bazel
  rules/rules_release/examples/workspace/WORKSPACE
  rules/rules_release/release/BUILD.bazel
  rules/rules_release/release/changesets_cli.mjs
  rules/rules_release/release/cli.mjs
  rules/rules_release/release/extensions.bzl
  rules/rules_release/release/lib/actions/GenerateAction.mjs
  rules/rules_release/release/lib/actions/PublishAction.mjs
  rules/rules_release/release/lib/actions/VersionAction.mjs
  rules/rules_release/release/lib/repositories/ChangelogRepository.mjs
  rules/rules_release/release/lib/repositories/ChangesetRepository.mjs
  rules/rules_release/release/lib/repositories/ConfigRepository.mjs
  rules/rules_release/release/lib/repositories/PackageRepository.mjs
  rules/rules_release/release/lib/repositories/PublishRepository.mjs
  rules/rules_release/release/lib/repositories/ReleaseRepository.mjs
  rules/rules_release/release/lib/repositories/TargetRepository.mjs
  rules/rules_release/release/lib/repositories/VersionRepository.mjs
  rules/rules_release/release/lib/utils.mjs
  rules/rules_release/release/package.json
  rules/rules_release/release/pnpm-lock.yaml
  rules/rules_release/release/private/BUILD.bazel
  rules/rules_release/release/repositories.bzl
Due: prettier, buildifier

Fix simple test
  rules/rules_release/examples/workspace/WORKSPACE
Due: none

Fix loading rules_release
  rules/rules_release/MODULE.bazel
  rules/rules_release/release/extensions.bzl
Due: buildifier

Updating more paths
  rules/rules_release/examples/workspace/BUILD.bazel
  rules/rules_release/examples/workspace/tests/BUILD.bazel
  rules/rules_release/examples/workspace/tests/test.sh
  rules/rules_release/release/private/release_manager.bzl
Due: buildifier

Add in release manager targets to test
  rules/rules_release/examples/workspace/.bazelrc
  rules/rules_release/examples/workspace/WORKSPACE
  rules/rules_release/release/extensions.bzl
  rules/rules_release/release/repositories.bzl
Due: buildifier

Ignore bazel symlinks
  .gitignore
Due: none

Ignore bazel
  .bazelignore
  rules/rules_release/.bazelignore
Due: none

better test setup
  .bazelignore
  .vscode/settings.json
  rules/rules_release/.bazelignore
  rules/rules_release/examples/workspace/.bazelignore
  rules/rules_release/examples/workspace/tests/test.sh
Due: prettier

Try to run actual test
  rules/rules_release/examples/workspace/BUILD.bazel
  rules/rules_release/examples/workspace/foo.txt
  rules/rules_release/examples/workspace/tests/test.sh
  rules/rules_release/release/lib/repositories/ConfigRepository.mjs
Due: buildifier

Introduce change_cmd for release targets
  rules/rules_release/examples/workspace/BUILD.bazel
  rules/rules_release/examples/workspace/CHANGELOG_bar.md
  rules/rules_release/examples/workspace/VERSION_bar.txt
  rules/rules_release/examples/workspace/WORKSPACE
  rules/rules_release/examples/workspace/bar.txt
  rules/rules_release/examples/workspace/bar_not_changed.sh
  rules/rules_release/examples/workspace/foo.txt
  rules/rules_release/examples/workspace/foo_changed.sh
  rules/rules_release/examples/workspace/tests/test.sh
  rules/rules_release/release/BUILD.bazel
  rules/rules_release/release/cli.mjs
  rules/rules_release/release/lib/actions/GenerateAction.mjs
  rules/rules_release/release/lib/repositories/ConfigRepository.mjs
  rules/rules_release/release/lib/repositories/ReleaseRepository.mjs
  rules/rules_release/release/lib/repositories/TargetRepository.mjs
  rules/rules_release/release/private/release.bzl
  rules/rules_release/release/private/release_manager.bzl
Due: prettier, buildifier

Trying to make the version command work
  rules/rules_release/examples/workspace/.changeset/config.json
  rules/rules_release/examples/workspace/package.json
  rules/rules_release/examples/workspace/tests/BUILD.bazel
  rules/rules_release/release/lib/actions/GenerateAction.mjs
  rules/rules_release/release/lib/repositories/ChangesetRepository.mjs
Due: prettier, buildifier

Make generate work for main repo
  BUILD.bazel
  rules/rules_release/BUILD.bazel
  rules/rules_release/tools/defs.bzl
  rules/rules_release/tools/private/bazel_diff_release.bzl
  rules/rules_task/BUILD.bazel
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Fix version node_modules path
  rules/rules_release/release/lib/repositories/ChangesetRepository.mjs
  rules/rules_release/tools/private/bazel_diff_release.bzl
Due: buildifier

Make sure the version command works
  rules/rules_release/examples/workspace/tests/test.sh
Due: none

Working publish
  rules/rules_release/examples/workspace/BUILD.bazel
  rules/rules_release/examples/workspace/final_publish.sh
  rules/rules_release/examples/workspace/foo_publish.sh
  rules/rules_release/examples/workspace/tests/BUILD.bazel
  rules/rules_release/examples/workspace/tests/test.sh
Due: buildifier

Setup basic test cases
  rules/rules_release/examples/workspace/final_publish.sh
  rules/rules_release/examples/workspace/tests/BUILD.bazel
  rules/rules_release/examples/workspace/tests/test.sh
  rules/rules_release/examples/workspace/tests/unittest.bash
  rules/rules_release/examples/workspace/tests/unittest_utils.sh
Due: buildifier

Almost done with bazel-diff-cli
  rules/rules_release/release/BUILD.bazel
  rules/rules_release/release/private/release.bzl
  rules/rules_release/tools/BUILD.bazel
  rules/rules_release/tools/private/bazel_diff_release.bzl
Due: buildifier

Move node_modules back to root
  rules/rules_release/.bazelignore
  rules/rules_release/BUILD.bazel
  rules/rules_release/MODULE.bazel
  rules/rules_release/package.json
  rules/rules_release/pnpm-lock.yaml
  rules/rules_release/release/BUILD.bazel
  rules/rules_release/release/private/BUILD.bazel
  rules/rules_release/tools/BUILD.bazel
  rules/rules_release/tools/private/bazel_diff_release.bzl
Due: prettier, buildifier

Setup boilerplate for bazel diff change cli
  rules/rules_release/tools/BUILD.bazel
  rules/rules_release/tools/lib/actions/BazelDiffChangeAction.mjs
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
  rules/rules_release/tools/private/bazel_diff_release.bzl
Due: buildifier

Wire it up
  rules/rules_release/release/BUILD.bazel
  rules/rules_release/tools/BUILD.bazel
  rules/rules_release/tools/lib/actions/BazelDiffChangeAction.mjs
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
  rules/rules_release/tools/private/bazel_diff_release.bzl
Due: buildifier

Set right workspaceDir
  rules/rules_release/tools/lib/actions/BazelDiffChangeAction.mjs
Due: none

Fix extra args
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
Due: none

Setup right hashes dir
  rules/rules_release/tools/lib/actions/BazelDiffChangeAction.mjs
Due: none

Implement hasLabelChanged function
  rules/rules_release/tools/lib/actions/BazelDiffChangeAction.mjs
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
Due: none

Make previous revision and final revision commands
  rules/rules_release/tools/lib/actions/BazelDiffChangeAction.mjs
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
  rules/rules_release/tools/private/bazel_diff_release.bzl
Due: buildifier

Make git work
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
Due: none

fixes
  rules/rules_release/BUILD.bazel
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
  rules/rules_task/BUILD.bazel
Due: buildifier

Fix parameter
  rules/rules_release/BUILD.bazel
  rules/rules_task/BUILD.bazel
Due: buildifier

Setup additional validation on output
  rules/rules_release/release/lib/repositories/ReleaseRepository.mjs
Due: none
