Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

black:
  run: black {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

buildifier:
  run: buildifier {staged_files}
  stage_fixed: true

better bunq2ynab deployment
  provisioner/deploys/bunq2ynab/files/docker-compose.yml.j2
  provisioner/deploys/bunq2ynab/tasks/install_bunq2ynab.py
Due: none

Added changesets
  .changeset/provisioner-angry-bikes-listen-2.md
  .changeset/provisioner-angry-bikes-listen.md
Due: prettier

Replace restart_policy with restart
  provisioner/deploys/bunq2ynab/files/docker-compose.yml.j2
Due: none

fix: Loading remote tags for bunq2ynab (#627)
  .changeset/provisioner-angry-bikes-listen-2.md
  .changeset/provisioner-angry-bikes-listen.md
  provisioner/deploys/bunq2ynab/tasks/install_bunq2ynab.py
  provisioner/group_data/dev.py
  provisioner/group_data/prod.py
  provisioner/group_data/test.py
Due: prettier

Disable bluetooth tracking
  home-assistant/esphome-data/baby-room-bed-light-moko.yaml
  home-assistant/esphome-data/baby-room-moon-light-moko.yaml
  home-assistant/esphome-data/baby-room-shelly.yaml
  home-assistant/esphome-data/bathroom-human-moko.yaml
  home-assistant/esphome-data/bedroom-charger-moko.yaml
  home-assistant/esphome-data/bedroom-shelly.yaml
  home-assistant/esphome-data/bedroom-tv-moko.yaml
  home-assistant/esphome-data/driveway-shelly.yaml
  home-assistant/esphome-data/garden-shelly.yaml
  home-assistant/esphome-data/hallway-shelly.yaml
  home-assistant/esphome-data/hallway-vacuum-moko.yaml
  home-assistant/esphome-data/kitchen-oven-moko.yaml
  home-assistant/esphome-data/kitchen-shelly.yaml
  home-assistant/esphome-data/landing-shelly.yaml
  home-assistant/esphome-data/laundry-room-shelly.yaml
  home-assistant/esphome-data/living-room-monkey-moko.yaml
  home-assistant/esphome-data/living-room-shelly.yaml
  home-assistant/esphome-data/living-room-tv-moko.yaml
  home-assistant/esphome-data/office-human-moko.yaml
  home-assistant/esphome-data/office-server-moko.yaml
  home-assistant/esphome-data/office-shelly.yaml
  home-assistant/esphome-data/supply-closet-shelly.yaml
  home-assistant/esphome-data/test-shelly.yaml
Due: prettier

chore(release_manager): update release files
  .changeset/provisioner-angry-bikes-listen-2.md
  .changeset/provisioner-angry-bikes-listen.md
  provisioner/CHANGELOG.md
  provisioner/version.txt
Due: prettier

Try provisioner build
  .github/workflows/deploy.yml
Due: prettier

test
  .github/workflows/deploy.yml
Due: prettier

Explicit build
  .github/workflows/deploy.yml
Due: prettier

Fix?
  WORKSPACE.bzlmod
  tools/python/BUILD.bazel
Due: buildifier

Undo change
  .github/workflows/deploy.yml
Due: prettier

Generate changesets
  .changeset/bunq2ynab-nervous-oranges-fetch.md
  .changeset/provisioner-healthy-parents-drop.md
Due: prettier

Configure better restore behavior for esphome devices
  esphome_nimble/config.yaml
  home-assistant/esphome-data/.shelly-1l.yaml
  home-assistant/esphome-data/.shelly-1pm-plus.yaml
  workstation/deploys/ssh/files/config/1Password/ssh/agent.toml
Due: prettier

Make mutagen work again
  home-assistant/docker-compose.yml
  mutagen.yml
  tools/mutagen/BUILD.bazel
  tools/mutagen/BUILD.repositories.bazel.tpl
Due: prettier, buildifier

Try deploy-rs
  hypervisor/flake.nix
Due: none

Copy hypervisor config
  hypervisor/configuration.nix
  hypervisor/hardware-configuration.nix
Due: none

Remove flake
  hypervisor/flake.nix
Due: none

Use nixos-rebuild to remote deploy
  devbox.json
  devbox.lock
  hypervisor/configuration.nix
Due: prettier

format
  hypervisor/configuration.nix
Due: none

Setup NixOS Hypervisor (#629)
  .changeset/bunq2ynab-nervous-oranges-fetch.md
  .changeset/provisioner-healthy-parents-drop.md
  WORKSPACE.bzlmod
  devbox.json
  devbox.lock
  esphome_nimble/config.yaml
  home-assistant/docker-compose.yml
  home-assistant/esphome-data/.shelly-1l.yaml
  home-assistant/esphome-data/.shelly-1pm-plus.yaml
  home-assistant/esphome-data/baby-room-bed-light-moko.yaml
  home-assistant/esphome-data/baby-room-moon-light-moko.yaml
  home-assistant/esphome-data/baby-room-shelly.yaml
  home-assistant/esphome-data/bathroom-human-moko.yaml
  home-assistant/esphome-data/bedroom-charger-moko.yaml
  home-assistant/esphome-data/bedroom-shelly.yaml
  home-assistant/esphome-data/bedroom-tv-moko.yaml
  home-assistant/esphome-data/driveway-shelly.yaml
  home-assistant/esphome-data/garden-shelly.yaml
  home-assistant/esphome-data/hallway-shelly.yaml
  home-assistant/esphome-data/hallway-vacuum-moko.yaml
  home-assistant/esphome-data/kitchen-oven-moko.yaml
  home-assistant/esphome-data/kitchen-shelly.yaml
  home-assistant/esphome-data/landing-shelly.yaml
  home-assistant/esphome-data/laundry-room-shelly.yaml
  home-assistant/esphome-data/living-room-monkey-moko.yaml
  home-assistant/esphome-data/living-room-shelly.yaml
  home-assistant/esphome-data/living-room-tv-moko.yaml
  home-assistant/esphome-data/office-human-moko.yaml
  home-assistant/esphome-data/office-server-moko.yaml
  home-assistant/esphome-data/office-shelly.yaml
  home-assistant/esphome-data/supply-closet-shelly.yaml
  home-assistant/esphome-data/test-shelly.yaml
  hypervisor/configuration.nix
  hypervisor/hardware-configuration.nix
  mutagen.yml
  tools/mutagen/BUILD.bazel
  tools/mutagen/BUILD.repositories.bazel.tpl
  tools/python/BUILD.bazel
  workstation/deploys/ssh/files/config/1Password/ssh/agent.toml
Due: prettier, buildifier

chore(release_manager): update release files
  .changeset/bunq2ynab-nervous-oranges-fetch.md
  .changeset/provisioner-healthy-parents-drop.md
  provisioner/CHANGELOG.md
  provisioner/version.txt
  tools/bunq2ynab/CHANGELOG.md
  tools/bunq2ynab/version.txt
Due: prettier

Fix provisioner deploy
  .github/workflows/deploy.yml
Due: prettier

Increase timeout linting
  .github/workflows/test.yml
Due: prettier

Use a glob
  provisioner/BUILD.bazel
Due: buildifier

add changesets
  .changeset/provisioner-thirty-nails-drop.md
Due: prettier

fix: Inject 1Password secret for provisioner deploy (#631)
  .changeset/provisioner-thirty-nails-drop.md
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  provisioner/BUILD.bazel
Due: prettier, buildifier

chore(release_manager): update release files
  .changeset/provisioner-thirty-nails-drop.md
  provisioner/CHANGELOG.md
  provisioner/version.txt
Due: prettier

Fix provisioner deploy once again
  .github/actions/setup-bazel/action.yml
  .github/workflows/deploy.yml
  .github/workflows/schedule.yml
  provisioner/BUILD.bazel
  tools/onepassword/lib.py
Due: prettier, buildifier

Added changeset
  .changeset/provisioner-poor-news-reflect.md
Due: prettier

fix: Provisioner deploy once again (#633)
  .changeset/provisioner-poor-news-reflect.md
  .github/actions/setup-bazel/action.yml
  .github/workflows/deploy.yml
  .github/workflows/schedule.yml
  provisioner/BUILD.bazel
  tools/onepassword/lib.py
Due: prettier, buildifier

chore(release_manager): update release files
  .changeset/provisioner-poor-news-reflect.md
  provisioner/CHANGELOG.md
  provisioner/version.txt
Due: prettier

Inject the 1Password secret once more for deploy
  .github/workflows/deploy.yml
Due: prettier

Make it better for local development
  tools/onepassword/lib.py
Due: none

Add changeset
  .changeset/provisioner-tough-donuts-rescue.md
Due: prettier

fix: Inject the 1Password secret once more for deploy (#634)
  .changeset/provisioner-tough-donuts-rescue.md
  .github/workflows/deploy.yml
  tools/onepassword/lib.py
Due: prettier

chore(release_manager): update release files
  .changeset/provisioner-tough-donuts-rescue.md
  provisioner/CHANGELOG.md
  provisioner/version.txt
Due: prettier

Use bazel-differ instead of bazel-diff
  BUILD.bazel
  rules/rules_release/MODULE.bazel
  rules/rules_release/release/repositories.bzl
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
  rules/rules_release/tools/private/bazel_diff_release.bzl
Due: buildifier

Rename bazel_diff_release to release_bazel_diff
  provisioner/BUILD.bazel
  rules/rules_release/tools/defs.bzl
  rules/rules_release/tools/private/release_bazel_diff.bzl
  rules/rules_release/tools/private/release_bazel_differ.bzl
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

The start of the bazel differ rule
  rules/rules_release/release/private/utils.bzl
  rules/rules_release/tools/private/release_bazel_diff.bzl
  rules/rules_release/tools/private/release_bazel_differ.bzl
Due: buildifier

Undo some changes
  home-assistant/zigbee2mqtt-data/configuration.yaml
  rules/rules_release/BUILD.bazel
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
Due: prettier, buildifier

Path conditions:
  black: any of: *.{py}
  prettier: any of: *.{yml,yaml,json,md}
  buildifier: any of: *.{bazel,bzl,bzlmod}
