Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

lefthook.yml:

all:
  commands:
    black:
      run: black --force-exclude=/home-assistant\/config\/custom_components --check {all_files}
      glob: "*.{py}"
    prettier:
      run: prettier --check {all_files}
      glob: "*.{yml,yaml,json,md,js}"
    buildifier:
      run: buildifier -mode check {all_files}
      glob: "*.{bazel,bzl,bzlmod}"
      exclude: "pdm_lock.bzl"

pre-commit:
  commands:
    black:
      run: black {staged_files}
      glob: "*.{py}"
      stage_fixed: true
    prettier:
      run: prettier --write {staged_files}
      glob: "*.{yml,yaml,json,md,js}"
      stage_fixed: true
    buildifier:
      run: buildifier {staged_files}
      glob: "*.{bazel,bzl,bzlmod}"
      stage_fixed: true
      exclude: "pdm_lock.bzl"

Fix shellcheck issues in Codex setup
  Taskfile.yml
  stacks/codex/setup.sh
Due: prettier

Add Codex CI stack (#694)
  AGENTS.md
  Taskfile.yml
  stacks/codex/Taskfile.yml
  stacks/codex/setup.sh
Due: prettier

fix: Install Trunk properly inside repository
  3rdparty/hermit/trunk.hcl
  bin/.trunk@latest.pkg
  bin/trunk
Due: none

Remove from javascript
  3rdparty/javascript/package-lock.json
  3rdparty/javascript/package.json
Due: prettier

fix: Install Trunk properly inside repository (#695)
  3rdparty/hermit/trunk.hcl
  3rdparty/javascript/package-lock.json
  3rdparty/javascript/package.json
  bin/.trunk@latest.pkg
  bin/trunk
Due: prettier

fix: Fix Codex script
  stacks/codex/setup.sh
Due: none

fix: format Bazel files
  BUILD.bazel
  WORKSPACE.bzlmod
  tools/teleport/BUILD.bazel
Due: buildifier

Remove BuildBuddy config (#693)
  BUILD.bazel
  WORKSPACE.bzlmod
  buildbuddy.yaml
  rules/rules_task/.bazelrc
  setup_ci.sh
  tools/teleport/BUILD.bazel
Due: prettier, buildifier

Move hypervisor stack
  .gitignore
  AGENTS.md
  stacks/hypervisor/.kitchen/.gitignore
  stacks/hypervisor/50-network-bridge.yaml.j2
  stacks/hypervisor/50-offloading-config.j2
  stacks/hypervisor/BUILD.bazel
  stacks/hypervisor/OpenNebulaNetwork.conf.j2
  stacks/hypervisor/Vagrantfile.cloud-init
  stacks/hypervisor/ansible_requirements.yml
  stacks/hypervisor/cloud-init/meta-data
  stacks/hypervisor/cloud-init/user-data
  stacks/hypervisor/configuration.nix
  stacks/hypervisor/deploy.py
  stacks/hypervisor/files/consul.hcl
  stacks/hypervisor/files/consul.service
  stacks/hypervisor/files/nomad.hcl
  stacks/hypervisor/files/nomad.service
  stacks/hypervisor/flake.lock
  stacks/hypervisor/flake.nix
  stacks/hypervisor/hardware-configuration.nix
  stacks/hypervisor/hypervisor.pkr.hcl
  stacks/hypervisor/hypervisor_lima.yml
  stacks/hypervisor/inventory.py
  stacks/hypervisor/kitchen.yml
  stacks/hypervisor/oned.conf.j2
  stacks/hypervisor/onegate-server.conf.j2
  stacks/hypervisor/onevm.yaml.j2
  stacks/hypervisor/packer_qemu.pkr.hcl
  stacks/hypervisor/provision.yml
  stacks/hypervisor/rules.v4.j2
  stacks/hypervisor/rules.v6.j2
  stacks/hypervisor/sunstone-server.conf.j2
  stacks/hypervisor/tasks/install_cni.py
  stacks/hypervisor/tasks/install_consul.py
  stacks/hypervisor/tasks/install_docker.py
  stacks/hypervisor/tasks/install_envoy.py
  stacks/hypervisor/tasks/install_nomad.py
  stacks/hypervisor/tasks/install_qemu.py
  stacks/hypervisor/test/integration/default/test_spec.rb
Due: prettier, buildifier

Move escaperoom to apps and update AGENTS
  AGENTS.md
  apps/escaperoom/.dockerignore
  apps/escaperoom/.gitignore
  apps/escaperoom/.streamlit/config.toml
  apps/escaperoom/Dockerfile
  apps/escaperoom/app.py
  apps/escaperoom/devspace.yaml
  apps/escaperoom/images/gpt.jpeg
  apps/escaperoom/ingress.yaml
  apps/escaperoom/pages/1_order.py
  apps/escaperoom/pages/2_instruction.py
  apps/escaperoom/requirements.txt
Due: prettier

Refine codex setup test
  .github/workflows/test.yaml
  stacks/codex/Taskfile.yml
  stacks/codex/setup.sh
Due: prettier

Add codex setup test workflow (#700)
  .github/workflows/test.yaml
  stacks/codex/Taskfile.yml
  stacks/codex/setup.sh
Due: prettier

Move escaperoom under apps (#699)
  AGENTS.md
  apps/escaperoom/.dockerignore
  apps/escaperoom/.gitignore
  apps/escaperoom/.streamlit/config.toml
  apps/escaperoom/Dockerfile
  apps/escaperoom/app.py
  apps/escaperoom/devspace.yaml
  apps/escaperoom/images/gpt.jpeg
  apps/escaperoom/ingress.yaml
  apps/escaperoom/pages/1_order.py
  apps/escaperoom/pages/2_instruction.py
  apps/escaperoom/requirements.txt
Due: prettier

fix: Fix Codex script (#696)
  .github/workflows/test.yaml
  stacks/codex/Taskfile.yml
  stacks/codex/setup.sh
Due: prettier

fix: update hypervisor stack paths
  stacks/hypervisor/BUILD.bazel
Due: buildifier

chore: fix lint errors
  .gitignore
  stacks/hypervisor/deploy.py
  stacks/hypervisor/inventory.py
  stacks/hypervisor/tasks/install_envoy.py
Due: none

Move occupancy component to libs
  AGENTS.md
  BUILD.bazel
  libs/occupancy_component/.dockerignore
  libs/occupancy_component/.gitignore
  libs/occupancy_component/BUILD.bazel
  libs/occupancy_component/CHANGELOG.md
  libs/occupancy_component/Dockerfile
  libs/occupancy_component/README.md
  libs/occupancy_component/Tiltfile
  libs/occupancy_component/automations.yaml
  libs/occupancy_component/configuration.yaml
  libs/occupancy_component/custom_components/occupancy/__init__.py
  libs/occupancy_component/custom_components/occupancy/binary_sensor.py
  libs/occupancy_component/custom_components/occupancy/const.py
  libs/occupancy_component/custom_components/occupancy/helpers.py
  libs/occupancy_component/custom_components/occupancy/internal_state.py
  libs/occupancy_component/custom_components/occupancy/manifest.json
  libs/occupancy_component/custom_components/occupancy/select.py
  libs/occupancy_component/docker-compose.yml
  libs/occupancy_component/onboarding
  libs/occupancy_component/tests/conftest.py
  libs/occupancy_component/tests/helpers.py
  libs/occupancy_component/tests/test_area.py
  libs/occupancy_component/tests/test_door.py
  libs/occupancy_component/tests/test_init.py
  libs/occupancy_component/version.txt
Due: prettier, buildifier

Fix lint across repo
  haos/custom_components/hacs/hacs_frontend/__init__.py
  haos/custom_components/hacs/hacs_frontend_experimental/__init__.py
  haos/custom_components/hacs/repositories/integration.py
  occupancy_component/custom_components/occupancy/__init__.py
  occupancy_component/custom_components/occupancy/binary_sensor.py
  occupancy_component/custom_components/occupancy/select.py
  occupancy_component/tests/conftest.py
  occupancy_component/tests/helpers.py
  occupancy_component/tests/test_area.py
  occupancy_component/tests/test_door.py
  rules/rules_task/task/private/py_binary_cmd_main.tpl.py
  rules/rules_task/task/private/runner.py
  rules/rules_task/tests/pytest_wrapper.py
  tools/onepassword/lib.py
Due: none

Format occupancy_component
  libs/occupancy_component/BUILD.bazel
  libs/occupancy_component/custom_components/occupancy/__init__.py
  libs/occupancy_component/custom_components/occupancy/binary_sensor.py
  libs/occupancy_component/custom_components/occupancy/helpers.py
  libs/occupancy_component/custom_components/occupancy/internal_state.py
  libs/occupancy_component/custom_components/occupancy/select.py
  libs/occupancy_component/tests/conftest.py
  libs/occupancy_component/tests/helpers.py
  libs/occupancy_component/tests/test_area.py
  libs/occupancy_component/tests/test_door.py
  libs/occupancy_component/tests/test_init.py
Due: buildifier

chore: relocate hypervisor stack
  .gitignore
  AGENTS.md
  stacks/hypervisor/.kitchen/.gitignore
  stacks/hypervisor/50-network-bridge.yaml.j2
  stacks/hypervisor/50-offloading-config.j2
  stacks/hypervisor/BUILD.bazel
  stacks/hypervisor/OpenNebulaNetwork.conf.j2
  stacks/hypervisor/Vagrantfile.cloud-init
  stacks/hypervisor/ansible_requirements.yml
  stacks/hypervisor/cloud-init/meta-data
  stacks/hypervisor/cloud-init/user-data
  stacks/hypervisor/configuration.nix
  stacks/hypervisor/deploy.py
  stacks/hypervisor/files/consul.hcl
  stacks/hypervisor/files/consul.service
  stacks/hypervisor/files/nomad.hcl
  stacks/hypervisor/files/nomad.service
  stacks/hypervisor/flake.lock
  stacks/hypervisor/flake.nix
  stacks/hypervisor/hardware-configuration.nix
  stacks/hypervisor/hypervisor.pkr.hcl
  stacks/hypervisor/hypervisor_lima.yml
  stacks/hypervisor/inventory.py
  stacks/hypervisor/kitchen.yml
  stacks/hypervisor/oned.conf.j2
  stacks/hypervisor/onegate-server.conf.j2
  stacks/hypervisor/onevm.yaml.j2
  stacks/hypervisor/packer_qemu.pkr.hcl
  stacks/hypervisor/provision.yml
  stacks/hypervisor/rules.v4.j2
  stacks/hypervisor/rules.v6.j2
  stacks/hypervisor/sunstone-server.conf.j2
  stacks/hypervisor/tasks/install_cni.py
  stacks/hypervisor/tasks/install_consul.py
  stacks/hypervisor/tasks/install_docker.py
  stacks/hypervisor/tasks/install_envoy.py
  stacks/hypervisor/tasks/install_nomad.py
  stacks/hypervisor/tasks/install_qemu.py
  stacks/hypervisor/test/integration/default/test_spec.rb
Due: prettier, buildifier

doc: clarify trunk usage
  AGENTS.md
Due: prettier

feat: Setup Claude Code
  .envrc
  3rdparty/hermit/container-use.hcl
  3rdparty/javascript/package-lock.json
  3rdparty/javascript/package.json
  AGENTS.md
  CLAUDE.md
  aws_profiles
  bin/.awscli-2.27.40.pkg
  bin/.container-use-0.0.5.pkg
  bin/aws
  bin/aws_completer
  bin/claude
  bin/cu
  stacks/codex/setup.sh
Due: prettier

Add prompt for container use
  CLAUDE.md
  bin/.dagger-0.18.10.pkg
  bin/dagger
Due: prettier

Try config
  .container-use/environment.json
Due: prettier

Remove
  .container-use/environment.json
Due: prettier

Updated memory
  CLAUDE.md
Due: prettier

Remove dagger and container-use
  3rdparty/hermit/container-use.hcl
  bin/.container-use-0.0.5.pkg
  bin/.dagger-0.18.10.pkg
  bin/cu
  bin/dagger
Due: none

feat: Setup Claude Code (#704)
  .envrc
  3rdparty/javascript/package-lock.json
  3rdparty/javascript/package.json
  AGENTS.md
  CLAUDE.md
  aws_profiles
  bin/.awscli-2.27.40.pkg
  bin/aws
  bin/aws_completer
  bin/claude
  stacks/codex/setup.sh
Due: prettier

Update finicky
  stacks/devenv/files/dot_finicky.js
Due: prettier

feat: Create feature script
  bin/.overmind-2.5.1.pkg
  bin/.uv-0.7.20.pkg
  bin/overmind
  bin/uv
  bin/uvx
  stacks/devenv/files/.chezmoidata/packages.yaml
  stacks/devenv/files/dot_finicky.js
Due: prettier

Remove pdm deps
  pdm.lock
  pyproject.toml
Due: none

Init friendo project
  libs/friendo/.python-version
  libs/friendo/README.md
  libs/friendo/pyproject.toml
  libs/friendo/src/friendo/__init__.py
  libs/friendo/uv.lock
Due: prettier

Skaffold friendo app
  AGENTS.md
  Taskfile.yml
  libs/friendo/CLAUDE.md
  libs/friendo/Taskfile.yml
  libs/friendo/src/friendo/__init__.py
  libs/friendo/src/friendo/__main__.py
  libs/friendo/src/friendo/app.py
  libs/friendo/src/friendo/app.tcss
  libs/friendo/src/friendo/models/__init__.py
  libs/friendo/src/friendo/models/session.py
  libs/friendo/src/friendo/widgets/__init__.py
  libs/friendo/src/friendo/widgets/preview_pane.py
  libs/friendo/src/friendo/widgets/session_list.py
  libs/friendo/tests/__init__.py
  libs/friendo/tests/test_app.py
  libs/friendo/tests/test_session.py
  libs/friendo/tests/test_widgets.py
Due: prettier

Run the development server
  .gitignore
  libs/friendo/Taskfile.yml
Due: prettier

Fix tests
  libs/friendo/CLAUDE.md
  libs/friendo/pyproject.toml
  libs/friendo/src/friendo/app.py
  libs/friendo/src/friendo/widgets/preview_pane.py
  libs/friendo/tests/test_app.py
  libs/friendo/tests/test_widgets.py
  libs/friendo/uv.lock
Due: prettier

Example start devcontainer task
  AGENTS.md
  Taskfile.yml
  libs/devcontainer/Dockerfile
  libs/devcontainer/Taskfile.yml
  workspaces/.gitignore
Due: prettier

Install smart light into office
  haos/configuration.yaml
  haos/esphome/.base.yaml
  haos/esphome/office-shelly.yaml
Due: prettier

undo changes
  libs/friendo/.python-version
  libs/friendo/CLAUDE.md
  libs/friendo/README.md
  libs/friendo/Taskfile.yml
  libs/friendo/pyproject.toml
  libs/friendo/src/friendo/__init__.py
  libs/friendo/src/friendo/__main__.py
  libs/friendo/src/friendo/app.py
  libs/friendo/src/friendo/app.tcss
  libs/friendo/src/friendo/models/__init__.py
  libs/friendo/src/friendo/models/session.py
  libs/friendo/src/friendo/widgets/__init__.py
  libs/friendo/src/friendo/widgets/preview_pane.py
  libs/friendo/src/friendo/widgets/session_list.py
  libs/friendo/tests/__init__.py
  libs/friendo/tests/test_app.py
  libs/friendo/tests/test_session.py
  libs/friendo/tests/test_widgets.py
  libs/friendo/uv.lock
Due: prettier
