Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

lefthook.yml:

all:
  commands:
    black:
      run: black --force-exclude=/home-assistant\/config\/custom_components --check {all_files}
      glob: "*.{py}"
    prettier:
      run: prettier --check {all_files}
      glob: "*.{yml,yaml,json,md}"
    buildifier:
      run: buildifier -mode check {all_files}
      glob: "*.{bazel,bzl,bzlmod}"

pre-commit:
  commands:
    black:
      run: black {staged_files}
      glob: "*.{py}"
      stage_fixed: true
    prettier:
      run: prettier --write {staged_files}
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
    buildifier:
      run: buildifier {staged_files}
      glob: "*.{bazel,bzl,bzlmod}"
      stage_fixed: true

Fix invalid reference
  occupancy_component/BUILD.bazel
Due: buildifier

refactor(rules_task): Turn task binary into py_binary (#589)
  BUILD.bazel
  WORKSPACE.bzlmod
  occupancy_component/BUILD.bazel
  rules/rules_task/defs.bzl
  rules/rules_task/runner.py
  tools/lefthook/BUILD.bazel
  tools/mutagen/BUILD.bazel
  tools/onepassword/BUILD.bazel
  tools/pulumi/BUILD.bazel
  tools/regctl/BUILD.bazel
  tools/teleport/BUILD.bazel
  tools/tilt/BUILD.bazel
  tools/tilt/BUILD.repositories.bazel.tpl
Due: buildifier

Fix renovatebot config
  renovate.json
Due: prettier

build(renovatebot): Fix config (#590)
  renovate.json
Due: prettier

cleanup
  BUILD.bazel
  WORKSPACE.bzlmod
  hello-docker.nix
  hello.py
  rules/rules_task/defs.bzl
  tools/python/BUILD.bazel
Due: buildifier

Lint js files
  lefthook.yml
  rules/rules_task/commit-paths.js
Due: prettier

Update prettier
  .prettierrc
  rules/rules_task/commit-paths.js
Due: none

Working test
  BUILD.bazel
  WORKSPACE.bzlmod
  hello_world.py
  rules/rules_task/defs.bzl
Due: buildifier

WIP py_image
  BUILD.bazel
  tools/python/defs.bzl
  tools/python/py_image_layer.bzl
Due: buildifier

Implement py_image macro
  BUILD.bazel
  tools/python/defs.bzl
Due: buildifier

Setup proper Python platform for container
  BUILD.bazel
  tools/python/BUILD.bazel
  tools/python/defs.bzl
Due: buildifier

Almost working
  BUILD.bazel
  defs.bzl
  tools/bunq2ynab/BUILD.bazel
  tools/python/defs.bzl
Due: buildifier

hacky but working
  MODULE.bazel
  tools/python/BUILD.bazel
  tools/python/defs.bzl
Due: buildifier

Without transitioned binary
  tools/python/defs.bzl
Due: buildifier

Setup proper python container platform
  BUILD.bazel
  defs.bzl
  tools/python/BUILD.bazel
  tools/python/defs.bzl
Due: buildifier

Cleanup
  MODULE.bazel
  WORKSPACE.bzlmod
  python38_base_image.nix
  tools/bunq2ynab/BUILD.bazel
  tools/python/defs.bzl
Due: buildifier

Use higher python version
  python38_base_image.nix
Due: none

Fix list user test
  python38_base_image.nix
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Make it work on macOS
  MODULE.bazel
Due: buildifier

Working local bunq2ynab image
  MODULE.bazel
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Working cross compile
  MODULE.bazel
  tools/bunq2ynab/BUILD.bazel
  tools/python/defs.bzl
Due: buildifier

rename python
  WORKSPACE.bzlmod
  python310_base_image.nix
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Fix requirement helper
  infrastructure/BUILD.bazel
  occupancy_component/BUILD.bazel
  provisioner/BUILD.bazel
  tools/black/BUILD.bazel
  tools/pyinfra/defs.bzl
  tools/pytest/pytest.bzl
  tools/python/defs.bzl
Due: buildifier

Try pip downloader somoe more
  MODULE.bazel
Due: buildifier

Try setup pycross with pdm
  WORKSPACE.bzlmod
  devbox.json
  devbox.lock
  pdm.lock
  pyproject.toml
Due: prettier, buildifier

Created "pdm-setup_lock.bzl" file
  BUILD.bazel
  WORKSPACE.bzlmod
  lefthook.yml
  pdm-setup_lock.bzl
  pdm.lock
Due: prettier, buildifier

Use pycross for python requirements
  WORKSPACE.bzlmod
  infrastructure/BUILD.bazel
  occupancy_component/BUILD.bazel
  provisioner/BUILD.bazel
  tools/black/BUILD.bazel
  tools/pyinfra/defs.bzl
  tools/pytest/pytest.bzl
Due: buildifier

Download arm64 wheels instead of building
  .bazelversion
  BUILD.bazel
  pdm-setup_lock.bzl
  tools/bunq2ynab/BUILD.bazel
  tools/python/defs.bzl
Due: buildifier

Download wheel for home assistant bluetooth for amd64
  BUILD.bazel
  pdm-setup_lock.bzl
Due: buildifier

Fix building sdists
  BUILD.bazel
  WORKSPACE.bzlmod
  pdm-setup_lock.bzl
  pdm.lock
  pyproject.toml
Due: buildifier

Working //occupancy_component:test build
  BUILD.bazel
  pdm-setup_lock.bzl
  pdm.lock
  pyproject.toml
Due: buildifier

Fix building docker image with tar
  MODULE.bazel
  devbox.json
Due: prettier, buildifier

Cleanup
  BUILD.bazel
  MODULE.bazel
  pdm-setup_lock.bzl
Due: buildifier

Remove dependencies
  pdm-setup_lock.bzl
  pdm.lock
  pyproject.toml
Due: buildifier

Remove packages from base image
  python310_base_image.nix
Due: none

Setup diff test
  BUILD.bazel
Due: buildifier

More cleanup
  requirements.in
  requirements.txt
  setup_ci.sh
Due: none

refactor: Remove unsed platforms attribute
  rules/rules_task/defs.bzl
Due: buildifier

Include refactor in release
  rules/rules_task/.releaserc
Due: none

refactor: Remove unused platforms attribute (#598)
  rules/rules_task/.releaserc
  rules/rules_task/defs.bzl
Due: buildifier
