Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

black:
  run: black {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

buildifier:
  run: buildifier {staged_files}
  stage_fixed: true

Remove ignore
  .gitignore
  provisioner/BUILD.bazel
  rules/rules_release/tools/bazel-differ/BUILD.bazel
  rules/rules_release/tools/bazel-differ/bazel_differ_change_cli.mjs
  rules/rules_release/tools/bazel-differ/lib/actions/BazelDifferChangeAction.mjs
  rules/rules_release/tools/bazel-differ/lib/repositories/BazelDifferRepository.mjs
  rules/rules_release/tools/private/release_bazel_differ.bzl
Due: buildifier

Move .github dependency
  .github/workflows/deploy.yml
  provisioner/BUILD.bazel
Due: prettier, buildifier

remove commit
  rules/rules_release/tools/bazel-differ/lib/repositories/BazelDifferRepository.mjs
Due: none

Remove
  BUILD.bazel
Due: buildifier

Add todo
  rules/rules_release/tools/bazel-differ/lib/repositories/BazelDifferRepository.mjs
Due: none

change implementation
  rules/rules_release/tools/bazel-differ/lib/repositories/BazelDifferRepository.mjs
Due: none

Add back additional args
  rules/rules_release/tools/bazel-differ/bazel_differ_change_cli.mjs
  rules/rules_release/tools/bazel-differ/lib/actions/BazelDifferChangeAction.mjs
  rules/rules_release/tools/bazel-differ/lib/repositories/BazelDifferRepository.mjs
Due: none

Fix
  rules/rules_release/tools/bazel-differ/lib/actions/BazelDifferChangeAction.mjs
Due: none

More propagation
  rules/rules_release/tools/private/release_bazel_differ.bzl
Due: buildifier

Rename args
  rules/rules_release/tools/bazel-differ/lib/repositories/BazelDifferRepository.mjs
  rules/rules_release/tools/bazel_diff_change_cli.mjs
  rules/rules_release/tools/private/release_bazel_differ.bzl
Due: buildifier

Try
  rules/rules_release/tools/private/release_bazel_differ.bzl
Due: buildifier

fix another typo
  rules/rules_release/tools/bazel-differ/bazel_differ_change_cli.mjs
Due: none

Restore
  rules/rules_release/tools/private/release_bazel_differ.bzl
Due: buildifier

Cleanup
  rules/rules_release/tools/bazel_diff_change_cli.mjs
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Fix reference
  rules/rules_release/tools/private/release_bazel_diff.bzl
Due: buildifier

Add changesets
  .changeset/rules_release-proud-lamps-fold-2.md
  .changeset/rules_release-proud-lamps-fold.md
Due: prettier

Remove caching for now
  .github/actions/setup-bazel/action.yml
Due: prettier

feat: Add release_bazel_differ (#636)
  .changeset/rules_release-proud-lamps-fold-2.md
  .changeset/rules_release-proud-lamps-fold.md
  .github/actions/setup-bazel/action.yml
  .github/workflows/deploy.yml
  .gitignore
  BUILD.bazel
  home-assistant/zigbee2mqtt-data/configuration.yaml
  provisioner/BUILD.bazel
  rules/rules_release/BUILD.bazel
  rules/rules_release/MODULE.bazel
  rules/rules_release/release/private/utils.bzl
  rules/rules_release/release/repositories.bzl
  rules/rules_release/tools/bazel-differ/BUILD.bazel
  rules/rules_release/tools/bazel-differ/bazel_differ_change_cli.mjs
  rules/rules_release/tools/bazel-differ/lib/actions/BazelDifferChangeAction.mjs
  rules/rules_release/tools/bazel-differ/lib/repositories/BazelDifferRepository.mjs
  rules/rules_release/tools/defs.bzl
  rules/rules_release/tools/private/release_bazel_diff.bzl
  rules/rules_release/tools/private/release_bazel_differ.bzl
  tools/bunq2ynab/BUILD.bazel
Due: prettier, buildifier

chore(release_manager): update release files
  .changeset/rules_release-proud-lamps-fold-2.md
  .changeset/rules_release-proud-lamps-fold.md
  rules/rules_release/CHANGELOG.md
  rules/rules_release/version.txt
Due: prettier

add prod list user
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Working testvm
  devbox.json
  devbox.lock
  testvm.yml
Due: prettier

Working with bridge
  ips.md
  nad.yml
  testvm.yml
Due: prettier

Only using a multus interface
  testvm.yml
Due: prettier

Esphome update
  dv.yaml
  home-assistant/esphome-data/.base.yaml
  home-assistant/zigbee2mqtt-data/configuration.yaml
  testvm.yml
Due: prettier

Set debug component
  home-assistant/esphome-data/.base.yaml
Due: prettier

Try to run haos
  home-assistant/docker-compose.yml
  hypervisor/configuration.nix
  testvm.yml
Due: prettier

Remove another device
  home-assistant/zigbee2mqtt-data/configuration.yaml
Due: prettier

Working haos vm
  kubevirt_cr.yml
  testvm.yml
Due: prettier

Pass skyconnect to haos
  hypervisor/BUILD.bazel
  hypervisor/configuration.nix
  kubevirt_cr.yml
  testvm.yml
Due: prettier, buildifier

not yet working
  kubevirt_cr.yml
  testvm.yml
Due: prettier

Disable auto reboot for now in esphome
  home-assistant/esphome-data/.base.yaml
Due: prettier

Create flake
  hypervisor/flake.nix
Due: none

Updated deploy task
  hypervisor/BUILD.bazel
  hypervisor/flake.lock
Due: buildifier

Small update
  hypervisor/BUILD.bazel
Due: buildifier

Remove reboot_timeout
  home-assistant/esphome-data/.base.yaml
Due: prettier

Remove matter and find3
  home-assistant/docker-compose.yml
Due: prettier

Add homeassistant key
  workstation/deploys/ssh/files/config/1Password/ssh/agent.toml
Due: none

Setup mutagen sync
  haos/automations.yaml
  haos/blueprints/automation/homeassistant/motion_light.yaml
  haos/blueprints/automation/homeassistant/notify_leaving_zone.yaml
  haos/blueprints/script/homeassistant/confirmable_notification.yaml
  haos/configuration.yaml
  haos/scenes.yaml
  haos/scripts.yaml
  haos/secrets.yaml
  mutagen.yml
Due: prettier

Migrated homekit bridge to haos
  .gitignore
  haos/configuration.yaml
  home-assistant/config/configuration.yaml
Due: prettier

Path conditions:
  black: any of: *.{py}
  prettier: any of: *.{yml,yaml,json,md}
  buildifier: any of: *.{bazel,bzl,bzlmod}
