Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

lefthook.yml:

all:
  commands:
    black:
      run: black --force-exclude=/home-assistant\/config\/custom_components --check {all_files}
      glob: "*.{py}"
    prettier:
      run: prettier --check {all_files}
      glob: "*.{yml,yaml,json,md,js}"
    buildifier:
      run: buildifier -mode check {all_files}
      glob: "*.{bazel,bzl,bzlmod}"
      exclude: "pdm_lock.bzl"

pre-commit:
  commands:
    black:
      run: black {staged_files}
      glob: "*.{py}"
      stage_fixed: true
    prettier:
      run: prettier --write {staged_files}
      glob: "*.{yml,yaml,json,md,js}"
      stage_fixed: true
    buildifier:
      run: buildifier {staged_files}
      glob: "*.{bazel,bzl,bzlmod}"
      stage_fixed: true
      exclude: "pdm_lock.bzl"

poc dagger
  dagger.json
  dagger/.gitattributes
  dagger/.gitignore
  dagger/pyproject.toml
  dagger/requirements.lock
  dagger/src/main/__init__.py
  workstation/deploys/terminal/files/zshrc
Due: prettier

working docker example
  dagger.json
  dagger/src/main/__init__.py
  example/configuration.nix
Due: prettier

feat(workstation): Update setup instructions
  workstation/README.md
Due: prettier

Update README.md
  workstation/README.md
Due: prettier

Add trunk
  .github/workflows/test.yml
  .github/workflows/trunk-check.yaml
  .trunk/.gitignore
  .trunk/configs/.hadolint.yaml
  .trunk/configs/.isort.cfg
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint.yaml
  .trunk/configs/ruff.toml
  .trunk/trunk.yaml
  .vscode/extensions.json
  .vscode/settings.json
  devbox.json
  devbox.lock
  lefthook.yml
Due: prettier

fix lint
  workstation/README.md
Due: prettier

Add more runtimes
  .trunk/trunk.yaml
Due: prettier

Add trunk tools
  .trunk/trunk.yaml
  Taskfile.yml
  workstation/deploys/terminal/files/terminal_env
  workstation/deploys/terminal/files/zshrc
Due: prettier

Skaffold devenv project
  .gitignore
  Taskfile.yml
  devenv/README.md
  devenv/deploy.py
  devenv/deploys/editor/files/keybindings.json
  devenv/deploys/editor/files/settings.json
  devenv/deploys/editor/tasks/install_editor.py
  devenv/deploys/languages/files/tool-versions
  devenv/deploys/languages/tasks/install_languages.py
  devenv/deploys/ssh/files/config/1Password/ssh/agent.toml
  devenv/deploys/ssh/files/gitconfig
  devenv/deploys/ssh/files/ssh/config
  devenv/deploys/ssh/tasks/install_ssh.py
  devenv/deploys/terminal/files/bash_profile
  devenv/deploys/terminal/files/bashrc
  devenv/deploys/terminal/files/config/atuin/config.toml
  devenv/deploys/terminal/files/iterm2/Snazzy-profile.json
  devenv/deploys/terminal/files/iterm2/Snazzy.itermcolors
  devenv/deploys/terminal/files/profile
  devenv/deploys/terminal/files/sheldon/plugins.lock
  devenv/deploys/terminal/files/sheldon/plugins.toml
  devenv/deploys/terminal/files/shell_snippets/benchmark.sh
  devenv/deploys/terminal/files/terminal_env
  devenv/deploys/terminal/files/zprofile
  devenv/deploys/terminal/files/zshrc
  devenv/deploys/terminal/tasks/install_terminal.py
  devenv/deploys/utilities/tasks/install_utilities.py
  devenv/deploys/workflow/tasks/install_workflow.py
  devenv/inventory.py
  devenv/poetry.lock
  devenv/pyproject.toml
  pyproject.toml
Due: prettier

Working skaffold
  .trunk/trunk.yaml
  Taskfile.yml
  devenv/.gitignore
  devenv/deploy.py
  devenv/deploys/terminal/tasks/install_terminal.py
  devenv/pdm.lock
  devenv/poetry.lock
  devenv/pyproject.toml
Due: prettier

Remove terminal files
  devenv/README.md
  devenv/deploy.py
  devenv/deploys/terminal/files/bash_profile
  devenv/deploys/terminal/files/bashrc
  devenv/deploys/terminal/files/config/atuin/config.toml
  devenv/deploys/terminal/files/iterm2/Snazzy-profile.json
  devenv/deploys/terminal/files/iterm2/Snazzy.itermcolors
  devenv/deploys/terminal/files/profile
  devenv/deploys/terminal/files/sheldon/plugins.lock
  devenv/deploys/terminal/files/sheldon/plugins.toml
  devenv/deploys/terminal/files/shell_snippets/benchmark.sh
  devenv/deploys/terminal/files/terminal_env
  devenv/deploys/terminal/files/zprofile
  devenv/deploys/terminal/files/zshrc
  devenv/deploys/terminal/tasks/install_terminal.py
  devenv/deploys/workflow/tasks/install_workflow.py
Due: prettier

fix installing editor
  devenv/README.md
  devenv/deploys/editor/tasks/install_editor.py
  devenv/helpers/home_link.py
  devenv/helpers/macos.py
Due: prettier

updated terminal files
  devenv/deploys/terminal/files/.bash_profile
  devenv/deploys/terminal/files/.bashrc
  devenv/deploys/terminal/files/.profile
  devenv/deploys/terminal/files/.terminal_env
  devenv/deploys/terminal/files/.zprofile
  devenv/deploys/terminal/files/.zshrc
  devenv/deploys/terminal/tasks/install_terminal.py
Due: none

simplify terminal setup
  devenv/deploys/terminal/files/.bashrc
  devenv/deploys/terminal/files/.terminal_env
  devenv/deploys/terminal/files/.zshrc
Due: none

Add zoxide to terminal setup
  devenv/deploys/terminal/files/.bashrc
  devenv/deploys/terminal/files/.terminal_env
  devenv/deploys/terminal/files/.zshrc
  devenv/deploys/terminal/tasks/install_terminal.py
Due: none

Setup SSH config
  Taskfile.yml
  devenv/deploy.py
  devenv/deploys/editor/files/settings.json
  devenv/deploys/languages/files/tool-versions
  devenv/deploys/languages/tasks/install_languages.py
  devenv/deploys/ssh/files/.config/1Password/ssh/agent.toml
  devenv/deploys/ssh/files/.gitconfig
  devenv/deploys/ssh/files/.ssh/config
  devenv/deploys/ssh/tasks/install_ssh.py
Due: prettier

Working SSH
  devenv/deploys/editor/tasks/install_editor.py
  devenv/deploys/ssh/files/etc/ssh/sshd_config.d/200-devenv.conf
  devenv/deploys/ssh/tasks/install_ssh.py
  devenv/deploys/terminal/tasks/install_terminal.py
  devenv/helpers/symlink.py
Due: none

working workflow installation
  devenv/deploy.py
Due: none

Install utilities
  devenv/README.md
  devenv/deploy.py
  devenv/deploys/utilities/tasks/install_utilities.py
Due: prettier

fix installing utilities on devenv
  devenv/deploys/utilities/tasks/install_utilities.py
Due: none

create bootstrap file
  devenv/README.md
  devenv/bootstrap.sh
  devenv/deploys/utilities/tasks/install_utilities.py
Due: prettier

fix typo
  devenv/bootstrap.sh
Due: none

Install discord and slack as well
  devenv/deploys/utilities/tasks/install_utilities.py
Due: none

Better bootstrap with gum
  devenv/bootstrap.sh
  devenv/deploys/editor/files/settings.json
Due: prettier

Small improvements
  devenv/bootstrap.sh
Due: none

Improve
  devenv/bootstrap.sh
Due: none

Fix linter issues
  devenv/README.md
  devenv/bootstrap.sh
  devenv/deploys/editor/tasks/install_editor.py
  devenv/deploys/ssh/tasks/install_ssh.py
  devenv/deploys/utilities/tasks/install_utilities.py
Due: prettier

add gum to trunk
  .trunk/trunk.yaml
Due: prettier

remove workstation
  devenv/README.md
  workstation/BUILD.bazel
  workstation/README.md
  workstation/bootstrap.sh
  workstation/controls/workstation.rb
  workstation/deploy.py
  workstation/deploys/editor/files/keybindings.json
  workstation/deploys/editor/files/settings.json
  workstation/deploys/editor/tasks/install_editor.py
  workstation/deploys/languages/files/tool-versions
  workstation/deploys/languages/tasks/install_languages.py
  workstation/deploys/ssh/files/config/1Password/ssh/agent.toml
  workstation/deploys/ssh/files/gitconfig
  workstation/deploys/ssh/files/ssh/config
  workstation/deploys/ssh/tasks/install_ssh.py
  workstation/deploys/terminal/files/bash_profile
  workstation/deploys/terminal/files/bashrc
  workstation/deploys/terminal/files/config/atuin/config.toml
  workstation/deploys/terminal/files/iterm2/Snazzy-profile.json
  workstation/deploys/terminal/files/iterm2/Snazzy.itermcolors
  workstation/deploys/terminal/files/profile
  workstation/deploys/terminal/files/sheldon/plugins.lock
  workstation/deploys/terminal/files/sheldon/plugins.toml
  workstation/deploys/terminal/files/shell_snippets/benchmark.sh
  workstation/deploys/terminal/files/terminal_env
  workstation/deploys/terminal/files/zprofile
  workstation/deploys/terminal/files/zshrc
  workstation/deploys/terminal/tasks/install_terminal.py
  workstation/deploys/utilities/tasks/install_utilities.py
  workstation/deploys/workflow/tasks/install_workflow.py
  workstation/helpers/home_link.py
  workstation/helpers/macos.py
  workstation/helpers/onepassword.py
  workstation/inspec.yml
  workstation/inventory.py
Due: prettier, buildifier

update teleport version
  provisioner/deploys/teleport/tasks/install_teleport.py
Due: none

add aws vpn
  .vscode/extensions.json
  devenv/deploys/utilities/tasks/install_utilities.py
Due: prettier

Set default browser
  Taskfile.yml
  devenv/deploys/editor/files/settings.json
  devenv/deploys/utilities/tasks/install_utilities.py
Due: prettier

Print next steps in bootstrap script
  devenv/README.md
  devenv/bootstrap.sh
Due: prettier

Add changeset for provisioner
  .changeset/provisioner-serious-bugs-own.md
Due: prettier

fix lint
  .changeset/provisioner-serious-bugs-own.md
Due: prettier

undo provisioner changes
  .changeset/provisioner-serious-bugs-own.md
  provisioner/deploys/teleport/tasks/install_teleport.py
Due: prettier

Disable deploy_test for now
  provisioner/BUILD.bazel
Due: buildifier

Improve pdm usage
  .trunk/trunk.yaml
  Taskfile.yml
Due: prettier

upgrade provisioner
  provisioner/deploys/teleport/tasks/install_teleport.py
Due: none
