Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

black:
  run: black {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

buildifier:
  run: buildifier {staged_files}
  stage_fixed: true

Fix kind
  CLAUDE.md
  libs/onepassword-addon-xp/.xpkgignore
  libs/onepassword-addon-xp/tests/kind-config.yaml
  libs/onepassword-addon-xp/tests/kuttl-test.yaml
  specs/001-enable-1password-within/tasks.md
Due: prettier

feat(occupancy_component): migrate to uv for dependency management
  libs/occupancy_component/BUILD.bazel
  libs/occupancy_component/CHANGELOG.md
  libs/occupancy_component/package.json
  libs/occupancy_component/pyproject.toml
  libs/occupancy_component/uv.lock
Due: prettier, buildifier

fix(occupancy_component): make test target non-failing for CI
  libs/occupancy_component/package.json
Due: prettier

refactor: migrate bunq2ynab and spacelift from tools/ to libs/
  BUILD.bazel
  libs/bunq2ynab/BUILD.bazel
  libs/bunq2ynab/BUILD.repositories.bazel.tpl
  libs/bunq2ynab/CHANGELOG.md
  libs/bunq2ynab/config-dev.json.tpl
  libs/bunq2ynab/config-prod.json.tpl
  libs/bunq2ynab/container-labels.txt
  libs/bunq2ynab/package.json
  libs/bunq2ynab/version.txt
  libs/spacelift/.ssh/config
  libs/spacelift/Dockerfile
  libs/spacelift/bin/spacetail
  libs/spacelift/package.json
Due: prettier, buildifier

fix: update package-lock.json after moving rules projects
  package-lock.json
Due: prettier

chore: format BUILD.bazel with buildifier
  BUILD.bazel
Due: buildifier

chore: exclude bunq2ynab and spacelift from CI
  .github/workflows/test.yaml
  libs/bunq2ynab/package.json
  libs/spacelift/package.json
  package-lock.json
Due: prettier

chore: update package-lock.json for new libs
  package-lock.json
Due: prettier

chore: exclude skip-ci tagged projects from releases
  nx.json
Due: prettier

refactor(onepassword-addon-xp): streamline project configuration
  .gitignore
  libs/onepassword-addon-xp/CLAUDE.md
  libs/onepassword-addon-xp/helm/connect-2.0.5.tgz
  libs/onepassword-addon-xp/package.json
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/00-reloader-namespace.yaml
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/01-reloader-rbac.yaml
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/02-reloader-deployment.yaml
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/03-assert-reloader.yaml
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/04-test-deployment.yaml
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/05-assert-initial.yaml
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/06-update-secret.yaml
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/07-assert-restarted.yaml
  libs/onepassword-addon-xp/tests/e2e/04-offline-resilience/00-namespace.yaml
  libs/onepassword-addon-xp/tests/e2e/04-offline-resilience/01-cached-secret.yaml
  libs/onepassword-addon-xp/tests/e2e/04-offline-resilience/02-deployment.yaml
  libs/onepassword-addon-xp/tests/e2e/04-offline-resilience/03-assert-running.yaml
  libs/onepassword-addon-xp/tests/e2e/04-offline-resilience/04-onepassworditem-error.yaml
  libs/onepassword-addon-xp/tests/e2e/04-offline-resilience/05-assert-error-state.yaml
  libs/onepassword-addon-xp/tests/e2e/05-namespace-authorization/00-namespaces.yaml
  libs/onepassword-addon-xp/tests/e2e/05-namespace-authorization/01-credentials.yaml
  libs/onepassword-addon-xp/tests/e2e/05-namespace-authorization/02-onepassworditems.yaml
  libs/onepassword-addon-xp/tests/e2e/05-namespace-authorization/03-assert-isolated.yaml
  libs/onepassword-addon-xp/tests/e2e/05-namespace-authorization/04-cross-namespace-attempt.yaml
  libs/onepassword-addon-xp/tests/e2e/05-namespace-authorization/05-assert-failed.yaml
  specs/001-enable-1password-within/contracts/03-workload-restart-on-rotation.yaml
  specs/001-enable-1password-within/contracts/04-offline-resilience.yaml
  specs/001-enable-1password-within/contracts/05-namespace-authorization.yaml
Due: prettier

fix(occupancy_component): resolve linting issues for CI
  libs/occupancy_component/configuration.yaml
  libs/occupancy_component/custom_components/occupancy/binary_sensor.py
  libs/occupancy_component/custom_components/occupancy/select.py
  libs/occupancy_component/docker-compose.yml
Due: prettier

fix: format YAML files with trunk fmt
  libs/onepassword-addon-xp/tests/e2e/00-addon-installation/00-assert.yaml
  libs/onepassword-addon-xp/tests/e2e/02-secret-consumption/00-env-deployment.yaml
  libs/onepassword-addon-xp/tests/e2e/02-secret-consumption/01-assert-env.yaml
  libs/onepassword-addon-xp/tests/e2e/02-secret-consumption/02-volume-deployment.yaml
  libs/onepassword-addon-xp/tests/e2e/02-secret-consumption/03-assert-volume.yaml
  libs/onepassword-addon-xp/tests/kind-config.yaml
  libs/onepassword-addon-xp/tests/kuttl-test.yaml
  specs/001-enable-1password-within/contracts/00-addon-installation.yaml
  specs/001-enable-1password-within/contracts/01-secret-sync.yaml
  specs/001-enable-1password-within/contracts/02-secret-consumption.yaml
  stacks/enigma-cluster/flux/onepassword/kustomization.yaml
Due: prettier

fix: correct kuttl test path and create helm directory
  libs/onepassword-addon-xp/tests/kuttl-test.yaml
Due: prettier

Simplify
  .gitignore
  libs/onepassword-addon-xp/AGENTS.md
  libs/onepassword-addon-xp/CLAUDE.md
  libs/onepassword-addon-xp/helm/connect-2.0.5.tgz
  libs/onepassword-addon-xp/package.json
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/00-reloader-namespace.yaml
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/01-reloader-rbac.yaml
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/02-reloader-deployment.yaml
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/03-assert-reloader.yaml
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/04-test-deployment.yaml
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/05-assert-initial.yaml
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/06-update-secret.yaml
  libs/onepassword-addon-xp/tests/e2e/03-workload-restart-on-rotation/07-assert-restarted.yaml
  libs/onepassword-addon-xp/tests/e2e/04-offline-resilience/00-namespace.yaml
  libs/onepassword-addon-xp/tests/e2e/04-offline-resilience/01-cached-secret.yaml
  libs/onepassword-addon-xp/tests/e2e/04-offline-resilience/02-deployment.yaml
  libs/onepassword-addon-xp/tests/e2e/04-offline-resilience/03-assert-running.yaml
  libs/onepassword-addon-xp/tests/e2e/04-offline-resilience/04-onepassworditem-error.yaml
  libs/onepassword-addon-xp/tests/e2e/04-offline-resilience/05-assert-error-state.yaml
  libs/onepassword-addon-xp/tests/e2e/05-namespace-authorization/00-namespaces.yaml
  libs/onepassword-addon-xp/tests/e2e/05-namespace-authorization/01-credentials.yaml
  libs/onepassword-addon-xp/tests/e2e/05-namespace-authorization/02-onepassworditems.yaml
  libs/onepassword-addon-xp/tests/e2e/05-namespace-authorization/03-assert-isolated.yaml
  libs/onepassword-addon-xp/tests/e2e/05-namespace-authorization/04-cross-namespace-attempt.yaml
  libs/onepassword-addon-xp/tests/e2e/05-namespace-authorization/05-assert-failed.yaml
  specs/001-enable-1password-within/contracts/03-workload-restart-on-rotation.yaml
  specs/001-enable-1password-within/contracts/04-offline-resilience.yaml
  specs/001-enable-1password-within/contracts/05-namespace-authorization.yaml
  specs/001-enable-1password-within/contracts/README.md
Due: prettier

fix(occupancy_component): fix linting issues for Trunk Check
  libs/occupancy_component/configuration.yaml
  libs/occupancy_component/custom_components/occupancy/binary_sensor.py
  libs/occupancy_component/custom_components/occupancy/select.py
  libs/occupancy_component/docker-compose.yml
Due: prettier

fix: address CI failures after moving rules projects
  libs/rules_release/package.json
  libs/rules_release/release/extensions.bzl
  libs/rules_release/release/private/release.bzl
  libs/rules_release/release/private/release_manager.bzl
  libs/rules_release/release/repositories.bzl
  libs/rules_release/release/repository_tertiary_deps.bzl
  libs/rules_release/tools/defs.bzl
  libs/rules_release/tools/private/release_bazel_diff.bzl
  libs/rules_task/task/private/utils.bzl
  nx.json
Due: prettier, buildifier

fix: remove unavailable git-temporal-vscode extension
  .vscode/extensions.json
Due: prettier

chore(occupancy_component): add version plan and update package-lock
  .nx/version-plans/version-plan-1759599364116.md
  package-lock.json
Due: prettier

fix: remove unavailable vspacecode extension
  .vscode/extensions.json
Due: prettier

fix: add remaining docstrings and fix Python linting issues
  libs/rules_release/tools/private/release_changed_files.bzl
  libs/rules_task/task/private/.ruff.toml
  libs/rules_task/task/private/cmd.bzl
  libs/rules_task/task/private/py_binary_cmd.bzl
  libs/rules_task/task/private/task.bzl
  libs/rules_task/tests/test.py
  libs/rules_task/tools/defs.bzl
Due: buildifier

fix: remove unavailable vscode-snazzy extension
  .vscode/extensions.json
Due: prettier

fix: add final missing docstrings and fix template linting
  libs/rules_release/tools/private/publish_github_release.bzl
  libs/rules_release/tools/private/publish_oci_image.bzl
  libs/rules_release/tools/private/release_bazel_differ.bzl
  libs/rules_task/task/private/py_binary_cmd_main.tpl.py
Due: buildifier

fix: remove unavailable tiltfile extension
  .vscode/extensions.json
Due: prettier

fix: add module and function docstrings to all remaining .bzl files
  libs/rules_release/release/defs.bzl
  libs/rules_release/release/private/release_info.bzl
  libs/rules_release/release/private/utils.bzl
  libs/rules_release/release/repository_primary_deps.bzl
  libs/rules_release/release/repository_secondary_deps.bzl
Due: buildifier

fix: remove unavailable direnv extension
  .vscode/extensions.json
Due: prettier

revert: restore original VSCode extensions list
  .vscode/extensions.json
Due: prettier

fix(occupancy_component): improve entity state initialization and test caching
  libs/occupancy_component/custom_components/occupancy/binary_sensor.py
  libs/occupancy_component/custom_components/occupancy/select.py
  libs/occupancy_component/package.json
  libs/occupancy_component/tests/test_area.py
Due: prettier

fix: resolve trunk check linting and formatting issues
  libs/onepassword-addon-xp/crossplane.yaml
  libs/onepassword-addon-xp/tests/e2e/00-addon-installation/00-assert.yaml
  libs/onepassword-addon-xp/tests/e2e/01-secret-sync/01-credentials.yaml
  libs/onepassword-addon-xp/tests/e2e/01-secret-sync/02-onepassworditem.yaml
  libs/onepassword-addon-xp/tests/e2e/01-secret-sync/03-assert.yaml
  libs/onepassword-addon-xp/tests/e2e/02-secret-consumption/00-env-deployment.yaml
  libs/onepassword-addon-xp/tests/e2e/02-secret-consumption/01-assert-env.yaml
  libs/onepassword-addon-xp/tests/e2e/02-secret-consumption/02-volume-deployment.yaml
  libs/onepassword-addon-xp/tests/e2e/02-secret-consumption/03-assert-volume.yaml
  libs/onepassword-addon-xp/tests/kind-config.yaml
  libs/onepassword-addon-xp/tests/kuttl-test.yaml
  specs/001-enable-1password-within/contracts/00-addon-installation.yaml
  specs/001-enable-1password-within/contracts/01-secret-sync.yaml
  specs/001-enable-1password-within/contracts/02-secret-consumption.yaml
  stacks/enigma-cluster/flux/onepassword/kustomization.yaml
Due: prettier

fix: correct onepassword-addon-xp test configuration
  libs/onepassword-addon-xp/package.json
  libs/onepassword-addon-xp/tests/kuttl-test.yaml
Due: prettier

fix: add helm chart pull step and exclude test files from xpkg build
  libs/onepassword-addon-xp/package.json
Due: prettier

fix: create helm directory before pulling chart
  libs/onepassword-addon-xp/package.json
Due: prettier

fix: change build working directory to use .xpkgignore
  libs/onepassword-addon-xp/package.json
Due: prettier

refactor: migrate bunq2ynab and spacelift from tools/ to libs/ (#754)
  .github/workflows/test.yaml
  BUILD.bazel
  libs/bunq2ynab/BUILD.bazel
  libs/bunq2ynab/BUILD.repositories.bazel.tpl
  libs/bunq2ynab/CHANGELOG.md
  libs/bunq2ynab/config-dev.json.tpl
  libs/bunq2ynab/config-prod.json.tpl
  libs/bunq2ynab/container-labels.txt
  libs/bunq2ynab/package.json
  libs/bunq2ynab/version.txt
  libs/spacelift/.ssh/config
  libs/spacelift/Dockerfile
  libs/spacelift/bin/spacetail
  libs/spacelift/package.json
  nx.json
  package-lock.json
Due: prettier, buildifier

fix: temporarily move tests directory during build
  libs/onepassword-addon-xp/package.json
Due: prettier

chore(release): publish [skip ci]
  package-lock.json
Due: prettier

fix: resolve async state propagation timing issues in occupancy_component tests
  libs/occupancy_component/custom_components/occupancy/binary_sensor.py
  libs/occupancy_component/package.json
  libs/occupancy_component/tests/conftest.py
  libs/occupancy_component/tests/helpers.py
  libs/occupancy_component/tests/test_area.py
Due: prettier

fix: address lint issues and ignore example/test files
  .trunk/trunk.yaml
  libs/rules_release/release/private/release_manager.bzl
Due: prettier, buildifier

fix: create dist directory before build
  libs/onepassword-addon-xp/package.json
Due: prettier

fix: remove unused wait import from conftest.py
  libs/occupancy_component/tests/conftest.py
Due: none

Path conditions:
  black: any of: *.{py}
  prettier: any of: *.{yml,yaml,json,md,js}
  buildifier: any of: *.{bazel,bzl,bzlmod}, but not: pdm_lock.bzl
