Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

black:
  run: black {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

buildifier:
  run: buildifier {staged_files}
  stage_fixed: true

Load secret with 1Password
  .github/workflows/release.yml
Due: prettier

Use correct token
  .github/workflows/release.yml
Due: prettier

Speed up linting (hopefully)
  .github/workflows/test.yml
Due: prettier

feat: Configure semantic release (#577)
  .github/workflows/release.yml
  .github/workflows/test.yml
  rules/rules_task/.releaserc
  rules/rules_task/package.json
  rules/rules_task/pnpm-lock.yaml
  rules/rules_task/prepare-release.sh
Due: prettier

Fix permissions for release workflow
  .github/workflows/release.yml
  renovate.json
Due: prettier

Fix permissions for release workflow (#578)
  .github/workflows/release.yml
  renovate.json
Due: prettier

Notes added by 'git notes add'
  269777779fd458ca2636be711ef8f36bd36bebba
Due: none

Remove release target for now
  rules/rules_task/BUILD.bazel
  rules/rules_task/MODULE.bazel
Due: buildifier

fix: permissions for release workflow (#578)
  .github/workflows/release.yml
  renovate.json
Due: prettier

fix: Remove release target for now (#579)
  rules/rules_task/BUILD.bazel
  rules/rules_task/MODULE.bazel
Due: buildifier

Notes added by 'git notes add'
  40e76def554e15499af327a3b2fa83ab6d008654
Due: none

Update release config
  rules/rules_task/.releaserc
Due: none

build: Update release config (#580)
  rules/rules_task/.releaserc
Due: none

fix: Fix release by installing conventional commit package
  .github/workflows/release.yml
  renovate.json
  rules/rules_task/package.json
  rules/rules_task/pnpm-lock.yaml
Due: prettier

better dry run
  .github/workflows/release.yml
Due: prettier

debugging
  .github/workflows/test.yml
Due: prettier

fix dry run
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier

try some more
  .github/workflows/release.yml
Due: prettier

try even more
  .github/workflows/release.yml
Due: prettier

fix: Fix release by installing conventional commit package (#581)
  .github/workflows/release.yml
  renovate.json
  rules/rules_task/package.json
  rules/rules_task/pnpm-lock.yaml
Due: prettier

Notes added by 'git notes add'
  ce3d454ed2ef6607eb25bedd46b9b6d95f08b17b
Due: none

Try something new
  nix-build
  setup_ci.sh
Due: none

Remove sudo
  buildbuddy.yaml
Due: prettier

Add debugging
  setup_ci.sh
Due: none

check if docker exists
  nix-build
  setup_ci.sh
Due: none

Try to use docker proxy
  nix-build
  setup_ci.sh
Due: none

Make it work
  nix-build
Due: none

Again use installer
  nix-build
  setup_ci.sh
Due: none

More debugging
  setup_ci.sh
Due: none

debug
  setup_ci.sh
Due: none

root
  setup_ci.sh
Due: none

find
  setup_ci.sh
Due: none

Try even more
  setup_ci.sh
Due: none

where is the binary
  setup_ci.sh
Due: none

Try
  nix-build
  setup_ci.sh
Due: none

try
  nix-build
  setup_ci.sh
Due: none

more
  nix-build
  setup_ci.sh
Due: none

use regular nix-build
  setup_ci.sh
Due: none

make global available
  setup_ci.sh
Due: none

remove proper
  setup_ci.sh
Due: none

Path conditions:
  black: any of: *.{py}
  prettier: any of: *.{yml,yaml,json,md}
  buildifier: any of: *.{bazel,bzl,bzlmod}
