Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

black:
  run: black {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

buildifier:
  run: buildifier {staged_files}
  stage_fixed: true

Add comment
  hypervisor/configuration.nix
Due: none

Update teleport
  .changeset/provisioner-ten-parents-hide.md
Due: prettier

feat: Setup teleport ssh inside hypervisor (#643)
  .changeset/provisioner-ten-parents-hide.md
  haos/automations.yaml
  hypervisor/configuration.nix
  provisioner/deploys/teleport/tasks/install_teleport.py
Due: prettier

chore(release_manager): update release files
  .changeset/provisioner-ten-parents-hide.md
  provisioner/CHANGELOG.md
  provisioner/version.txt
Due: prettier

fix: Matter Thread stability
  haos/automations.yaml
  haos/cloud/haos_vm.yml
  hypervisor/configuration.nix
  ips.md
Due: prettier

Remove nanoleaf essentialsc
  thread_nodes.md
Due: prettier

Remove br0 ipv6 config
  hypervisor/configuration.nix
Due: none

Updated tp link devices with static ips
  ips.md
Due: prettier

setup occupance sensors for apple tvs
  haos/configuration.yaml
Due: prettier

Update presence of living room with t
  haos/automations.yaml
Due: prettier

Fix random turning on lights
  haos/automations.yaml
  haos/blueprints/automation/setup/auto_lights.yaml
  haos/blueprints/automation/setup/presence.yaml
Due: prettier

Replaced Unifi with TP-Link ap
  haos/automations.yaml
  ips.md
Due: prettier

Migrated unifi ap to tp-link living-room
  ips.md
Due: prettier

Migrate some more
  hypervisor/configuration.nix
  ips.md
Due: prettier

fix: Matter Thread stability (#644)
  haos/automations.yaml
  haos/blueprints/automation/setup/auto_lights.yaml
  haos/blueprints/automation/setup/presence.yaml
  haos/cloud/haos_vm.yml
  haos/configuration.yaml
  hypervisor/configuration.nix
  ips.md
  thread_nodes.md
Due: prettier

Improve occupancy logic
  WORKSPACE.bzlmod
  occupancy_component/Tiltfile
  occupancy_component/custom_components/occupancy/__init__.py
Due: buildifier

Working test for door presence
  occupancy_component/custom_components/occupancy/binary_sensor.py
  occupancy_component/tests/conftest.py
  occupancy_component/tests/test_init.py
Due: none

Also track door state
  occupancy_component/custom_components/occupancy/binary_sensor.py
  occupancy_component/tests/test_init.py
Due: none

Write test for closing door
  occupancy_component/tests/test_init.py
Due: none

Migrate garden ap
  ips.md
Due: prettier

Implement unknown state tests
  occupancy_component/BUILD.bazel
  occupancy_component/tests/conftest.py
  occupancy_component/tests/test_init.py
Due: buildifier

Add helper
  occupancy_component/tests/helpers.py
Due: none

Rewrite tests so test entities actually exist
  occupancy_component/tests/conftest.py
  occupancy_component/tests/test_init.py
Due: none

refactor tests
  occupancy_component/tests/conftest.py
  occupancy_component/tests/helpers.py
  occupancy_component/tests/test_init.py
Due: none

Redo presence calculation and add tests for motion
  occupancy_component/custom_components/occupancy/binary_sensor.py
  occupancy_component/tests/conftest.py
  occupancy_component/tests/helpers.py
  occupancy_component/tests/test_init.py
Due: none

Setup release manager for occupancy_component
  occupancy_component/BUILD.bazel
  occupancy_component/CHANGELOG.md
  occupancy_component/version.txt
Due: prettier, buildifier

Generate changesets
  .changeset/occupancy_component-shaggy-brooms-applaud-2.md
  .changeset/occupancy_component-shaggy-brooms-applaud-3.md
  .changeset/occupancy_component-shaggy-brooms-applaud.md
  BUILD.bazel
  occupancy_component/BUILD.bazel
Due: prettier, buildifier

feat: Add motion sensor into door entity logic (#646)
  .changeset/occupancy_component-shaggy-brooms-applaud-2.md
  .changeset/occupancy_component-shaggy-brooms-applaud-3.md
  .changeset/occupancy_component-shaggy-brooms-applaud.md
  BUILD.bazel
  WORKSPACE.bzlmod
  ips.md
  occupancy_component/BUILD.bazel
  occupancy_component/CHANGELOG.md
  occupancy_component/Tiltfile
  occupancy_component/custom_components/occupancy/__init__.py
  occupancy_component/custom_components/occupancy/binary_sensor.py
  occupancy_component/tests/conftest.py
  occupancy_component/tests/helpers.py
  occupancy_component/tests/test_init.py
  occupancy_component/version.txt
Due: prettier, buildifier

chore(release_manager): update release files
  .changeset/occupancy_component-shaggy-brooms-applaud-2.md
  .changeset/occupancy_component-shaggy-brooms-applaud-3.md
  .changeset/occupancy_component-shaggy-brooms-applaud.md
  occupancy_component/CHANGELOG.md
  occupancy_component/version.txt
Due: prettier

Setup boiletplate for select component
  occupancy_component/BUILD.bazel
  occupancy_component/configuration.yaml
  occupancy_component/custom_components/occupancy/__init__.py
  occupancy_component/custom_components/occupancy/select.py
  occupancy_component/tests/conftest.py
Due: prettier, buildifier

refactor binary_sensor class as well
  occupancy_component/custom_components/occupancy/binary_sensor.py
  occupancy_component/custom_components/occupancy/select.py
  occupancy_component/tests/test_init.py
Due: none

More cleanup
  occupancy_component/custom_components/occupancy/binary_sensor.py
Due: none

Start listening to door events
  occupancy_component/custom_components/occupancy/__init__.py
  occupancy_component/custom_components/occupancy/binary_sensor.py
  occupancy_component/custom_components/occupancy/select.py
Due: none

Use IdleTimer class
  occupancy_component/custom_components/occupancy/binary_sensor.py
Due: none

Trying to integration custom timer component
  occupancy_component/custom_components/occupancy/__init__.py
  occupancy_component/custom_components/occupancy/binary_sensor.py
  occupancy_component/custom_components/occupancy/select.py
  occupancy_component/custom_components/occupancy/timer.py
Due: none

Semi working pycross and rules python upgrade
  BUILD.bazel
  MODULE.bazel
  WORKSPACE.bzlmod
  devbox.json
  devbox.lock
  lefthook.yml
  pdm-setup_lock.bzl
  pdm_lock.bzl
  rules/rules_release/release/repositories.bzl
  rules/rules_task/MODULE.bazel
Due: prettier, buildifier

Try to build lru-dict
  BUILD.bazel
  pdm.lock
  pyproject.toml
  try_it.py
Due: buildifier

Try python version 3.12.0
  BUILD.bazel
  MODULE.bazel
  devbox.json
  devbox.lock
  pdm.lock
  pdm_lock.bzl
  pyproject.toml
  rules/rules_task/MODULE.bazel
Due: prettier, buildifier

Upgrade python to 3.12.0
  devbox.json
  devbox.lock
  pdm.lock
  pyproject.toml
Due: prettier

Working build for lru-dict
  BUILD.bazel
  MODULE.bazel
  pdm_lock.bzl
Due: buildifier

Path conditions:
  black: any of: *.{py}
  prettier: any of: *.{yml,yaml,json,md}
  buildifier: any of: *.{bazel,bzl,bzlmod}
