Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

lefthook.yml:

all:
  commands:
    black:
      run: black --force-exclude=/home-assistant\/config\/custom_components --check {all_files}
      glob: "*.{py}"
    prettier:
      run: prettier --check {all_files}
      glob: "*.{yml,yaml,json,md,js}"
    buildifier:
      run: buildifier -mode check {all_files}
      glob: "*.{bazel,bzl,bzlmod}"
      exclude: "pdm_lock.bzl"

pre-commit:
  commands:
    black:
      run: black {staged_files}
      glob: "*.{py}"
      stage_fixed: true
    prettier:
      run: prettier --write {staged_files}
      glob: "*.{yml,yaml,json,md,js}"
      stage_fixed: true
    buildifier:
      run: buildifier {staged_files}
      glob: "*.{bazel,bzl,bzlmod}"
      stage_fixed: true
      exclude: "pdm_lock.bzl"

fix lint
  apps/haos/blueprints/automation/setup/door_presence.yaml
Due: prettier

fix(haos): Fix bugs in babyroom sleep mode (#949)
  apps/haos/automations.yaml
  apps/haos/blueprints/automation/setup/door_presence.yaml
  apps/haos/configuration.yaml
Due: prettier

Fix typos: "persistant" → "persistent", "overriden" → "overridden"
  libs/pikvm-lxc/pikvm.yaml.pkrtpl.hcl
  libs/rules_release/release/private/utils.bzl
Due: buildifier

Updated DNS for enigma nodes
  apps/enigma-cozy/here-i-am.patch.yaml
  apps/enigma-cozy/illusion.patch.yaml
  apps/enigma-cozy/the-dome.patch.yaml
  apps/enigma-cozy/the-toy-factory.patch.yaml
  apps/haos/.HA_VERSION
  apps/haos/automations.yaml
Due: prettier

Configure openspec
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/propose.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  bin/.claude-code-2.1.73.pkg
  bin/.claude-code@latest.pkg
  bin/claude
  bin/openspec
  pnpm-lock.yaml
  third_party/javascript/tools/openspec/moon.yml
  third_party/javascript/tools/openspec/package.json
Due: prettier

Upgrade claude
  bin/.claude-code-2.1.114.pkg
  bin/claude
  third_party/hermit/claude-code.hcl
Due: none

feat(cluster-networking): add k8s_gateway ArgoCD app
  apps/argocd-apps/manifests/applicationset-pr.yaml
  apps/cluster-networking/k8s-gateway/Chart.lock
  apps/cluster-networking/k8s-gateway/Chart.yaml
  apps/cluster-networking/k8s-gateway/config.yaml
  apps/cluster-networking/k8s-gateway/values-prod.yaml
  apps/cluster-networking/k8s-gateway/values.yaml
  apps/cluster-networking/moon.yml
  openspec/changes/migrate-from-pihole-to-k8s-gateway/tasks.md
  third_party/vendir/charts/k8s-gateway/.helmignore
  third_party/vendir/charts/k8s-gateway/Chart.yaml
  third_party/vendir/charts/k8s-gateway/README.md
  third_party/vendir/charts/k8s-gateway/templates/_helper.tpl
  third_party/vendir/charts/k8s-gateway/templates/configmap.yaml
  third_party/vendir/charts/k8s-gateway/templates/deployment.yaml
  third_party/vendir/charts/k8s-gateway/templates/rbac.yaml
  third_party/vendir/charts/k8s-gateway/templates/service.yaml
  third_party/vendir/charts/k8s-gateway/templates/serviceaccount.yaml
  third_party/vendir/charts/k8s-gateway/tests/configmap_test.yaml
  third_party/vendir/charts/k8s-gateway/tests/deployment_test.yaml
  third_party/vendir/charts/k8s-gateway/tests/labels_test.yaml
  third_party/vendir/charts/k8s-gateway/tests/podAnnotations_test.yaml
  third_party/vendir/charts/k8s-gateway/tests/podSecurityContext_test.yaml
  third_party/vendir/charts/k8s-gateway/tests/rbac_test.yaml
  third_party/vendir/charts/k8s-gateway/tests/securityContext_test.yaml
  third_party/vendir/charts/k8s-gateway/values.yaml
  third_party/vendir/vendir.lock.yml
  third_party/vendir/vendir.yml
Due: prettier

spec for k8s_gateway
  openspec/changes/migrate-from-pihole-to-k8s-gateway/.openspec.yaml
  openspec/changes/migrate-from-pihole-to-k8s-gateway/design.md
  openspec/changes/migrate-from-pihole-to-k8s-gateway/proposal.md
  openspec/changes/migrate-from-pihole-to-k8s-gateway/specs/cluster-networking-dns/spec.md
  openspec/changes/migrate-from-pihole-to-k8s-gateway/tasks.md
Due: prettier

chore(openspec): record k8s_gateway PR smoke-test results
  openspec/changes/migrate-from-pihole-to-k8s-gateway/tasks.md
Due: prettier

feat(cluster-networking): add coredns-patch chart + pin k8s-gateway ClusterIP
  apps/cluster-networking/coredns-patch/Chart.yaml
  apps/cluster-networking/coredns-patch/config.yaml
  apps/cluster-networking/coredns-patch/templates/coredns-configmap.yaml
  apps/cluster-networking/coredns-patch/values-prod.yaml
  apps/cluster-networking/coredns-patch/values.yaml
  apps/cluster-networking/k8s-gateway/values-prod.yaml
  apps/cluster-networking/k8s-gateway/values.yaml
Due: prettier

fix(argocd-apps): merge syncOptions in one templatePatch block
  apps/argocd-apps/manifests/applicationset-pr.yaml
  apps/argocd-apps/manifests/applicationset-prod.yaml
Due: prettier

feat(cluster-networking): add tenant chart and stop self-managing namespaces
  apps/cluster-networking/coredns-patch/config.yaml
  apps/cluster-networking/k8s-gateway/config.yaml
  apps/cluster-networking/tenant/Chart.lock
  apps/cluster-networking/tenant/Chart.yaml
  apps/cluster-networking/tenant/config.yaml
  apps/cluster-networking/tenant/values-prod.yaml
  apps/cluster-networking/tenant/values.yaml
Due: prettier

fix(ci): make helm-platform generator preserve cluster/prUpdate flags
  .trunk/trunk.yaml
  apps/cluster-networking/coredns-patch/config.yaml
  apps/cluster-networking/k8s-gateway/config.yaml
  libs/helm-platform/src/helm_platform/generator.py
  libs/helm-platform/tests/test_generator.py
  third_party/vendir/vendir.lock.yml
Due: prettier

docs(openspec): narrow scope to in-cluster DNS, drop VLAN cutover tasks
  openspec/changes/migrate-from-pihole-to-k8s-gateway/design.md
  openspec/changes/migrate-from-pihole-to-k8s-gateway/proposal.md
  openspec/changes/migrate-from-pihole-to-k8s-gateway/specs/cluster-networking-dns/spec.md
  openspec/changes/migrate-from-pihole-to-k8s-gateway/tasks.md
Due: prettier

remove krew
  bin/.krew-0.4.5.pkg
  bin/kubectl-krew
Due: none

feat(enigma-cluster): retire pihole external-dns HelmRelease
  apps/enigma-cluster/helmrelease-external-dns-pihole.yaml
  apps/enigma-cluster/kustomization.yaml
  openspec/changes/migrate-from-pihole-to-k8s-gateway/tasks.md
Due: prettier

fix(cluster-networking): allow k8s_gateway egress to the kube-apiserver
  apps/cluster-networking/k8s-gateway/values-prod.yaml
Due: prettier

fix(cluster-networking): allow k8s_gateway egress to the kube-apiserver (#966)
  apps/cluster-networking/k8s-gateway/values-prod.yaml
Due: prettier

docs(openspec): record prod-rollout validation and Flux-prune blocker
  openspec/changes/migrate-from-pihole-to-k8s-gateway/tasks.md
Due: prettier

feat(internal-networking): tag generated gateway ingresses for k8s-gateway to ignore
  libs/internal-networking/templates/clusterpolicy-gateway-ingress.yaml
Due: prettier

feat(internal-networking): tag generated gateway ingresses for k8s-gateway to ignore (#968)
  libs/internal-networking/templates/clusterpolicy-gateway-ingress.yaml
Due: prettier

fix(enigma-cluster): drop docs-sync-infra to unblock Flux reconcile
  apps/enigma-cluster/kustomization.yaml
Due: prettier

remove more
  apps/enigma-cluster/helmrelease-k3k.yaml
  apps/enigma-cluster/kustomization.yaml
  third_party/hermit/k3kcli.hcl
  third_party/vendir/vendir.lock.yml
  third_party/vendir/vendir.yml
Due: prettier

also remove krk
  third_party/vendir/charts/k3k/.helmignore
  third_party/vendir/charts/k3k/Chart.yaml
  third_party/vendir/charts/k3k/templates/_helpers.tpl
  third_party/vendir/charts/k3k/templates/crds/k3k.io_clusters.yaml
  third_party/vendir/charts/k3k/templates/crds/k3k.io_virtualclusterpolicies.yaml
  third_party/vendir/charts/k3k/templates/deployment.yaml
  third_party/vendir/charts/k3k/templates/rbac.yaml
  third_party/vendir/charts/k3k/templates/service.yaml
  third_party/vendir/charts/k3k/templates/serviceaccount.yaml
  third_party/vendir/charts/k3k/values.yaml
Due: prettier

fix(devenv): remove orphaned k3kcli hermit symlinks
  bin/.k3kcli-1.0.2.pkg
  bin/k3kcli
  libs/devenv/goss.yaml
Due: prettier

fix(devenv): remove orphaned k3kcli hermit symlinks (#969)
  bin/.k3kcli-1.0.2.pkg
  bin/k3kcli
  libs/devenv/goss.yaml
Due: prettier

update dependencies
  libs/devenv/files/.chezmoidata/packages.yaml
Due: prettier

Upgrade Claude Code
  bin/.claude-code-2.1.131.pkg
  bin/claude
  third_party/hermit/claude-code.hcl
Due: none

Restore connection to gitlab
  libs/devenv/files/dot_ssh/private_setup_config
Due: none

Install microsandbox
  bin/.microsandbox-0.4.6.pkg
  bin/msb
  bin/packer
  third_party/hermit/microsandbox.hcl
Due: none

Created plan with necessary update
  plan.md
Due: prettier

Updated manifest
  third_party/hermit/microsandbox.hcl
Due: none

Add mise module to starship prompt
  libs/devenv/files/dot_config/starship.toml
Due: none
