Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

black:
  run: black {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

buildifier:
  run: buildifier {staged_files}
  stage_fixed: true

chore(release_manager): update release files
  provisioner/CHANGELOG.md
  provisioner/version.txt
  rules/rules_release/CHANGELOG.md
  rules/rules_release/version.txt
  rules/rules_task/CHANGELOG.md
  rules/rules_task/version.txt
  tools/bunq2ynab/CHANGELOG.md
  tools/bunq2ynab/version.txt
Due: prettier

Stop the infinite release
  BUILD.bazel
Due: buildifier

Fix nix package manager
  .github/workflows/test.yml
  BUILD.bazel
Due: prettier, buildifier

Try to debug
  .github/workflows/test.yml
Due: prettier

Make it work
  .github/workflows/test.yml
Due: prettier

Try
  .github/workflows/test.yml
Due: prettier

Try
  .github/actions/setup-bazel/action.yml
  .github/workflows/test.yml
Due: prettier

Fix it
  .github/actions/setup-bazel/action.yml
  .github/workflows/test.yml
Due: prettier

Yes
  .github/actions/setup-bazel/action.yml
Due: prettier

Don't use buildbuddy in github workflows
  .github/actions/setup-bazel/action.yml
  .github/workflows/deploy.yml
  .github/workflows/schedule.yml
  .github/workflows/test.yml
Due: prettier

Make it simpler
  BUILD.bazel
Due: buildifier

Use original push command
  BUILD.bazel
Due: buildifier

Remove todo
  BUILD.bazel
Due: buildifier

undo
  provisioner/CHANGELOG.md
  provisioner/version.txt
  rules/rules_release/CHANGELOG.md
  rules/rules_release/version.txt
  rules/rules_task/CHANGELOG.md
  rules/rules_task/version.txt
  tools/bunq2ynab/CHANGELOG.md
  tools/bunq2ynab/version.txt
Due: prettier

fix: Release Manager infinite deployment (#625)
  .github/actions/setup-bazel/action.yml
  .github/workflows/deploy.yml
  .github/workflows/schedule.yml
  BUILD.bazel
Due: prettier, buildifier

chore(release_manager): update release files
  .changeset/bunq2ynab-dull-radios-sniff.md
  .changeset/provisioner-tender-hounds-shout-2.md
  .changeset/provisioner-tender-hounds-shout.md
  .changeset/rules_release-heavy-laws-jam.md
  .changeset/rules_task-twenty-jeans-exist.md
  provisioner/CHANGELOG.md
  provisioner/version.txt
  rules/rules_release/CHANGELOG.md
  rules/rules_release/version.txt
  rules/rules_task/CHANGELOG.md
  rules/rules_task/version.txt
  tools/bunq2ynab/CHANGELOG.md
  tools/bunq2ynab/version.txt
Due: prettier

fix: Remove inputs from github action
  .github/actions/setup-bazel/action.yml
Due: prettier

Debug
  .github/workflows/schedule.yml
Due: prettier

add env
  .github/workflows/schedule.yml
Due: prettier

Remove debug
  .github/workflows/schedule.yml
Due: prettier

fix: Remove inputs from github action (#626)
  .github/actions/setup-bazel/action.yml
  .github/workflows/schedule.yml
Due: prettier

fixes to provisioner
  provisioner/BUILD.bazel
  provisioner/group_data/dev.py
  provisioner/group_data/prod.py
  provisioner/group_data/test.py
  tools/onepassword/lib.py
Due: buildifier

undo changes
  provisioner/BUILD.bazel
  tools/onepassword/lib.py
Due: buildifier

Path conditions:
  black: any of: *.{py}
  prettier: any of: *.{yml,yaml,json,md}
  buildifier: any of: *.{bazel,bzl,bzlmod}
