Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

black:
  run: black {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

buildifier:
  run: buildifier {staged_files}
  stage_fixed: true

Migrate package build definitions to bzlmod file
  BUILD.bazel
  MODULE.bazel
Due: buildifier

Downgrade to python 3.10 again
  MODULE.bazel
  devbox.json
  devbox.lock
  pdm.lock
  pdm_lock.bzl
  pyproject.toml
  rules/rules_task/MODULE.bazel
Due: prettier, buildifier

undo unrelated changes
  BUILD.bazel
  devbox.json
  devbox.lock
  lefthook.yml
  try_it.py
Due: prettier, buildifier

Remove lru-dict
  pdm.lock
  pyproject.toml
Due: none

Added more packages
  MODULE.bazel
  devbox.json
  devbox.lock
  occupancy_component/docker-compose.yml
  pdm.lock
  pyproject.toml
Due: prettier, buildifier

Update requirements file
  rules/rules_task/MODULE.bazel
  rules/rules_task/requirements.txt
Due: buildifier

Use ethernet pci card for haos
  haos/cloud/haos_vm.yml
  haos/cloud/kubevirt_cr.yml
  hypervisor/hardware-configuration.nix
Due: prettier

Make the test suite work locally on macOS
  MODULE.bazel
  wheels/BUILD.bazel
  wheels/bluetooth_data_tools-1.19.0-cp311-cp311-macosx_14_0_arm64.whl
  wheels/dbus_fast-2.21.1-cp311-cp311-macosx_14_0_arm64.whl
  wheels/habluetooth-2.4.0-cp311-cp311-macosx_14_0_arm64.whl
  wheels/ulid_transform-0.9.0-cp311-cp311-macosx_14_0_arm64.whl
  wheels/zlib_ng-0.4.0-cp311-cp311-macosx_11_0_arm64.whl
Due: buildifier

Fix dev setup
  occupancy_component/Dockerfile
  occupancy_component/docker-compose.yml
Due: prettier

Make it work
  .bazelignore
Due: none

Use Python 3.11 in base image
  tools/python/python_base_image.nix
Due: none

fix workspace test
  rules/rules_release/examples/workspace/WORKSPACE
  rules/rules_release/release/repository_primary_deps.bzl
  rules/rules_release/release/repository_secondary_deps.bzl
  rules/rules_release/release/repository_tertiary_deps.bzl
Due: buildifier

Ignore pycross for black
  lefthook.yml
Due: prettier

Fix rules_task dependencies
  rules/rules_task/requirements.in
  rules/rules_task/requirements.txt
Due: none

Create changesets
  .changeset/bunq2ynab-honest-lies-dream.md
  .changeset/occupancy_component-tasty-onions-know.md
  .changeset/provisioner-swift-rats-hang.md
  .changeset/rules_release-swift-hairs-teach.md
  .changeset/rules_task-six-rivers-attend.md
  occupancy_component/custom_components/occupancy/__init__.py
Due: prettier

chore(release_manager): update release files
  .changeset/bunq2ynab-honest-lies-dream.md
  .changeset/occupancy_component-tasty-onions-know.md
  .changeset/provisioner-swift-rats-hang.md
  .changeset/rules_release-swift-hairs-teach.md
  .changeset/rules_task-six-rivers-attend.md
  occupancy_component/CHANGELOG.md
  occupancy_component/version.txt
  provisioner/CHANGELOG.md
  provisioner/version.txt
  rules/rules_release/CHANGELOG.md
  rules/rules_release/version.txt
  rules/rules_task/CHANGELOG.md
  rules/rules_task/version.txt
  tools/bunq2ynab/CHANGELOG.md
  tools/bunq2ynab/version.txt
Due: prettier

feat: Add timers for each area
  occupancy_component/BUILD.bazel
  occupancy_component/custom_components/occupancy/__init__.py
  occupancy_component/custom_components/occupancy/helper.py
  occupancy_component/custom_components/occupancy/timer.py
Due: buildifier

Try to wire up timer logic
  occupancy_component/custom_components/occupancy/__init__.py
  occupancy_component/custom_components/occupancy/const.py
  occupancy_component/custom_components/occupancy/select.py
Due: none

First beginning of automation
  occupancy_component/custom_components/occupancy/select.py
Due: none

Improve test setup
  devbox.lock
  occupancy_component/Dockerfile
  occupancy_component/Tiltfile
  occupancy_component/automations.yaml
  occupancy_component/configuration.yaml
  occupancy_component/custom_components/occupancy/__init__.py
  occupancy_component/custom_components/occupancy/const.py
  occupancy_component/custom_components/occupancy/helper.py
  occupancy_component/custom_components/occupancy/select.py
Due: prettier

Working timer update
  occupancy_component/custom_components/occupancy/select.py
Due: none

Pause the timer if activity happens while entering
  occupancy_component/custom_components/occupancy/select.py
Due: none

Working on present status
  occupancy_component/automations.yaml
  occupancy_component/configuration.yaml
  occupancy_component/custom_components/occupancy/select.py
Due: prettier

Created optimistic update to prevent race condition
  WORKSPACE.bzlmod
  occupancy_component/custom_components/occupancy/binary_sensor.py
  occupancy_component/custom_components/occupancy/select.py
Due: buildifier

Implement present, leaving and leaving_confirm logic
  occupancy_component/custom_components/occupancy/select.py
Due: none

Do proper cleanup of entities after test is done
  occupancy_component/custom_components/occupancy/__init__.py
  occupancy_component/custom_components/occupancy/binary_sensor.py
  occupancy_component/custom_components/occupancy/const.py
  occupancy_component/custom_components/occupancy/select.py
  occupancy_component/tests/conftest.py
  occupancy_component/tests/helpers.py
Due: none

Split up test suite
  occupancy_component/BUILD.bazel
  occupancy_component/tests/test_door.py
  occupancy_component/tests/test_init.py
Due: buildifier

Update state tracking for binary_sensor
  occupancy_component/BUILD.bazel
  occupancy_component/custom_components/occupancy/binary_sensor.py
  occupancy_component/custom_components/occupancy/select.py
  occupancy_component/tests/test_area.py
Due: buildifier

Created entering test
  occupancy_component/custom_components/occupancy/select.py
  occupancy_component/tests/helpers.py
  occupancy_component/tests/test_area.py
Due: none

Fix test from entering to entering confirm
  occupancy_component/tests/helpers.py
  occupancy_component/tests/test_area.py
Due: none

more tests
  occupancy_component/BUILD.bazel
  occupancy_component/custom_components/occupancy/__init__.py
  occupancy_component/custom_components/occupancy/helpers.py
  occupancy_component/tests/helpers.py
  occupancy_component/tests/test_area.py
Due: buildifier

Extract InternalState class to prevent race conditions
  occupancy_component/BUILD.bazel
  occupancy_component/custom_components/occupancy/binary_sensor.py
  occupancy_component/custom_components/occupancy/internal_state.py
  occupancy_component/custom_components/occupancy/select.py
Due: buildifier

Write entering tests
  occupancy_component/tests/test_area.py
Due: none

Implement leaving and leaving confirm tests
  occupancy_component/tests/test_area.py
Due: none

Generate changeset
  .changeset/occupancy_component-heavy-teachers-remain.md
Due: prettier

feat: Add timers for each area (#649)
  .changeset/occupancy_component-heavy-teachers-remain.md
  WORKSPACE.bzlmod
  devbox.lock
  occupancy_component/BUILD.bazel
  occupancy_component/Dockerfile
  occupancy_component/Tiltfile
  occupancy_component/automations.yaml
  occupancy_component/configuration.yaml
  occupancy_component/custom_components/occupancy/__init__.py
  occupancy_component/custom_components/occupancy/binary_sensor.py
  occupancy_component/custom_components/occupancy/const.py
  occupancy_component/custom_components/occupancy/helpers.py
  occupancy_component/custom_components/occupancy/internal_state.py
  occupancy_component/custom_components/occupancy/select.py
  occupancy_component/custom_components/occupancy/timer.py
  occupancy_component/tests/conftest.py
  occupancy_component/tests/helpers.py
  occupancy_component/tests/test_area.py
  occupancy_component/tests/test_door.py
  occupancy_component/tests/test_init.py
Due: prettier, buildifier

docs: Add README for rules_task
  rules/rules_task/README.md
Due: prettier

chore(release_manager): update release files
  .changeset/occupancy_component-heavy-teachers-remain.md
  occupancy_component/CHANGELOG.md
  occupancy_component/version.txt
Due: prettier

Path conditions:
  black: any of: *.{py}
  prettier: any of: *.{yml,yaml,json,md,js}
  buildifier: any of: *.{bazel,bzl,bzlmod}, but not: pdm_lock.bzl
