Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

lefthook.yml:

all:
  commands:
    black:
      run: black --force-exclude=/home-assistant\/config\/custom_components --check {all_files}
      glob: "*.{py}"
    prettier:
      run: prettier --check {all_files}
      glob: "*.{yml,yaml,json,md}"
    buildifier:
      run: buildifier -mode check {all_files}
      glob: "*.{bazel,bzl,bzlmod}"

pre-commit:
  commands:
    black:
      run: black {staged_files}
      glob: "*.{py}"
      stage_fixed: true
    prettier:
      run: prettier --write {staged_files}
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
    buildifier:
      run: buildifier {staged_files}
      glob: "*.{bazel,bzl,bzlmod}"
      stage_fixed: true

Trigger if github workflow changes
  provisioner/BUILD.bazel
Due: buildifier

Try to make it work
  BUILD.bazel
  provisioner/BUILD.bazel
Due: buildifier

Add changeset
  .changeset/provisioner-tender-hounds-shout.md
Due: prettier

Push changes in a different way
  BUILD.bazel
Due: buildifier

Fix typo
  BUILD.bazel
Due: buildifier

fix: Ensure provisioner deploy job runs (#618)
  .changeset/provisioner-tender-hounds-shout.md
  BUILD.bazel
  provisioner/BUILD.bazel
Due: prettier, buildifier

fix: Typo in publishing git changes
  BUILD.bazel
Due: buildifier

fix: Typo in publishing git changes (#619)
  BUILD.bazel
Due: buildifier

fix: Use correct syntax to push data using git
  BUILD.bazel
Due: buildifier

fix: Use correct syntax to push data using git (#620)
  BUILD.bazel
Due: buildifier

chore(release_manager): update release files
  .changeset/provisioner-tender-hounds-shout.md
  provisioner/CHANGELOG.md
  provisioner/version.txt
Due: prettier

chore(release_manager): update release files
  TEST_PUSH_GIT
Due: none

try
  TEST_PUSH_GIT
Due: none

try
  shine
Due: none

chore(release_manager): update release files
  shine
Due: none

fix: Use a separate git repository to push changes
  BUILD.bazel
Due: buildifier

Work for untracked files
  BUILD.bazel
Due: buildifier

Restructure
  BUILD.bazel
Due: buildifier

Make it better
  BUILD.bazel
Due: buildifier

Even better
  BUILD.bazel
Due: buildifier

Update some more
  BUILD.bazel
Due: buildifier

Try different user
  BUILD.bazel
Due: buildifier

Improve logic
  BUILD.bazel
Due: buildifier

Make it work
  BUILD.bazel
Due: buildifier

Undo some more changes
  BUILD.bazel
Due: buildifier

fix: Use a separate git repository to push changes (#621)
  BUILD.bazel
Due: buildifier

fix: Make command substitution actually fail
  BUILD.bazel
  provisioner/BUILD.bazel
  rules/rules_release/BUILD.bazel
  rules/rules_release/tools/private/publish_github_release.bzl
  rules/rules_release/tools/private/publish_oci_image.bzl
  rules/rules_release/tools/private/release_changed_files.bzl
  rules/rules_task/BUILD.bazel
  tools/bunq2ynab/BUILD.bazel
  tools/please/helpers.build_defs
  tools/please/sh_rules.build_defs
  tools/teleport/BUILD.bazel
Due: buildifier

Generate changesets
  .changeset/bunq2ynab-dull-radios-sniff.md
  .changeset/provisioner-tender-hounds-shout-2.md
  .changeset/rules_release-heavy-laws-jam.md
  .changeset/rules_task-twenty-jeans-exist.md
Due: prettier

Undo some changes
  BUILD.bazel
  provisioner/BUILD.bazel
  rules/rules_release/BUILD.bazel
  rules/rules_task/BUILD.bazel
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Export more
  provisioner/BUILD.bazel
Due: buildifier

fix: Make command substitution actually fail (#623)
  .changeset/bunq2ynab-dull-radios-sniff.md
  .changeset/provisioner-tender-hounds-shout-2.md
  .changeset/rules_release-heavy-laws-jam.md
  .changeset/rules_task-twenty-jeans-exist.md
  BUILD.bazel
  provisioner/BUILD.bazel
  rules/rules_release/BUILD.bazel
  rules/rules_release/tools/private/publish_github_release.bzl
  rules/rules_release/tools/private/publish_oci_image.bzl
  rules/rules_release/tools/private/release_changed_files.bzl
  rules/rules_task/BUILD.bazel
  tools/bunq2ynab/BUILD.bazel
  tools/please/helpers.build_defs
  tools/please/sh_rules.build_defs
  tools/teleport/BUILD.bazel
Due: prettier, buildifier

Filter out deleted files in push_git_changes
  BUILD.bazel
Due: buildifier

fix: Filter out deleted files in push_git_changes (#624)
  BUILD.bazel
Due: buildifier

chore(release_manager): update release files
  provisioner/CHANGELOG.md
  provisioner/version.txt
  rules/rules_release/CHANGELOG.md
  rules/rules_release/version.txt
  rules/rules_task/CHANGELOG.md
  rules/rules_task/version.txt
  tools/bunq2ynab/CHANGELOG.md
  tools/bunq2ynab/version.txt
Due: prettier
