Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

black:
  run: black {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

buildifier:
  run: buildifier {staged_files}
  stage_fixed: true

fix(devcontainer): Revert to npx due to Deno compatibility issues
  bin/devcontainer
  third_party/javascript/devcontainer-runner.ts
Due: none

fix(shellcheck): Use braces around variable references in bin scripts
  bin/claude
  bin/html-minifier-terser
  bin/postcss
  bin/svgo
  bin/task-master
  bin/task-master-ai
  bin/task-master-mcp
  bin/uglifyjs
  bin/wmill
Due: none

fix(shellcheck): Use braces in bin/devcontainer
  bin/devcontainer
Due: none

feat(javascript): Migrate npm CLI tools to Deno execution (#860)
  bin/.deno-2.6.3.pkg
  bin/deno
  bin/devcontainer
  bin/html-minifier-terser
  bin/postcss
  bin/svgo
  bin/task-master
  bin/task-master-ai
  bin/task-master-mcp
  bin/uglifyjs
  bin/wmill
  package-lock.json
  third_party/hermit/deno.hcl
  third_party/javascript/claude-runner.ts
  third_party/javascript/deno.json
  third_party/javascript/deno.lock
  third_party/javascript/html-minifier-terser-runner.ts
  third_party/javascript/package-lock.json
  third_party/javascript/package.json
  third_party/javascript/postcss-runner.ts
  third_party/javascript/svgo-runner.ts
  third_party/javascript/task-master-mcp-runner.ts
  third_party/javascript/task-master-mcp-wrapper.ts
  third_party/javascript/task-master-runner.ts
  third_party/javascript/task-master-wrapper.ts
  third_party/javascript/uglifyjs-runner.ts
  third_party/javascript/wmill-runner.ts
Due: prettier

Ignore tasks for now
  .gitignore
Due: none

Configure perplexity
  .env.tpl
  .taskmaster/config.json
  .taskmaster/docs/prd-monorepo-consolidation.md
  CLAUDE.md
  Taskfile.yml
Due: prettier

revert: keep third_party/ directory in place
  third_party/hermit/chezmoi.hcl
  third_party/hermit/coder.hcl
  third_party/hermit/deno.hcl
  third_party/hermit/goss.hcl
  third_party/hermit/hcloud.hcl
  third_party/hermit/kubectl-ko.hcl
  third_party/hermit/kubectl-rook-ceph.hcl
  third_party/hermit/kubelogin.hcl
  third_party/hermit/kubie.hcl
  third_party/hermit/kuttl.hcl
  third_party/hermit/oxipng.hcl
  third_party/hermit/pngquant.hcl
  third_party/hermit/starship.hcl
  third_party/hermit/tailscale.hcl
  third_party/hermit/trunk.hcl
  third_party/hermit/vals.hcl
  third_party/hermit/virtctl.hcl
  third_party/hermit/zoxide.hcl
  third_party/javascript/claude-runner.ts
  third_party/javascript/deno.json
  third_party/javascript/deno.lock
  third_party/javascript/html-minifier-terser-runner.ts
  third_party/javascript/package.json
  third_party/javascript/postcss-runner.ts
  third_party/javascript/svgo-runner.ts
  third_party/javascript/task-master-mcp-runner.ts
  third_party/javascript/task-master-mcp-wrapper.ts
  third_party/javascript/task-master-runner.ts
  third_party/javascript/task-master-wrapper.ts
  third_party/javascript/uglifyjs-runner.ts
  third_party/javascript/wmill-runner.ts
  third_party/python/pyproject.toml
  third_party/python/uv.lock
Due: prettier

feat(monorepo): complete stacks and services migration to apps/
  MIGRATION.md
  apps/codex/project.json
  apps/enigma-cozy/talosconfig
  apps/kubevirt-config/project.json
  apps/myvm/project.json
  apps/provisioner/project.json
  apps/testing/project.json
  apps/tinkerbell/project.json
  apps/windmill-ingress/project.json
  apps/windmill/project.json
  package-lock.json
Due: prettier

Cleanup
  .gitignore
  .vscode/settings.json
  CLAUDE.md
  MIGRATION.md
  apps/enigma-cozy/talosconfig
Due: prettier

fix: remove obsolete targets and update path references
  .nx/version-plans/version-plan-1766484983804.md
  apps/dev-cluster-stack/kustomization-metallb-config.yaml
  apps/kubevirt-config/project.json
  apps/myvm/project.json
  apps/tinkerbell/project.json
  apps/windmill-ingress/package.json
  apps/windmill-ingress/project.json
  apps/windmill/project.json
  libs/dev-cluster/README.md
  libs/dev-cluster/src/dev_cluster/cli.py
  libs/dev-cluster/tests/test_flux.py
  libs/docker/project.json
  libs/onepassword/project.json
  libs/python/project.json
Due: prettier

fix: remove yamllint target from testing project
  apps/testing/project.json
Due: prettier

fix: add missing package.json files with version fields
  apps/codex/package.json
  apps/kubevirt-config/package.json
  apps/myvm/package.json
  apps/provisioner/package.json
  apps/testing/package.json
  apps/tinkerbell/package.json
  apps/windmill/package.json
  libs/docker/package.json
  libs/onepassword/package.json
  libs/python/package.json
Due: prettier

chore: update package-lock.json for new projects
  package-lock.json
Due: prettier

chore(release): publish [skip ci]
  .nx/version-plans/version-plan-1766484983804.md
  apps/blueorange/CHANGELOG.md
  apps/blueorange/package.json
  apps/codex/CHANGELOG.md
  apps/codex/package.json
  apps/dev-cluster-stack/CHANGELOG.md
  apps/dev-cluster-stack/package.json
  apps/enigma-cluster/CHANGELOG.md
  apps/enigma-cluster/package.json
  apps/enigma-cozy/CHANGELOG.md
  apps/enigma-cozy/package.json
  apps/escaperoom/CHANGELOG.md
  apps/escaperoom/package.json
  apps/kubevirt-config/CHANGELOG.md
  apps/kubevirt-config/package.json
  apps/myvm/CHANGELOG.md
  apps/myvm/package.json
  apps/provisioner/CHANGELOG.md
  apps/provisioner/package.json
  apps/root-cluster-prod/CHANGELOG.md
  apps/root-cluster-prod/package.json
  apps/testing/CHANGELOG.md
  apps/testing/package.json
  apps/tinkerbell/CHANGELOG.md
  apps/tinkerbell/package.json
  apps/windmill-ingress/CHANGELOG.md
  apps/windmill-ingress/package.json
  apps/windmill/CHANGELOG.md
  apps/windmill/package.json
  libs/dev-cluster/CHANGELOG.md
  libs/dev-cluster/package.json
  libs/docker/CHANGELOG.md
  libs/docker/package.json
  libs/onepassword/CHANGELOG.md
  libs/onepassword/package.json
  libs/python/CHANGELOG.md
  libs/python/package.json
  package-lock.json
Due: prettier

feat(config): Create apps/sso-prod/ directory structure following gateway-prod pattern
  apps/sso-prod/.env.tpl
  apps/sso-prod/.envrc
  apps/sso-prod/backend.tf
  apps/sso-prod/main.tf
  apps/sso-prod/outputs.tf
  apps/sso-prod/package.json
  apps/sso-prod/providers.tf
  apps/sso-prod/test-structure.sh
  apps/sso-prod/variables.tf
  apps/sso-prod/versions.tf
Due: prettier

feat(repo): Create keycloak_openid_client resource for 'coder'
  apps/sso-prod/main.tf
  apps/sso-prod/test-oidc-client.sh
  apps/sso-prod/test-provider.sh
Due: none

feat(repo): Add client_secret output for verification
  apps/sso-prod/outputs.tf
  apps/sso-prod/test-outputs.sh
Due: none

feat(repo): Add 1Password provider and automate OIDC credentials storage
  apps/sso-prod/.env.tpl
  apps/sso-prod/main.tf
  apps/sso-prod/providers.tf
  apps/sso-prod/test-1password.sh
  apps/sso-prod/versions.tf
Due: none

Simplify javascript binstubs
  bin/claude
  bin/html-minifier-terser
  bin/postcss
  bin/svgo
  bin/task-master
  bin/task-master-ai
  bin/task-master-mcp
  bin/uglifyjs
  bin/wmill
  third_party/javascript/claude-runner.ts
  third_party/javascript/html-minifier-terser-runner.ts
  third_party/javascript/postcss-runner.ts
  third_party/javascript/svgo-runner.ts
  third_party/javascript/task-master-mcp-runner.ts
  third_party/javascript/task-master-mcp-wrapper.ts
  third_party/javascript/task-master-runner.ts
  third_party/javascript/task-master-wrapper.ts
  third_party/javascript/uglifyjs-runner.ts
  third_party/javascript/wmill-runner.ts
Due: none

Updated lockfiles
  package-lock.json
  third_party/javascript/deno.lock
Due: prettier

feat(repo): Test and deploy via Flux
  apps/sso-prod/.gitignore
  apps/sso-prod/main.tf
Due: none

Small fixes to taskmaster
  .taskmaster/config.json
  .vscode/settings.json
Due: prettier

Better deno lockfile
  bin/.pnpm-10.15.1.pkg
  bin/pnpm
  package.json
  third_party/javascript/deno.lock
Due: prettier

Make sure work and private git work
  libs/devenv/files/dot_config/1Password/ssh/agent.toml
  libs/devenv/files/dot_ssh/private_setup_config
Due: none

Remove sso-prod for now
  apps/sso-prod/.env.tpl
  apps/sso-prod/.envrc
  apps/sso-prod/.gitignore
  apps/sso-prod/backend.tf
  apps/sso-prod/main.tf
  apps/sso-prod/outputs.tf
  apps/sso-prod/package.json
  apps/sso-prod/providers.tf
  apps/sso-prod/test-1password.sh
  apps/sso-prod/test-oidc-client.sh
  apps/sso-prod/test-outputs.sh
  apps/sso-prod/test-provider.sh
  apps/sso-prod/test-structure.sh
  apps/sso-prod/variables.tf
  apps/sso-prod/versions.tf
Due: prettier

Update lockfile
  package-lock.json
  package.json
  third_party/javascript/deno.lock
Due: prettier

Small changes
  .moon/workspace.yml
  bin/help
  libs/python/.gitignore
  libs/python/BUILD.bazel
  libs/python/CHANGELOG.md
  libs/python/defs.bzl
  libs/python/moon.yml
  libs/python/package.json
  libs/python/pyproject.toml
  libs/python/python_base_image.nix
  libs/python/uv.lock
  third_party/javascript/deno.lock
Due: prettier, buildifier

Updated tests
  .github/actions/setup/action.yaml
  .github/workflows/test.yaml
Due: prettier

Make moon write comment
  .github/workflows/test.yaml
Due: prettier

Enable devcontainer project
  .moon/workspace.yml
Due: prettier

Merge test-linux and test-macos into single matrix job
  .github/workflows/test.yaml
Due: prettier

Update tests some more
  .github/workflows/test.yaml
  libs/coder-devcontainer/main.tf
  libs/fleet-mcp/tests/record.py
Due: prettier

Enable bazel remote
  .github/workflows/test.yaml
  libs/bazel-remote/moon.yml
Due: prettier

Path conditions:
  black: any of: *.{py}
  prettier: any of: *.{yml,yaml,json,md,js}
  buildifier: any of: *.{bazel,bzl,bzlmod}, but not: pdm_lock.bzl
