Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

lefthook.yml:

all:
  commands:
    black:
      run: black --force-exclude=/home-assistant\/config\/custom_components --check {all_files}
      glob: "*.{py}"
    prettier:
      run: prettier --check {all_files}
      glob: "*.{yml,yaml,json,md,js}"
    buildifier:
      run: buildifier -mode check {all_files}
      glob: "*.{bazel,bzl,bzlmod}"
      exclude: "pdm_lock.bzl"

pre-commit:
  commands:
    black:
      run: black {staged_files}
      glob: "*.{py}"
      stage_fixed: true
    prettier:
      run: prettier --write {staged_files}
      glob: "*.{yml,yaml,json,md,js}"
      stage_fixed: true
    buildifier:
      run: buildifier {staged_files}
      glob: "*.{bazel,bzl,bzlmod}"
      stage_fixed: true
      exclude: "pdm_lock.bzl"

fix: use printf for proper color rendering in ZSH
  bin/help
Due: none

feat(coder-devcontainer): add NX_KEY environment variable support (#736)
  .nx/version-plans/version-plan-1758775822420.md
  libs/coder-devcontainer/main.tf
Due: prettier

chore(release): publish [skip ci]
  .nx/version-plans/version-plan-1758775822420.md
  libs/coder-devcontainer/CHANGELOG.md
  libs/coder-devcontainer/package.json
  package-lock.json
Due: prettier

docs: add bin/help command to project discovery section
  CLAUDE.md
Due: prettier

refactor(terraform): migrate check blocks to postconditions in coder-devcontainer
  CLAUDE.md
  libs/coder-devcontainer/main.tf
Due: prettier

feat: add version plan for postconditions migration
  .nx/version-plans/version-plan-1758776914998.md
  package-lock.json
Due: prettier

fix: update package-lock.json to fix devOptional dependency
  package-lock.json
Due: prettier

feat(bin): add help command to list nx targets and descriptions (#731)
  CLAUDE.md
  bin/help
  package-lock.json
Due: prettier

chore(release): publish [skip ci]
  package-lock.json
Due: prettier

refactor(terraform): migrate check blocks to postconditions in coder-devcontainer (#737)
  .nx/version-plans/version-plan-1758776914998.md
  CLAUDE.md
  libs/coder-devcontainer/main.tf
  package-lock.json
Due: prettier

chore(release): publish [skip ci]
  .nx/version-plans/version-plan-1758776914998.md
  libs/coder-devcontainer/CHANGELOG.md
  libs/coder-devcontainer/package.json
  package-lock.json
Due: prettier

feat: add version plans for docs and coder-devcontainer
  .nx/version-plans/version-plan-coder-devcontainer-1758778278.md
Due: prettier

fix(version-plan): update coder-devcontainer description for NX_KEY addition
  .nx/version-plans/version-plan-coder-devcontainer-1758778278.md
Due: prettier

feat(docs): migrate docs folder to apps/docs (#733)
  .gitignore
  .nx/version-plans/version-plan-coder-devcontainer-1758778278.md
  .nx/version-plans/version-plan-docs-1758730718.md
  apps/docs/01_home.md
  apps/docs/02_blog/README.md
  apps/docs/02_blog/deploying-pikvm-7-lessons-you-already-know.md
  apps/docs/03_internal/README.md
  apps/docs/03_internal/bootstrap-provisioner-k8s.md
  apps/docs/images/about-me.jpeg
  apps/docs/images/esxi-vm-settings.png
  apps/docs/images/pikvm-lessons-learned.jpeg
  apps/docs/images/pikvm-oled-screen.png
  apps/docs/images/pikvm-read-write-warning.png
  apps/docs/mkdocs.yml
  apps/docs/package.json
  bin/.scie-pants-0.12.2.pkg
  bin/mkdocs
  bin/pants
  package-lock.json
  pants.toml
  third_party/hermit/scie-pants.hcl
  third_party/python/BUILD
  third_party/python/default.lock
Due: prettier

chore(release): publish [skip ci]
  .nx/version-plans/version-plan-coder-devcontainer-1758778278.md
  .nx/version-plans/version-plan-docs-1758730718.md
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  libs/coder-devcontainer/CHANGELOG.md
  libs/coder-devcontainer/package.json
  package-lock.json
Due: prettier

Remove unnecessary workspace file
  bunq2ynab.code-workspace
Due: none

chore: move hypervisor → apps/hypervisor following project conventions
  .gitignore
  apps/hypervisor/.kitchen/.gitignore
  apps/hypervisor/50-network-bridge.yaml.j2
  apps/hypervisor/50-offloading-config.j2
  apps/hypervisor/BUILD.bazel
  apps/hypervisor/OpenNebulaNetwork.conf.j2
  apps/hypervisor/Vagrantfile.cloud-init
  apps/hypervisor/ansible_requirements.yml
  apps/hypervisor/cloud-init/meta-data
  apps/hypervisor/cloud-init/user-data
  apps/hypervisor/configuration.nix
  apps/hypervisor/deploy.py
  apps/hypervisor/files/consul.hcl
  apps/hypervisor/files/consul.service
  apps/hypervisor/files/nomad.hcl
  apps/hypervisor/files/nomad.service
  apps/hypervisor/flake.lock
  apps/hypervisor/flake.nix
  apps/hypervisor/hardware-configuration.nix
  apps/hypervisor/hypervisor.pkr.hcl
  apps/hypervisor/hypervisor_lima.yml
  apps/hypervisor/inventory.py
  apps/hypervisor/kitchen.yml
  apps/hypervisor/oned.conf.j2
  apps/hypervisor/onegate-server.conf.j2
  apps/hypervisor/onevm.yaml.j2
  apps/hypervisor/packer_qemu.pkr.hcl
  apps/hypervisor/provision.yml
  apps/hypervisor/rules.v4.j2
  apps/hypervisor/rules.v6.j2
  apps/hypervisor/sunstone-server.conf.j2
  apps/hypervisor/tasks/install_cni.py
  apps/hypervisor/tasks/install_consul.py
  apps/hypervisor/tasks/install_docker.py
  apps/hypervisor/tasks/install_envoy.py
  apps/hypervisor/tasks/install_nomad.py
  apps/hypervisor/tasks/install_qemu.py
  apps/hypervisor/test/integration/default/test_spec.rb
  package-lock.json
Due: prettier, buildifier

fix(ci): address yamllint issues in provision.yml
  apps/hypervisor/provision.yml
Due: prettier

fix(ci): remove remaining quoted strings in backing_stores
  apps/hypervisor/provision.yml
Due: prettier

Install specify-cli
  .trunk/trunk.yaml
  CLAUDE.md
  bin/.python3-3.12.3.pkg
  bin/pip3
  bin/pip3.10
  bin/pip3.12
  bin/pydoc3
  bin/pydoc3.10
  bin/pydoc3.12
  bin/python
  bin/python3
  bin/python3-config
  bin/python3.10
  bin/python3.10-config
  bin/python3.12
  bin/python3.12-config
  renovate.json
  third_party/python/pyproject.toml
  third_party/python/requirements.txt
  third_party/python/uv.lock
Due: prettier

fix(ci): remove quotes from sharenfs property value
  apps/hypervisor/provision.yml
Due: prettier

Make binstub
  bin/specify
Due: none

chore: move hypervisor → apps/hypervisor (#738)
  .gitignore
  apps/hypervisor/.kitchen/.gitignore
  apps/hypervisor/50-network-bridge.yaml.j2
  apps/hypervisor/50-offloading-config.j2
  apps/hypervisor/BUILD.bazel
  apps/hypervisor/OpenNebulaNetwork.conf.j2
  apps/hypervisor/Vagrantfile.cloud-init
  apps/hypervisor/ansible_requirements.yml
  apps/hypervisor/cloud-init/meta-data
  apps/hypervisor/cloud-init/user-data
  apps/hypervisor/configuration.nix
  apps/hypervisor/deploy.py
  apps/hypervisor/files/consul.hcl
  apps/hypervisor/files/consul.service
  apps/hypervisor/files/nomad.hcl
  apps/hypervisor/files/nomad.service
  apps/hypervisor/flake.lock
  apps/hypervisor/flake.nix
  apps/hypervisor/hardware-configuration.nix
  apps/hypervisor/hypervisor.pkr.hcl
  apps/hypervisor/hypervisor_lima.yml
  apps/hypervisor/inventory.py
  apps/hypervisor/kitchen.yml
  apps/hypervisor/oned.conf.j2
  apps/hypervisor/onegate-server.conf.j2
  apps/hypervisor/onevm.yaml.j2
  apps/hypervisor/packer_qemu.pkr.hcl
  apps/hypervisor/provision.yml
  apps/hypervisor/rules.v4.j2
  apps/hypervisor/rules.v6.j2
  apps/hypervisor/sunstone-server.conf.j2
  apps/hypervisor/tasks/install_cni.py
  apps/hypervisor/tasks/install_consul.py
  apps/hypervisor/tasks/install_docker.py
  apps/hypervisor/tasks/install_envoy.py
  apps/hypervisor/tasks/install_nomad.py
  apps/hypervisor/tasks/install_qemu.py
  apps/hypervisor/test/integration/default/test_spec.rb
  package-lock.json
Due: prettier, buildifier

fix: remove problematic Python runtime from trunk configuration
  .trunk/trunk.yaml
  bin/specify
  third_party/python/pyproject.toml
Due: prettier

feat(devenv): enable git push.autoSetupRemote
  libs/devenv/files/dot_gitconfig.setup
Due: none

Update speckit to pinnned version
  third_party/python/pyproject.toml
  third_party/python/uv.lock
Due: none

feat: Install Specify CLI (#740)
  .trunk/trunk.yaml
  CLAUDE.md
  bin/.python3-3.12.3.pkg
  bin/pip3
  bin/pip3.10
  bin/pip3.12
  bin/pydoc3
  bin/pydoc3.10
  bin/pydoc3.12
  bin/python
  bin/python3
  bin/python3-config
  bin/python3.10
  bin/python3.10-config
  bin/python3.12
  bin/python3.12-config
  bin/specify
  bunq2ynab.code-workspace
  renovate.json
  third_party/python/pyproject.toml
  third_party/python/requirements.txt
  third_party/python/uv.lock
Due: prettier

fix: correct image path in README.md
  README.md
Due: prettier

fix(nx-internal): add version plan for devenv changes
  .nx/version-plans/version-plan-1758807660470.md
  package-lock.json
Due: prettier

fix: correct image path in README.md (#742)
  README.md
Due: prettier

feat(devenv): enable git push.autoSetupRemote (#741)
  .nx/version-plans/version-plan-1758807660470.md
  libs/devenv/files/dot_gitconfig.setup
  package-lock.json
Due: prettier

chore(release): publish [skip ci]
  .devcontainer/CHANGELOG.md
  .devcontainer/package.json
  .nx/version-plans/version-plan-1758807660470.md
  libs/coder-devcontainer/CHANGELOG.md
  libs/coder-devcontainer/package.json
  libs/devenv/CHANGELOG.md
  libs/devenv/package.json
  package-lock.json
Due: prettier

fix(devcontainer): handle missing docker auth gracefully
  .devcontainer/build.sh
Due: none

feat(devenv): add Coder Desktop and Motion apps for macOS
  libs/devenv/files/.chezmoidata/packages.yaml
Due: prettier

chore: add version plan and fix package-lock.json drift
  .nx/version-plans/version-plan-1759171109565.md
  package-lock.json
Due: prettier

fix(devenv): correct Homebrew cask name for Coder Desktop
  libs/devenv/files/.chezmoidata/packages.yaml
Due: prettier
