Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

lefthook.yml:

all:
  commands:
    black:
      run: black --force-exclude=/home-assistant\/config\/custom_components --check {all_files}
      glob: "*.{py}"
    prettier:
      run: prettier --check {all_files}
      glob: "*.{yml,yaml,json,md}"
    buildifier:
      run: buildifier -mode check {all_files}
      glob: "*.{bazel,bzl,bzlmod}"

pre-commit:
  commands:
    black:
      run: black {staged_files}
      glob: "*.{py}"
      stage_fixed: true
    prettier:
      run: prettier --write {staged_files}
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
    buildifier:
      run: buildifier {staged_files}
      glob: "*.{bazel,bzl,bzlmod}"
      stage_fixed: true

Update home assistant and friends
  devbox.lock
  home-assistant/config/automations.yaml
  home-assistant/docker-compose.yml
Due: prettier

Setup matter server in home assistant
  .gitignore
  home-assistant/docker-compose.yml
Due: prettier

Working dev provisionen
  provisioner/BUILD.bazel
  provisioner/bootstrap-dev.sh
  provisioner/deploys/microk8s/files/cmdline.txt
  provisioner/deploys/microk8s/tasks/install_microk8s.py
  provisioner/group_data/dev.py
  provisioner/inventory.py
Due: buildifier

Creating local docker rules
  provisioner/BUILD.bazel
  provisioner/bootstrap-dev.sh
  provisioner/deploy.py
  provisioner/group_data/prod.py
  provisioner/group_data/test.py
  tools/docker/docker_load.bzl
  tools/docker/docker_local_tar.bzl
  tools/python/defs.bzl
Due: buildifier

Use proper labels
  provisioner/BUILD.bazel
  tools/docker/docker_load.bzl
  tools/docker/docker_local_tar.bzl
Due: buildifier

Remove microk8s tests
  provisioner/test_provisioner.py
Due: none

Fix ci tests
  rules/rules_release/release/repositories.bzl
  rules/rules_release/release/repository_primary_deps.bzl
  rules/rules_release/release/repository_secondary_deps.bzl
  tools/python/defs.bzl
Due: buildifier

Create docker base image with systemctl and sudo
  provisioner/BUILD.bazel
  provisioner/bootstrap-dev.sh
  tools/docker/docker_local_tar.bzl
  tools/docker/docker_run_and_commit.bzl
Due: buildifier

Working provision!
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Use dev image for bunq2ynab
  provisioner/BUILD.bazel
  provisioner/deploys/bunq2ynab/files/docker-compose.yml.j2
  provisioner/deploys/bunq2ynab/tasks/install_bunq2ynab.py
Due: buildifier

Add tests
  provisioner/BUILD.bazel
  provisioner/test_provisioner.py
Due: buildifier

Fix CI tests
  provisioner/BUILD.bazel
  provisioner/deploys/bunq2ynab/files/docker-compose.yml.j2
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Set exec_properties
  provisioner/BUILD.bazel
  tools/docker/docker_load.bzl
  tools/docker/docker_local_tar.bzl
  tools/docker/docker_run_and_commit.bzl
  tools/python/defs.bzl
Due: buildifier

Lock down bunq api tokens
  tools/bunq2ynab/BUILD.bazel
  tools/bunq2ynab/config-dev.json.tpl
  tools/bunq2ynab/config-prod.json.tpl
Due: buildifier

Link bunq2ynab image to setup repository
  tools/bunq2ynab/BUILD.bazel
  tools/bunq2ynab/container-labels.txt
  tools/python/defs.bzl
Due: buildifier

Install bunq2ynab from two private container registries
  provisioner/deploys/bunq2ynab/files/docker-compose.yml.j2
  provisioner/deploys/bunq2ynab/tasks/install_bunq2ynab.py
  provisioner/group_data/dev.py
  provisioner/group_data/prod.py
  provisioner/group_data/test.py
Due: none

Setup release flow for provisioner + selective delivery
  .github/workflows/deploy.yml
  BUILD.bazel
  provisioner/BUILD.bazel
  provisioner/CHANGELOG.md
  provisioner/version.txt
Due: prettier, buildifier

Fix visibility
  provisioner/BUILD.bazel
Due: buildifier

Added changesets
  .changeset/bunq2ynab-small-dots-approve-2.md
  .changeset/bunq2ynab-small-dots-approve.md
  .changeset/provisioner-ninety-windows-shop-2.md
  .changeset/provisioner-ninety-windows-shop.md
  .changeset/rules_release-gentle-otters-try.md
Due: prettier

chore(release_manager): update release files
  .changeset/bunq2ynab-small-dots-approve-2.md
  .changeset/bunq2ynab-small-dots-approve.md
  .changeset/provisioner-ninety-windows-shop-2.md
  .changeset/provisioner-ninety-windows-shop.md
  .changeset/rules_release-gentle-otters-try.md
  provisioner/CHANGELOG.md
  provisioner/version.txt
  rules/rules_release/CHANGELOG.md
  rules/rules_release/version.txt
  tools/bunq2ynab/CHANGELOG.md
  tools/bunq2ynab/version.txt
Due: prettier

fix: Provisioner deployment
  .github/actions/setup-bazel/action.yml
  .github/workflows/schedule.yml
  provisioner/deploys/bunq2ynab/files/docker-compose.yml.j2
  provisioner/deploys/teleport/tasks/install_teleport.py
Due: prettier

Implement stashing git changes
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
Due: none

Make sure we execute in workspace
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
Due: none

Created changesets for provisioner
  .changeset/provisioner-new-olives-switch-2.md
  .changeset/provisioner-new-olives-switch-3.md
  .changeset/provisioner-new-olives-switch.md
Due: prettier

Fix passing multiple args
  rules/rules_release/BUILD.bazel
  rules/rules_release/tools/private/bazel_diff_release.bzl
Due: buildifier

Really fix multiple arguments
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
Due: none

Fix it some more
  rules/rules_release/BUILD.bazel
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
Due: buildifier

Try seed paths
  rules/rules_release/BUILD.bazel
Due: buildifier

Set platform for python base image
  tools/python/BUILD.bazel
Due: buildifier

Random change
  .gitignore
Due: none

other random change
  tools/python/BUILD.bazel
Due: buildifier

random comment
  rules/rules_release/BUILD.bazel
Due: buildifier

try some more
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
Due: none

Try use cQuery
  rules/rules_release/BUILD.bazel
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
  rules/rules_release/tools/private/bazel_diff_release.bzl
Due: buildifier

Release rules_task and rules_release based on files changed
  rules/rules_release/BUILD.bazel
  rules/rules_release/tools/defs.bzl
  rules/rules_release/tools/private/release_changed_files.bzl
  rules/rules_task/BUILD.bazel
Due: buildifier

Cleanup
  .gitignore
  rules/rules_release/tools/private/bazel_diff_release.bzl
  tools/python/BUILD.bazel
Due: buildifier

Generate changesets
  .changeset/rules_release-orange-masks-compare-2.md
  .changeset/rules_release-orange-masks-compare-3.md
  .changeset/rules_release-orange-masks-compare-4.md
  .changeset/rules_release-orange-masks-compare.md
  .changeset/rules_task-wet-numbers-explode.md
Due: prettier

fix: Provisioner deployment (#617)
  .changeset/provisioner-new-olives-switch-2.md
  .changeset/provisioner-new-olives-switch-3.md
  .changeset/provisioner-new-olives-switch.md
  .changeset/rules_release-orange-masks-compare-2.md
  .changeset/rules_release-orange-masks-compare-3.md
  .changeset/rules_release-orange-masks-compare-4.md
  .changeset/rules_release-orange-masks-compare.md
  .changeset/rules_task-wet-numbers-explode.md
  .github/actions/setup-bazel/action.yml
  .github/workflows/schedule.yml
  provisioner/deploys/bunq2ynab/files/docker-compose.yml.j2
  provisioner/deploys/teleport/tasks/install_teleport.py
  rules/rules_release/BUILD.bazel
  rules/rules_release/tools/defs.bzl
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
  rules/rules_release/tools/private/bazel_diff_release.bzl
  rules/rules_release/tools/private/release_changed_files.bzl
  rules/rules_task/BUILD.bazel
Due: prettier, buildifier

chore(release_manager): update release files
  .changeset/provisioner-new-olives-switch-2.md
  .changeset/provisioner-new-olives-switch-3.md
  .changeset/provisioner-new-olives-switch.md
  .changeset/rules_release-orange-masks-compare-2.md
  .changeset/rules_release-orange-masks-compare-3.md
  .changeset/rules_release-orange-masks-compare-4.md
  .changeset/rules_release-orange-masks-compare.md
  .changeset/rules_task-wet-numbers-explode.md
  provisioner/CHANGELOG.md
  provisioner/version.txt
  rules/rules_release/CHANGELOG.md
  rules/rules_release/version.txt
  rules/rules_task/CHANGELOG.md
  rules/rules_task/version.txt
Due: prettier
