Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

black:
  run: black {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

buildifier:
  run: buildifier {staged_files}
  stage_fixed: true

Notes added by 'git notes add'
  ebbfef904b58bb8155ae42b6980f06caa68c2f4c
Due: none

feat: Build bunq2ynab image with nix and Bazel (#544)
  .bazelversion
  .prettierrc
  .vscode/settings.json
  BUILD.bazel
  MODULE.bazel
  WORKSPACE.bzlmod
  buildbuddy.yaml
  devbox.json
  devbox.lock
  infrastructure/BUILD.bazel
  lefthook.yml
  occupancy_component/BUILD.bazel
  pdm-setup_lock.bzl
  pdm.lock
  provisioner/BUILD.bazel
  pyproject.toml
  python310_base_image.nix
  requirements.in
  requirements.txt
  setup_ci.sh
  tools/black/BUILD.bazel
  tools/bunq2ynab/BUILD.bazel
  tools/pyinfra/defs.bzl
  tools/pytest/pytest.bzl
  tools/python/BUILD.bazel
  tools/python/defs.bzl
  tools/python/fix-chmod.patch
  tools/python/python.build_defs
Due: prettier, buildifier

Setup changesets
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier

Setup packages
  .changeset/config.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rules/rules_task/package.json
  tools/bunq2ynab/package.json
Due: prettier

Update changelog generator
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier

scaffold rules_release
  BUILD.bazel
  MODULE.bazel
  kerk_version.txt
  rules/rules_release/BUILD.bazel
  rules/rules_release/MODULE.bazel
  rules/rules_release/WORKSPACE
  rules/rules_release/WORKSPACE.bazel
  rules/rules_release/defs.bzl
Due: buildifier

Setup necessary packages
  .gitignore
  pnpm-workspace.yaml
  rules/rules_release/package.json
  rules/rules_release/pnpm-lock.yaml
Due: prettier

Install changesets action
  rules/rules_release/package.json
  rules/rules_release/pnpm-lock.yaml
Due: prettier

Working from main
  .bazelignore
  MODULE.bazel
  rules/rules_release/.bazelignore
  rules/rules_release/.bazelrc
  rules/rules_release/BUILD.bazel
  rules/rules_release/MODULE.bazel
  rules/rules_release/defs.bzl
  rules/rules_release/release_manager.js
Due: buildifier

Load bazel-diff binary into generate program
  rules/rules_release/BUILD.bazel
  rules/rules_release/MODULE.bazel
  rules/rules_release/WORKSPACE.bazel
  rules/rules_release/defs.bzl
  rules/rules_release/extensions.bzl
  rules/rules_release/generate.js
  rules/rules_release/package.json
  rules/rules_release/pnpm-lock.yaml
  rules/rules_release/repositories.bzl
Due: prettier, buildifier

Have full bazel diff script
  rules/rules_release/generate.js
Due: none

Test change
  rules/rules_release/generate.js
  tools/pyinfra/main.py
Due: none

Fix
  rules/rules_release/generate.js
Due: none

Remove dep
  MODULE.bazel
  rules/rules_release/defs.bzl
  rules/rules_release/generate.js
Due: buildifier

Add release and release script rules
  foo_version.txt
  rules/rules_release/defs.bzl
Due: buildifier

Restructure
  BUILD.bazel
  rules/rules_release/defs.bzl
  rules/rules_release/release/BUILD.bazel
  rules/rules_release/release/defs.bzl
  rules/rules_release/release/private/BUILD.bazel
  rules/rules_release/release/private/release.bzl
  rules/rules_release/release/private/release_info.bzl
  rules/rules_release/release/private/release_manager.bzl
Due: buildifier

Setup release rule and release manager
  BUILD.bazel
  rules/rules_release/BUILD.bazel
  rules/rules_release/release/private/release.bzl
  rules/rules_release/release/private/release_manager.bzl
  rules/rules_release/runner.js
  tools/bunq2ynab/BUILD.bazel
  tools/bunq2ynab/version.txt
Due: buildifier

Invoke generate
  rules/rules_release/BUILD.bazel
  rules/rules_release/lib/get-impacted-targets.js
  rules/rules_release/package.json
  rules/rules_release/pnpm-lock.yaml
  rules/rules_release/release/private/release_manager.bzl
  rules/rules_release/runner.js
Due: prettier, buildifier

Better error handling
  rules/rules_release/lib/get-impacted-targets.js
Due: none

fix bug
  rules/rules_release/lib/get-impacted-targets.js
Due: none

End to end flow
  rules/rules_release/lib/get-impacted-targets.js
  rules/rules_release/release/private/release_manager.bzl
Due: buildifier

Write out list of changed labels
  rules/rules_release/BUILD.bazel
  rules/rules_release/lib/get-config.js
  rules/rules_release/release/private/release.bzl
  rules/rules_release/release/private/release_manager.bzl
  rules/rules_release/runner.js
Due: buildifier

Try to include external as well
  rules/rules_release/lib/get-impacted-targets.js
Due: none

Pass through additional arguments for bazel diff
  BUILD.bazel
  rules/rules_release/lib/get-impacted-targets.js
  rules/rules_release/release/private/release_manager.bzl
  rules/rules_release/runner.js
Due: buildifier

Setup rules release for rules task
  rules/rules_task/BUILD.bazel
  rules/rules_task/MODULE.bazel
  rules/rules_task/version.txt
Due: buildifier

Add rules task to release manager
  BUILD.bazel
Due: buildifier

Make it work for rules_release
  rules/rules_release/lib/get-impacted-targets.js
  rules/rules_release/release/private/release.bzl
Due: buildifier

Extract workspaceDir
  rules/rules_release/BUILD.bazel
  rules/rules_release/lib/get-config.js
  rules/rules_release/lib/get-impacted-targets.js
  rules/rules_release/package.json
  rules/rules_release/pnpm-lock.yaml
  rules/rules_release/runner.js
Due: prettier, buildifier

Small fixes
  rules/rules_release/lib/get-impacted-targets.js
  rules/rules_release/runner.js
Due: none

Write a changeset file per release
  rules/rules_release/lib/get-config.js
  rules/rules_release/release/private/release.bzl
  rules/rules_release/runner.js
  rules/rules_task/BUILD.bazel
Due: buildifier

Skip creating changeset if one already exists
  rules/rules_release/runner.js
Due: none

Setup scaffold for version command
  rules/rules_release/release/private/release_manager.bzl
  rules/rules_release/runner.js
Due: buildifier

Create GenerateAction
  rules/rules_release/BUILD.bazel
  rules/rules_release/lib/actions/GenerateAction.js
  rules/rules_release/runner.js
Due: buildifier

Setup release and config repositories
  rules/rules_release/BUILD.bazel
  rules/rules_release/lib/actions/GenerateAction.js
  rules/rules_release/lib/repositories/ConfigRepository.js
  rules/rules_release/lib/repositories/ReleaseRepository.js
Due: buildifier

install zx
  rules/rules_release/BUILD.bazel
  rules/rules_release/package.json
  rules/rules_release/pnpm-lock.yaml
Due: prettier, buildifier

Start conversion to ESM
  rules/rules_release/BUILD.bazel
  rules/rules_release/cli.mjs
  rules/rules_release/lib/actions/GenerateAction.mjs
Due: buildifier

Converted more to mjs
  rules/rules_release/BUILD.bazel
  rules/rules_release/lib/actions/GenerateAction.mjs
  rules/rules_release/lib/repositories/ConfigRepository.mjs
  rules/rules_release/lib/repositories/ReleaseRepository.mjs
Due: buildifier

Creating target repository
  rules/rules_release/BUILD.bazel
  rules/rules_release/lib/actions/GenerateAction.mjs
  rules/rules_release/lib/repositories/TargetRepository.mjs
  rules/rules_release/lib/utils.mjs
Due: buildifier

wait for bazel-diff
  rules/rules_release/lib/repositories/TargetRepository.mjs
Due: none

fix right arguments for bazel-diff
  rules/rules_release/lib/repositories/TargetRepository.mjs
Due: none

Path conditions:
  black: any of: *.{py}
  prettier: any of: *.{yml,yaml,json,md}
  buildifier: any of: *.{bazel,bzl,bzlmod}
