Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

lefthook.yml:

all:
  commands:
    black:
      run: black --force-exclude=/home-assistant\/config\/custom_components --check {all_files}
      glob: "*.{py}"
    prettier:
      run: prettier --check {all_files}
      glob: "*.{yml,yaml,json,md,js}"
    buildifier:
      run: buildifier -mode check {all_files}
      glob: "*.{bazel,bzl,bzlmod}"
      exclude: "pdm_lock.bzl"

pre-commit:
  commands:
    black:
      run: black {staged_files}
      glob: "*.{py}"
      stage_fixed: true
    prettier:
      run: prettier --write {staged_files}
      glob: "*.{yml,yaml,json,md,js}"
      stage_fixed: true
    buildifier:
      run: buildifier {staged_files}
      glob: "*.{bazel,bzl,bzlmod}"
      stage_fixed: true
      exclude: "pdm_lock.bzl"

small start
  rules/rules_task/README.md
Due: prettier

More documentation
  rules/rules_task/README.md
Due: prettier

Added changeset
  .changeset/rules_task-rude-doors-sneeze.md
Due: prettier

Fix link
  rules/rules_task/README.md
Due: prettier

docs: Add README for rules_task (#650)
  .changeset/rules_task-rude-doors-sneeze.md
  rules/rules_task/README.md
Due: prettier

chore(release_manager): update release files
  .changeset/rules_task-rude-doors-sneeze.md
  rules/rules_task/CHANGELOG.md
  rules/rules_task/version.txt
Due: prettier

feat: Support info and version file in rules_task
  .bazelrc
  .bazelversion
  MODULE.bazel.lock
  rules/rules_task/task/private/cmd.bzl
  rules/rules_task/task/private/task.bzl
  rules/rules_task/tests/BUILD.bazel
  rules/rules_task/tests/test.py
  tools/bazel/workspace_status.sh
Due: buildifier

Working using an info file
  rules/rules_task/task/private/task.bzl
  rules/rules_task/tests/BUILD.bazel
Due: buildifier

Fixed rules_task tests
  .bazelversion
  MODULE.bazel.lock
  rules/rules_task/task/private/task.bzl
  rules/rules_task/tests/BUILD.bazel
  rules/rules_task/tests/test.py
  tools/bazel/workspace_status.sh
Due: buildifier

Convert info and version file to dotenv format
  rules/rules_task/task/private/BUILD.bazel
  rules/rules_task/task/private/dotenv_convert.sh
  rules/rules_task/task/private/task.bzl
  rules/rules_task/tests/test.py
Due: buildifier

Working stamp_stable and stamp_volatile
  rules/rules_task/task/private/BUILD.bazel
  rules/rules_task/task/private/cmd.bzl
  rules/rules_task/task/private/dotenv_convert.py
  rules/rules_task/task/private/dotenv_convert.sh
  rules/rules_task/task/private/task.bzl
  rules/rules_task/tests/BUILD.bazel
  rules/rules_task/tests/test.py
Due: buildifier

Upgrade aspect_bazel_lib for rules_task
  rules/rules_task/MODULE.bazel
Due: buildifier

Upgrade library some more
  MODULE.bazel
  rules/rules_release/MODULE.bazel
  rules/rules_task/MODULE.bazel
Due: buildifier

Simplify release archives
  MODULE.bazel
  rules/rules_release/BUILD.bazel
  rules/rules_release/MODULE.bazel
  rules/rules_release/release/repositories.bzl
  rules/rules_task/BUILD.bazel
  rules/rules_task/MODULE.bazel
Due: buildifier

Generate changesets for a release
  .changeset/bunq2ynab-purple-windows-swim.md
  .changeset/provisioner-soft-tables-bake.md
  .changeset/rules_release-thirty-kiwis-attack.md
  .changeset/rules_task-old-apples-sneeze-2.md
  .changeset/rules_task-old-apples-sneeze.md
Due: prettier

Added docs
  rules/rules_task/README.md
Due: prettier

Small fixes
  rules/rules_task/README.md
Due: prettier

Fix more typos
  rules/rules_task/README.md
Due: prettier

feat: Support info and version file in rules_task (#652)
  .bazelrc
  .changeset/bunq2ynab-purple-windows-swim.md
  .changeset/provisioner-soft-tables-bake.md
  .changeset/rules_release-thirty-kiwis-attack.md
  .changeset/rules_task-old-apples-sneeze-2.md
  .changeset/rules_task-old-apples-sneeze.md
  MODULE.bazel
  rules/rules_release/BUILD.bazel
  rules/rules_release/MODULE.bazel
  rules/rules_release/release/repositories.bzl
  rules/rules_task/BUILD.bazel
  rules/rules_task/MODULE.bazel
  rules/rules_task/README.md
  rules/rules_task/task/private/BUILD.bazel
  rules/rules_task/task/private/cmd.bzl
  rules/rules_task/task/private/dotenv_convert.py
  rules/rules_task/task/private/task.bzl
  rules/rules_task/tests/BUILD.bazel
  rules/rules_task/tests/test.py
  tools/bazel/workspace_status.sh
Due: prettier, buildifier

chore(release_manager): update release files
  .changeset/bunq2ynab-purple-windows-swim.md
  .changeset/provisioner-soft-tables-bake.md
  .changeset/rules_release-thirty-kiwis-attack.md
  .changeset/rules_task-old-apples-sneeze-2.md
  .changeset/rules_task-old-apples-sneeze.md
  provisioner/CHANGELOG.md
  provisioner/version.txt
  rules/rules_release/CHANGELOG.md
  rules/rules_release/version.txt
  rules/rules_task/CHANGELOG.md
  rules/rules_task/version.txt
  tools/bunq2ynab/CHANGELOG.md
  tools/bunq2ynab/version.txt
Due: prettier

feat: Support overriding nested stamping
  rules/rules_task/task/private/dotenv_convert.py
  rules/rules_task/tests/BUILD.bazel
  rules/rules_task/tests/test.py
Due: buildifier

write changesets
  .changeset/rules_task-brown-colts-fry.md
Due: prettier

Updated docs
  rules/rules_task/README.md
  rules/rules_task/tests/BUILD.bazel
Due: prettier, buildifier

feat: Support overriding nested stamping (#654)
  .changeset/rules_task-brown-colts-fry.md
  rules/rules_task/README.md
  rules/rules_task/task/private/dotenv_convert.py
  rules/rules_task/tests/BUILD.bazel
  rules/rules_task/tests/test.py
Due: prettier, buildifier

chore(release_manager): update release files
  .changeset/rules_task-brown-colts-fry.md
  rules/rules_task/CHANGELOG.md
  rules/rules_task/version.txt
Due: prettier

Add in the actual cam
  haos/configuration.yaml
Due: prettier

Use lower resolution
  haos/configuration.yaml
Due: prettier

chore(deps): Upgrade bunq2ynab
  WORKSPACE.bzlmod
  workstation/deploys/ssh/files/gitconfig
Due: buildifier

Generate changesets
  .changeset/bunq2ynab-violet-eggs-smile.md
  .changeset/provisioner-strange-rivers-impress.md
Due: prettier

chore(deps): Upgrade bunq2ynab (#656)
  .changeset/bunq2ynab-violet-eggs-smile.md
  .changeset/provisioner-strange-rivers-impress.md
  WORKSPACE.bzlmod
  workstation/deploys/ssh/files/gitconfig
Due: prettier, buildifier

chore(release_manager): update release files
  .changeset/bunq2ynab-violet-eggs-smile.md
  .changeset/provisioner-strange-rivers-impress.md
  provisioner/CHANGELOG.md
  provisioner/version.txt
  tools/bunq2ynab/CHANGELOG.md
  tools/bunq2ynab/version.txt
Due: prettier

fix: Propagate signal
  rules/rules_task/task/private/runner.py
Due: none

add vscode settings
  .vscode/settings.json
Due: prettier

update devbox
  .github/workflows/test.yml
Due: prettier

upgrade further
  .github/workflows/test.yml
Due: prettier

generate changeset
  .changeset/rules_task-serious-bugs-own.md
Due: prettier

fix: Propagate signal (#658)
  .changeset/rules_task-serious-bugs-own.md
  .github/workflows/test.yml
  .vscode/settings.json
  rules/rules_task/task/private/runner.py
Due: prettier

chore(release_manager): update release files
  .changeset/rules_task-serious-bugs-own.md
  rules/rules_task/CHANGELOG.md
  rules/rules_task/version.txt
Due: prettier
