Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

lefthook.yml:

all:
  commands:
    black:
      run: black --force-exclude=/home-assistant\/config\/custom_components --check {all_files}
      glob: "*.{py}"
    prettier:
      run: prettier --check {all_files}
      glob: "*.{yml,yaml,json,md}"
    buildifier:
      run: buildifier -mode check {all_files}
      glob: "*.{bazel,bzl,bzlmod}"

pre-commit:
  commands:
    black:
      run: black {staged_files}
      glob: "*.{py}"
      stage_fixed: true
    prettier:
      run: prettier --write {staged_files}
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
    buildifier:
      run: buildifier {staged_files}
      glob: "*.{bazel,bzl,bzlmod}"
      stage_fixed: true

md5 hash
  rules/rules_release/release/lib/utils.mjs
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
Due: none

Test
  rules/rules_release/BUILD.bazel
Due: buildifier

Test 2
  rules/rules_release/BUILD.bazel
Due: buildifier

Test 3
  rules/rules_release/BUILD.bazel
Due: buildifier

Make it work
  rules/rules_release/BUILD.bazel
Due: buildifier

Fix impacted targets
  rules/rules_release/tools/lib/repositories/BazelDiffRepository.mjs
  rules/rules_task/README.md
Due: prettier

remove
  rules/rules_task/README.md
Due: prettier

Use proper casing
  rules/rules_release/tools/BUILD.bazel
  rules/rules_release/tools/lib/actions/BazelDiffChangeAction.mjs
  rules/rules_release/tools/private/bazel_diff_release.bzl
Due: buildifier

Fix tests
  .bazelrc
  rules/rules_release/.bazelrc
  rules/rules_release/examples/workspace/.bazelrc
  rules/rules_release/examples/workspace/BUILD.bazel
  rules/rules_release/examples/workspace/WORKSPACE
  rules/rules_release/release/lib/repositories/ChangesetRepository.mjs
Due: buildifier

Fix bazel integration test
  rules/rules_release/examples/BUILD.bazel
Due: buildifier

Consolidate installation instructions
  rules/rules_release/examples/workspace/WORKSPACE
  rules/rules_release/release/repositories.bzl
  rules/rules_release/release/repository_primary_deps.bzl
  rules/rules_release/release/repository_secondary_deps.bzl
Due: buildifier

Try to make it work
  rules/rules_release/examples/BUILD.bazel
  rules/rules_release/examples/workspace/WORKSPACE
Due: buildifier

Specify cli better
  rules/rules_release/tools/BUILD.bazel
Due: buildifier

try rename
  rules/rules_release/tools/BUILD.bazel
  rules/rules_release/tools/bazel_diff_change_cli.mjs
Due: buildifier

Fix it up some more
  rules/rules_release/examples/BUILD.bazel
  rules/rules_release/examples/workspace/WORKSPACE
  rules/rules_release/tools/BUILD.bazel
Due: buildifier

Update release template
  rules/rules_release/BUILD.bazel
  rules/rules_release/examples/workspace/WORKSPACE
Due: buildifier

Add changesets
  .changeset/rules_release-quick-cheetahs-thank-2.md
  .changeset/rules_release-quick-cheetahs-thank-3.md
  .changeset/rules_release-quick-cheetahs-thank-4.md
  .changeset/rules_release-quick-cheetahs-thank.md
Due: prettier

chore(release_manager): update release files
  .changeset/rules_release-quick-cheetahs-thank-2.md
  .changeset/rules_release-quick-cheetahs-thank-3.md
  .changeset/rules_release-quick-cheetahs-thank-4.md
  .changeset/rules_release-quick-cheetahs-thank.md
  rules/rules_release/CHANGELOG.md
  rules/rules_release/version.txt
Due: prettier

Trying to cross compile python base image
  .gitignore
  build.nix
  docker.nix
  test.nix
Due: none

Maybe works?
  test.nix
Due: none

Try to build multi-arch image
  WORKSPACE.bzlmod
  test.nix
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Successfully load bunq2ynab into docker
  BUILD.bazel
  MODULE.bazel
  tools/bunq2ynab/BUILD.bazel
  tools/python/BUILD.bazel
  tools/python/defs.bzl
Due: buildifier

Use actual Python base image
  WORKSPACE.bzlmod
  python310_base_image.nix
  test.nix
  tools/bunq2ynab/BUILD.bazel
  tools/python/BUILD.bazel
  tools/python/python_base_image.nix
Due: buildifier

Cleanup
  build.nix
  docker.nix
  tools/python/defs.bzl
  tools/python/python_base_image.nix
Due: buildifier

Prevent copying over hermetic interpreter
  BUILD.bazel
  tools/bunq2ynab/BUILD.bazel
  tools/python/BUILD.bazel
  tools/python/defs.bzl
Due: buildifier

Fix test
  BUILD.bazel
  tools/python/defs.bzl
Due: buildifier

Update naming
  tools/python/defs.bzl
Due: buildifier

Add changeset
  .changeset/bunq2ynab-ninety-planets-yell.md
Due: prettier

feat: Multi-arch Python base image (#614)
  .changeset/bunq2ynab-ninety-planets-yell.md
  .gitignore
  BUILD.bazel
  MODULE.bazel
  WORKSPACE.bzlmod
  tools/bunq2ynab/BUILD.bazel
  tools/python/BUILD.bazel
  tools/python/defs.bzl
  tools/python/python_base_image.nix
Due: prettier, buildifier

chore(release_manager): update release files
  .changeset/bunq2ynab-ninety-planets-yell.md
  tools/bunq2ynab/CHANGELOG.md
  tools/bunq2ynab/version.txt
Due: prettier

Wire bunq2ynab in provisioner
  provisioner/BUILD.bazel
  provisioner/deploys/bunq2ynab/files/docker-compose.yml.j2
  provisioner/deploys/bunq2ynab/tasks/install_bunq2ynab.py
  tools/bunq2ynab/BUILD.bazel
  tools/bunq2ynab/config-dev.json.tpl
  tools/bunq2ynab/config-prod.json.tpl
Due: buildifier

Wire bunq2ynab in provisioner
  provisioner/BUILD.bazel
  provisioner/deploy.py
  provisioner/deploys/bunq2ynab/files/docker-compose.yml.j2
  provisioner/deploys/bunq2ynab/tasks/install_bunq2ynab.py
Due: buildifier

Fix references
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Move regctl
  BUILD.bazel
  WORKSPACE.bzlmod
  rules/rules_release/MODULE.bazel
  rules/rules_release/release/repositories.bzl
  rules/rules_release/tools/defs.bzl
  rules/rules_release/tools/private/publish_oci_image.bzl
  rules/rules_release/tools/regctl/BUILD.bazel
  tools/bunq2ynab/BUILD.bazel
  tools/python/defs.bzl
Due: buildifier

Setup dev publish oci image for bunq2ynab
  MODULE.bazel
  rules/rules_release/MODULE.bazel
  rules/rules_release/release/repositories.bzl
  rules/rules_release/tools/private/publish_oci_image.bzl
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Migrating provisioner to rules_oci
  .bazelrc
  MODULE.bazel
  WORKSPACE.bzlmod
  provisioner/BUILD.bazel
  tools/docker/docker.bzl
  tools/python/defs.bzl
  tools/ubuntu/BUILD.bazel
  workstation/BUILD.bazel
Due: buildifier

Working running provisioner-dev image
  provisioner/BUILD.bazel
  tools/docker/docker.bzl
  tools/python/defs.bzl
Due: buildifier

Make it work for bunq
  tools/docker/docker.bzl
Due: buildifier

Delete unused file
  tools/ubuntu/BUILD.bazel
Due: buildifier
