Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

lefthook.yml:

all:
  commands:
    black:
      run: black --force-exclude=/home-assistant\/config\/custom_components --check {all_files}
      glob: "*.{py}"
    prettier:
      run: prettier --check {all_files}
      glob: "*.{yml,yaml,json,md}"
    buildifier:
      run: buildifier -mode check {all_files}
      glob: "*.{bazel,bzl,bzlmod}"

pre-commit:
  commands:
    black:
      run: black {staged_files}
      glob: "*.{py}"
      stage_fixed: true
    prettier:
      run: prettier --write {staged_files}
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
    buildifier:
      run: buildifier {staged_files}
      glob: "*.{bazel,bzl,bzlmod}"
      stage_fixed: true

Create ChangesetRepository
  rules/rules_release/BUILD.bazel
  rules/rules_release/lib/actions/GenerateAction.mjs
  rules/rules_release/lib/get-impacted-targets.js
  rules/rules_release/lib/repositories/ChangesetRepository.mjs
Due: buildifier

More cleanup
  rules/rules_release/BUILD.bazel
  rules/rules_release/cli.mjs
  rules/rules_release/lib/get-config.js
Due: buildifier

VersionAction placeholder
  rules/rules_release/BUILD.bazel
  rules/rules_release/cli.mjs
  rules/rules_release/lib/actions/VersionAction.mjs
Due: buildifier

small refactoring
  BUILD.bazel
  rules/rules_release/lib/actions/VersionAction.mjs
  rules/rules_release/lib/repositories/ReleaseRepository.mjs
  rules/rules_release/lib/repositories/TargetRepository.mjs
  rules/rules_release/release/private/release.bzl
  rules/rules_task/BUILD.bazel
Due: buildifier

Add deps attribute to release
  BUILD.bazel
  rules/rules_release/BUILD.bazel
  rules/rules_release/release/private/release.bzl
  rules/rules_release/release/private/release_manager.bzl
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Write out packages for changesets
  rules/rules_release/BUILD.bazel
  rules/rules_release/lib/actions/GenerateAction.mjs
  rules/rules_release/lib/actions/VersionAction.mjs
  rules/rules_release/lib/repositories/ConfigRepository.mjs
  rules/rules_release/lib/repositories/PackageRepository.mjs
  rules/rules_release/lib/repositories/TargetRepository.mjs
  rules/rules_release/lib/repositories/VersionRepository.mjs
  rules/rules_release/package.json
  rules/rules_release/pnpm-lock.yaml
  rules/rules_release/release/private/release.bzl
Due: prettier, buildifier

Wrap changesets cli for version action
  rules/rules_release/BUILD.bazel
  rules/rules_release/changesets_cli.mjs
  rules/rules_release/cli.mjs
  rules/rules_release/lib/actions/GenerateAction.mjs
  rules/rules_release/lib/actions/VersionAction.mjs
  rules/rules_release/lib/repositories/ChangesetRepository.mjs
  rules/rules_release/lib/repositories/ConfigRepository.mjs
  rules/rules_release/release/private/release_manager.bzl
Due: buildifier

Use global root package json to make it compatible with changesets
  package.json
  pnpm-lock.yaml
  rules/rules_release/lib/actions/VersionAction.mjs
  rules/rules_release/lib/repositories/PackageRepository.mjs
Due: prettier

Use changelog.js file
  .changeset/changelog.js
  .changeset/config.json
Due: prettier

Working changelog execution
  .changeset/changelog.js
  .changeset/config.json
  rules/rules_release/BUILD.bazel
  rules/rules_release/lib/repositories/ChangesetRepository.mjs
Due: prettier, buildifier

Working version command
  rules/rules_release/lib/actions/VersionAction.mjs
  rules/rules_release/lib/repositories/PackageRepository.mjs
  rules/rules_release/lib/repositories/VersionRepository.mjs
Due: none

Keep unique ID inside changeset file name
  rules/rules_release/lib/repositories/ChangesetRepository.mjs
Due: none

Setup rules_release release
  BUILD.bazel
  kerk_version.txt
  rules/rules_release/BUILD.bazel
  rules/rules_release/lib/repositories/ChangesetRepository.mjs
  rules/rules_release/version.txt
  rules/rules_task/BUILD.bazel
  tools/pyinfra/main.py
Due: buildifier

Remove rules release for now
  BUILD.bazel
Due: buildifier

Add changelog files
  rules/rules_release/release/private/release.bzl
  rules/rules_task/BUILD.bazel
  rules/rules_task/CHANGELOG.md
  tools/bunq2ynab/BUILD.bazel
  tools/bunq2ynab/CHANGELOG.md
Due: prettier, buildifier

Fix
  rules/rules_release/BUILD.bazel
  rules/rules_release/CHANGELOG.md
  rules/rules_release/release/private/release.bzl
Due: prettier, buildifier

Implement changelog handling
  rules/rules_release/BUILD.bazel
  rules/rules_release/lib/actions/VersionAction.mjs
  rules/rules_release/lib/repositories/ChangelogRepository.mjs
  rules/rules_release/lib/repositories/PackageRepository.mjs
  rules/rules_release/release/private/release.bzl
Due: buildifier

Push bunq2ynab image to GitHub
  rules/rules_release/lib/actions/VersionAction.mjs
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Implement basic github release strategy
  WORKSPACE.bzlmod
  rules/rules_release/BUILD.bazel
  rules/rules_release/release/defs.bzl
  rules/rules_release/release/private/release.bzl
  rules/rules_task/BUILD.bazel
  tools/bunq2ynab/BUILD.bazel
  tools/github_cli/BUILD.bazel
  tools/github_cli/BUILD.repositories.bazel.tpl
Due: buildifier

Skaffold js_run_binary
  rules/rules_release/release/private/BUILD.bazel
  rules/rules_release/release/private/release.bzl
  rules/rules_release/release/private/version_changelog.js
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Working changelog extractor
  rules/rules_release/package.json
  rules/rules_release/pnpm-lock.yaml
  rules/rules_release/release/private/BUILD.bazel
  rules/rules_release/release/private/release.bzl
  rules/rules_release/release/private/version_changelog.js
  rules/rules_release/release/private/version_changelog.mjs
Due: prettier, buildifier

Cleanup
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Remove unused packages
  rules/rules_release/BUILD.bazel
  rules/rules_release/package.json
  rules/rules_release/pnpm-lock.yaml
Due: prettier, buildifier

Remove other releases for now
  BUILD.bazel
  rules/rules_release/BUILD.bazel
  rules/rules_task/BUILD.bazel
Due: buildifier

More cleanup
  rules/rules_release/CHANGELOG.md
  rules/rules_release/release_manager.js
  rules/rules_release/version.txt
  rules/rules_task/BUILD.bazel
  rules/rules_task/CHANGELOG.md
  rules/rules_task/MODULE.bazel
  rules/rules_task/package.json
  rules/rules_task/version.txt
  tools/bunq2ynab/package.json
Due: prettier, buildifier

More cleaning
  rules/rules_release/release/defs.bzl
  rules/rules_release/release/private/BUILD.bazel
Due: buildifier

Publish skaffold
  buildbuddy.yaml
  rules/rules_release/BUILD.bazel
  rules/rules_release/cli.mjs
  rules/rules_release/lib/actions/PublishAction.mjs
  rules/rules_release/release/private/release_manager.bzl
  tools/bunq2ynab/BUILD.bazel
Due: prettier, buildifier

Working publish cmds for releases
  rules/rules_release/BUILD.bazel
  rules/rules_release/lib/actions/PublishAction.mjs
  rules/rules_release/lib/repositories/PublishRepository.mjs
  rules/rules_release/release/private/release.bzl
Due: buildifier

Skaffold release manager publish cmds
  BUILD.bazel
  rules/rules_release/cli.mjs
  rules/rules_release/lib/actions/PublishAction.mjs
  rules/rules_release/lib/repositories/PublishRepository.mjs
  rules/rules_release/release/private/release.bzl
  rules/rules_release/release/private/release_manager.bzl
  rules/rules_release/release/private/utils.bzl
Due: buildifier

Push git script
  BUILD.bazel
Due: buildifier

Fix typo
  BUILD.bazel
Due: buildifier

chore(release_manager): [skip ci] update release files
  tools/bunq2ynab/version.txt
Due: none

update
  tools/bunq2ynab/version.txt
Due: none

try
  BUILD.bazel
Due: buildifier

yes
  tools/bunq2ynab/version.txt
Due: none

yes
  BUILD.bazel
  tools/bunq2ynab/version.txt
Due: buildifier

Working git push
  BUILD.bazel
Due: buildifier

yeah
  BUILD.bazel
Due: buildifier
