Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

black:
  run: black {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

buildifier:
  run: buildifier {staged_files}
  stage_fixed: true

refactor(coder-devcontainer-kubernetes): address PR review comments
  libs/coder-devcontainer-kubernetes/moon.yml
  libs/coder-devcontainer-kubernetes/tests/goss.yaml
  libs/coder-devcontainer-kubernetes/tests/workspace-test.bats
Due: prettier

feat: upgrade Coder to 2.29.2
  third_party/hermit/coder.hcl
  third_party/vendir/charts/coder/Chart.yaml
  third_party/vendir/vendir.lock.yml
  third_party/vendir/vendir.yml
Due: prettier

feat: upgrade Coder CLI to 2.29.2
  bin/.coder-2.29.2.pkg
  bin/coder
Due: none

feat: upgrade Coder to 2.29.2 (#891)
  bin/.coder-2.29.2.pkg
  bin/coder
  third_party/hermit/coder.hcl
  third_party/vendir/charts/coder/Chart.yaml
  third_party/vendir/vendir.lock.yml
  third_party/vendir/vendir.yml
Due: prettier

refactor(coder-devcontainer-kubernetes): migrate workspace tests to bats framework (#888)
  libs/coder-devcontainer-kubernetes/moon.yml
  libs/coder-devcontainer-kubernetes/scripts/workspace-test.sh
  libs/coder-devcontainer-kubernetes/tests/goss.yaml
  libs/coder-devcontainer-kubernetes/tests/workspace-test.bats
Due: prettier

Updated coder debug slash command
  .claude/commands/coder.debug.md
Due: prettier

refactor(devcontainer): migrate test.sh to bats testing framework (#889)
  .devcontainer/moon.yml
  .devcontainer/test.sh
  .devcontainer/tests/goss.yaml
  .devcontainer/tests/test.bats
  .trunk/.trunkcignore
  .trunk/trunk.yaml
Due: prettier

Fix DNS for here-i-am node
  apps/enigma-cozy/here-i-am.patch.yaml
  apps/enigma-cozy/moon.yml
Due: prettier

Added dns upstream test
  apps/enigma-cozy/goss.yaml
Due: prettier

Fix ovn test
  apps/enigma-cozy/goss.yaml
Due: prettier

Fix whitespace
  apps/enigma-cozy/scripts/validate-ovn-raft-cluster.sh
Due: none

upgrading cozystack and talos
  apps/enigma-cozy/moon.yml
  libs/talos-image/moon.yml
  third_party/vendir/config/cozystack-talos-profiles/profiles/initramfs.yaml
  third_party/vendir/config/cozystack-talos-profiles/profiles/installer.yaml
  third_party/vendir/config/cozystack-talos-profiles/profiles/iso.yaml
  third_party/vendir/config/cozystack-talos-profiles/profiles/kernel.yaml
  third_party/vendir/config/cozystack-talos-profiles/profiles/metal.yaml
  third_party/vendir/config/cozystack-talos-profiles/profiles/nocloud.yaml
  third_party/vendir/vendir.lock.yml
  third_party/vendir/vendir.yml
Due: prettier

Fix docker-in-docker build issue
  .devcontainer/Dockerfile
  bin/.docker-cli-29.1.4.pkg
  bin/docker
  third_party/vendir/shell/docker-in-docker/install.sh
  third_party/vendir/vendir.lock.yml
  third_party/vendir/vendir.yml
Due: prettier

Update image reference
  apps/enigma-cozy/all.patch.yaml
Due: prettier

Fixed output
  apps/enigma-cozy/goss.yaml
Due: prettier

Migrate postgres-coder-cluster-db-prod from legacy HelmRelease to Postgres CRD
  apps/coder-cluster-prod/gitrepository-setup.yaml
  apps/coder-cluster-prod/kustomization-root.yaml
  apps/coder-cluster-prod/kustomization.yaml
  apps/coder-cluster-prod/postgres-coder-cluster-db-prod.yaml
Due: prettier

Backport keycloack values
  apps/enigma-cozy/cozystack.yaml
Due: prettier

Temporarily enable password auth for Coder admin setup
  apps/coder-prod/gitrepository-setup.yaml
  apps/coder-prod/helmrelease-coder.yaml
Due: prettier

Revert password auth and gitrepository to production settings
  apps/coder-prod/gitrepository-setup.yaml
  apps/coder-prod/helmrelease-coder.yaml
Due: prettier

Improved devcontainer-installe-extensions CLI and tests
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/moon.yml
  .devcontainer/tests/test.bats
  .moon/tasks/tasks.yml
  bin/.code-server-4.108.1.pkg
  bin/code
  bin/code-server
  bin/devcontainer-install-extensions
  libs/devcontainer-install-extensions/devcontainer-install-extensions.sh
  libs/devcontainer-install-extensions/moon.yml
  libs/devcontainer-install-extensions/tests/fixtures/test-devcontainer.json
  libs/devcontainer-install-extensions/tests/test.bats
  third_party/hermit/code-server.hcl
  third_party/hermit/vscode-cli.hcl
Due: prettier

Refactor installing extensions into devcontainer
  .vscode/extensions.json
  libs/devenv/files/.chezmoiignore.tmpl
Due: prettier

Refactor installing devcontainer extensions with chezmoi
  libs/devcontainer-install-extensions/.gitignore
  libs/devcontainer-install-extensions/moon.yml
  libs/devenv/files/run_onchange_install-vscode-extensions.sh.tmpl
  libs/devenv/moon.yml
Due: prettier

Small fixes
  .dockerignore
  .trunk/trunk.yaml
  libs/coder-devcontainer-kubernetes/main.tf
  libs/devcontainer-install-extensions/devcontainer-install-extensions.sh
Due: prettier

make install work inside Dockerfile
  .devcontainer/Dockerfile
  bin/devcontainer-install-extensions
  libs/devcontainer-install-extensions/dist/.gitignore
  libs/devcontainer-install-extensions/moon.yml
  libs/devenv/files/run_onchange_install-vscode-extensions.sh.tmpl
Due: prettier

Fix lint
  bin/devcontainer-install-extensions
Due: none

Inline extensions script
  .devcontainer/Dockerfile
  .devcontainer/moon.yml
  bin/devcontainer-install-extensions
  libs/devcontainer-install-extensions/.gitignore
  libs/devcontainer-install-extensions/devcontainer-install-extensions.sh
  libs/devcontainer-install-extensions/dist/.gitignore
  libs/devcontainer-install-extensions/moon.yml
  libs/devcontainer-install-extensions/tests/fixtures/test-devcontainer.json
  libs/devcontainer-install-extensions/tests/test.bats
  libs/devenv/files/run_onchange_install-vscode-extensions.sh.tmpl
  libs/devenv/moon.yml
Due: prettier

Fix trunk check
  .github/workflows/test.yaml
  apps/blueorange/src/styles/landing.css
  libs/fleet-mcp/tests/record.py
  libs/onepassword/BUILD.bazel
  libs/rules_release/tools/bazel-differ/BUILD.bazel
  libs/rules_release/tools/github_cli/BUILD.bazel
  libs/rules_release/tools/onepassword/BUILD.bazel
  libs/rules_release/tools/regctl/BUILD.bazel
Due: prettier, buildifier

Fail if extensions can't install
  .devcontainer/devcontainer.json
  libs/devenv/files/run_onchange_install-vscode-extensions.sh.tmpl
  libs/devenv/moon.yml
Due: prettier

Remove coder code-server
  bin/.code-server-4.108.1.pkg
  bin/code-server
  third_party/hermit/code-server.hcl
Due: none

Install extensions using Microsoft VSCode server
  .devcontainer/devcontainer.json
  bin/.vscode-server-1.108.2-c9d77990917f3102ada88be140d28b038d1dd7c7.pkg
  bin/code-server-internal
  libs/devenv/files/run_onchange_install-vscode-extensions.sh.tmpl
  libs/devenv/goss.yaml
  third_party/hermit/vscode-server.hcl
Due: prettier

Also run on macOS
  libs/devenv/goss.yaml
Due: prettier

Fix blueorange CI
  apps/blueorange/moon.yml
  apps/blueorange/package-lock.json
Due: prettier

Small improvements
  .devcontainer/Dockerfile
  libs/coder-devcontainer-kubernetes/main.tf
  libs/coder-devcontainer-kubernetes/moon.yml
  libs/coder-devcontainer-kubernetes/tests/workspace-test.bats
  libs/devenv/files/run_onchange_install-vscode-extensions.sh.tmpl
Due: prettier

Fix forking issue with goss
  libs/vault-shell/vault-shell.py
Due: none

Remove code server extension check
  libs/devenv/goss.yaml
Due: prettier

Make change
  libs/devenv/files/run_onchange_install-vscode-extensions.sh.tmpl
Due: none

Another change
  libs/devenv/files/run_onchange_install-vscode-extensions.sh.tmpl
Due: none

Restore
  libs/devenv/files/run_onchange_install-vscode-extensions.sh.tmpl
Due: none

Update state
  .taskmaster/state.json
Due: prettier

Craeted PRD
  .taskmaster/docs/prd-devpod-devcontainer-integration.md
  bin/.devpod-0.6.15.pkg
  bin/devpod
  libs/devenv/files/run_onchange_install-vscode-extensions.sh.tmpl
  third_party/hermit/devpod.hcl
Due: prettier

Path conditions:
  black: any of: *.{py}
  prettier: any of: *.{yml,yaml,json,md,js}
  buildifier: any of: *.{bazel,bzl,bzlmod}, but not: pdm_lock.bzl
