Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

black:
  run: black {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

buildifier:
  run: buildifier {staged_files}
  stage_fixed: true

Fix generate script
  rules/rules_release/cli.mjs
  rules/rules_release/release/private/release_manager.bzl
Due: buildifier

chore(release_manager): [skip ci] update release files
  tools/bunq2ynab/CHANGELOG.md
  tools/bunq2ynab/version.txt
Due: prettier

Cleanup
  rules/rules_release/lib/actions/PublishAction.mjs
Due: none

More cleanup
  rules/rules_release/MODULE.bazel
  rules/rules_release/changesets_cli.mjs
  tools/bunq2ynab/CHANGELOG.md
  tools/bunq2ynab/version.txt
Due: prettier, buildifier

Update user that commits changes
  BUILD.bazel
Due: buildifier

Cleanup
  BUILD.bazel
  rules/rules_release/package.json
Due: prettier, buildifier

Created changeset for bunq2ynab release
  .changeset/bunq2ynab_release-five-suits-move.md
Due: prettier

Add changelog file for bunq2ynab
  tools/bunq2ynab/CHANGELOG.md
Due: prettier

Set the right service account token if available
  BUILD.bazel
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

fix:Set the right service account token if available (#604)
  BUILD.bazel
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Fix git push
  BUILD.bazel
Due: buildifier

Remove origin
  BUILD.bazel
Due: buildifier

fix: Make git push work in buildbuddy CI (#605)
  BUILD.bazel
Due: buildifier

chore(release_manager): update release files
  .changeset/bunq2ynab_release-five-suits-move.md
  tools/bunq2ynab/CHANGELOG.md
  tools/bunq2ynab/version.txt
Due: prettier

yes
  BUILD.bazel
Due: buildifier

try
  shine
Due: none

Prevent publish git from breaking if there are no changes
  BUILD.bazel
Due: buildifier

fix: Prevent publish git from breaking if there are no changes (#607)
  BUILD.bazel
Due: buildifier

Release rules_task and rules_release
  BUILD.bazel
  MODULE.bazel
  rules/rules_release/BUILD.bazel
  rules/rules_release/CHANGELOG.md
  rules/rules_release/MODULE.bazel
  rules/rules_release/version.txt
  rules/rules_task/BUILD.bazel
  rules/rules_task/CHANGELOG.md
  rules/rules_task/MODULE.bazel
  rules/rules_task/version.txt
Due: prettier, buildifier

Setup release names
  BUILD.bazel
  rules/rules_release/BUILD.bazel
  rules/rules_release/release/private/release.bzl
  rules/rules_task/BUILD.bazel
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Try to use multitool with github_cli
  WORKSPACE.bzlmod
  rules/rules_release/BUILD.bazel
  rules/rules_release/MODULE.bazel
  rules/rules_release/release/defs.bzl
  rules/rules_release/release/private/publish_github_release.bzl
  rules/rules_release/repositories.bzl
  rules/rules_release/tools/github_cli/BUILD.bazel
  rules/rules_release/tools/github_cli/BUILD.repositories.bazel.tpl
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Remove multitool
  rules/rules_release/BUILD.bazel
  rules/rules_release/MODULE.bazel
  rules/rules_release/release/private/publish_github_release.bzl
  rules/rules_release/repositories.bzl
Due: buildifier

Working publish github release rule
  rules/rules_release/BUILD.bazel
  rules/rules_release/MODULE.bazel
  rules/rules_release/release/private/publish_github_release.bzl
  rules/rules_release/release/private/release.bzl
  rules/rules_release/repositories.bzl
  rules/rules_release/tools/onepassword/BUILD.bazel
  rules/rules_release/tools/onepassword/BUILD.repositories.bazel.tpl
Due: buildifier

Try to setup template rule for github
  rules/rules_release/BUILD.bazel
  rules/rules_release/MODULE.bazel
  rules/rules_release/release/BUILD.bazel
  rules/rules_release/release/private/BUILD.bazel
  rules/rules_release/release/private/publish_github_release.bzl
  rules/rules_release/release/private/release.bzl
Due: buildifier

Working template for github release
  MODULE.bazel
  rules/rules_release/BUILD.bazel
  rules/rules_release/MODULE.bazel
Due: buildifier

Upload gitlab release with a tar.gz archive
  rules/rules_release/BUILD.bazel
  rules/rules_release/release/private/publish_github_release.bzl
Due: buildifier

Wire bunq2ynab with publish_to_github rule
  rules/rules_release/release/private/publish_github_release.bzl
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Proper wiring for rules_task
  rules/rules_release/release/private/publish_github_release.bzl
  rules/rules_task/BUILD.bazel
  rules/rules_task/tests/BUILD.bazel
  rules/rules_task/tools/BUILD.bazel
  rules/rules_task/version.txt
Due: buildifier

Change directory structure rules_task
  BUILD.bazel
  infrastructure/BUILD.bazel
  occupancy_component/BUILD.bazel
  provisioner/BUILD.bazel
  rules/rules_release/BUILD.bazel
  rules/rules_release/release/private/publish_github_release.bzl
  rules/rules_release/tools/github_cli/BUILD.bazel
  rules/rules_release/tools/onepassword/BUILD.bazel
  rules/rules_task/BUILD.bazel
  rules/rules_task/task/BUILD.bazel
  rules/rules_task/task/defs.bzl
  rules/rules_task/task/private/BUILD.bazel
  rules/rules_task/task/private/cmd.bzl
  rules/rules_task/task/private/py_binary_cmd.bzl
  rules/rules_task/task/private/task.bzl
  rules/rules_task/task/private/utils.bzl
  rules/rules_task/tests/BUILD.bazel
  rules/rules_task/tools/defs.bzl
  tools/black/BUILD.bazel
  tools/bunq2ynab/BUILD.bazel
  tools/docker/docker.bzl
  tools/mutagen/BUILD.bazel
  tools/onepassword/BUILD.bazel
  tools/onepassword/defs.bzl
  tools/pyinfra/defs.bzl
  tools/python/defs.bzl
  tools/regctl/BUILD.bazel
  tools/teleport/BUILD.bazel
  tools/tilt/BUILD.bazel
  workstation/BUILD.bazel
Due: buildifier

Implement all_files
  rules/rules_task/BUILD.bazel
  rules/rules_task/task/BUILD.bazel
  rules/rules_task/task/private/BUILD.bazel
Due: buildifier

Remove global defs
  rules/rules_task/defs.bzl
Due: buildifier

Sort imports
  rules/rules_task/task/private/task.bzl
Due: buildifier

Move runner files
  rules/rules_task/BUILD.bazel
  rules/rules_task/task/private/py_binary_cmd.bzl
  rules/rules_task/task/private/py_binary_cmd_main.tpl.py
  rules/rules_task/task/private/runner.py
  rules/rules_task/task/private/task.bzl
Due: buildifier

Setup release deps
  rules/rules_release/BUILD.bazel
  tools/bunq2ynab/BUILD.bazel
Due: buildifier

Created changesets
  .changeset/rules_release-wicked-carrots-obey-2.md
  .changeset/rules_release-wicked-carrots-obey.md
  .changeset/rules_task-ninety-lobsters-fold-2.md
  .changeset/rules_task-ninety-lobsters-fold.md
Due: prettier

Remove semantic release
  .github/workflows/release.yml
  rules/rules_task/.releaserc
  rules/rules_task/commit-paths.js
  rules/rules_task/generate-release-notes.sh
  rules/rules_task/package.json
  rules/rules_task/pnpm-lock.yaml
Due: prettier

Path conditions:
  black: any of: *.{py}
  prettier: any of: *.{yml,yaml,json,md}
  buildifier: any of: *.{bazel,bzl,bzlmod}
