Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

lefthook.yml:

all:
  commands:
    black:
      run: black --force-exclude=/home-assistant\/config\/custom_components --check {all_files}
      glob: "*.{py}"
    prettier:
      run: prettier --check {all_files}
      glob: "*.{yml,yaml,json,md,js}"
    buildifier:
      run: buildifier -mode check {all_files}
      glob: "*.{bazel,bzl,bzlmod}"
      exclude: "pdm_lock.bzl"

pre-commit:
  commands:
    black:
      run: black {staged_files}
      glob: "*.{py}"
      stage_fixed: true
    prettier:
      run: prettier --write {staged_files}
      glob: "*.{yml,yaml,json,md,js}"
      stage_fixed: true
    buildifier:
      run: buildifier {staged_files}
      glob: "*.{bazel,bzl,bzlmod}"
      stage_fixed: true
      exclude: "pdm_lock.bzl"

Create instruction page
  escaperoom/.streamlit/config.toml
  escaperoom/app.py
  escaperoom/pages/1_order.py
  escaperoom/pages/2_instruction.py
Due: none

update order page
  escaperoom/images/gpt.jpeg
  escaperoom/pages/1_order.py
Due: none

don't collect statistics
  escaperoom/.streamlit/config.toml
Due: none

Add balloons
  escaperoom/pages/2_instruction.py
Due: none

Update Bazel dependencies
  MODULE.bazel
  devenv/deploys/editor/files/settings.json
Due: prettier, buildifier

Fix lint issues
  .trunk/trunk.yaml
  escaperoom/Dockerfile
  escaperoom/ingress.yaml
Due: prettier

update ignore file
  escaperoom/.gitignore
Due: none

feat(escaperoom): Create and deploy small Streamlit game app (#663)
  .trunk/trunk.yaml
  MODULE.bazel
  devenv/deploys/editor/files/settings.json
  devenv/deploys/terminal/files/.terminal_env
  escaperoom/.dockerignore
  escaperoom/.gitignore
  escaperoom/.streamlit/config.toml
  escaperoom/Dockerfile
  escaperoom/app.py
  escaperoom/devspace.yaml
  escaperoom/images/gpt.jpeg
  escaperoom/ingress.yaml
  escaperoom/pages/1_order.py
  escaperoom/pages/2_instruction.py
  escaperoom/requirements.txt
  haos/configuration.yaml
  ips.md
Due: prettier, buildifier

feat(network): Setup VLANs
  ips.md
  network.md
Due: prettier

Add acls
  network/README.md
Due: prettier

Update docs
  network/README.md
Due: prettier

fix typo
  network/README.md
Due: prettier

feat(network): Move x-sense base into IoT network (#664)
  ips.md
  network/README.md
Due: prettier

feat(home-assistant): Integrate x-sense
  haos/configuration.yaml
Due: prettier

feat(home-assistant): Integrate x-sense (#665)
  haos/configuration.yaml
Due: prettier

feat(provisioner): Setup playbook
  .vscode/settings.json
  devenv/deploys/editor/files/settings.json
Due: prettier

Working playbook with Tailscale host
  .trunk/trunk.yaml
  ansible/filter_plugins/not_falsy.py
  ansible/group_vars/all.yml
  ansible/group_vars/provisioner.yml
  ansible/production
  ansible/provisioner.yml
  ansible/roles/pikvm/tasks/main.yml
  ansible/roles/pikvm/templates/meta.yml.j2
  ansible/site.yml
Due: prettier

Working playbook
  ansible/provisioner.yml
  ansible/roles/pikvm/tasks/main.yml
  ansible/roles/pikvm/templates/meta.yml.j2
Due: prettier

Add linter for Ansible
  .trunk/trunk.yaml
  ansible/production
Due: prettier

fix lint
  ansible/roles/pikvm/tasks/main.yml
Due: prettier

disable announce
  .trunk/trunk.yaml
Due: prettier

feat(provisioner): Setup playbook (#666)
  .trunk/trunk.yaml
  .vscode/settings.json
  ansible/filter_plugins/not_falsy.py
  ansible/group_vars/all.yml
  ansible/group_vars/provisioner.yml
  ansible/production
  ansible/provisioner.yml
  ansible/roles/pikvm/tasks/main.yml
  ansible/roles/pikvm/templates/meta.yml.j2
  ansible/site.yml
  devenv/deploys/editor/files/settings.json
Due: prettier

feat(provisioner): Connect Spacelift to Tailscale
  .github/workflows/deploy.yml
  buildbuddy.yaml
  tools/spacelift/Dockerfile
  tools/spacelift/bin/spacetail
Due: prettier

Add label
  .trunk/trunk.yaml
  tools/spacelift/Dockerfile
  tools/spacelift/bin/spacetail
Due: prettier

fqdn provisioner
  ansible/production
Due: none

Setup ssh config for Spacelift
  tools/spacelift/.ssh/config
  tools/spacelift/Dockerfile
Due: none

fix lint
  tools/spacelift/bin/spacetail
Due: none

feat(provisioner): Connect Spacelift to Tailscale (#667)
  .github/workflows/deploy.yml
  .trunk/trunk.yaml
  ansible/production
  buildbuddy.yaml
  tools/spacelift/.ssh/config
  tools/spacelift/Dockerfile
  tools/spacelift/bin/spacetail
Due: prettier

feat(spacelift): Setup release pipeline Ansible image
  .gitignore
  .nx/version-plans/version-plan-1731964176447.md
  .trunk/trunk.yaml
  nx.json
  package-lock.json
  package.json
  tools/spacelift/package.json
Due: prettier

Update changelog settings
  nx.json
Due: prettier

More settings
  nx.json
Due: prettier

Setting up pants
  .gitignore
  .trunk/trunk.yaml
  .vscode/settings.json
  pants-plugins/macros.py
  pants.toml
  tools/release/release.js
  tools/spacelift/Dockerfile
Due: prettier

More changes
  .trunk/trunk.yaml
  3rdparty/python/default.lock
  BUILD.pants
  package-lock.json
  package.json
  pants.toml
  tools/release/BUILD.pants
  tools/release/release.mjs
Due: prettier

Cleanup
  BUILD.pants
  package-lock.json
  package.json
  pants.toml
  tools/release/BUILD.pants
  tools/release/release.mjs
Due: prettier

downgrade node
  .trunk/trunk.yaml
Due: prettier

Add CloudWays key
  devenv/deploys/ssh/files/.config/1Password/ssh/agent.toml
Due: none

create release app
  package-lock.json
  package.json
  release/.editorconfig
  release/.gitattributes
  release/.gitignore
  release/.prettierignore
  release/package.json
  release/readme.md
  release/source/app.tsx
  release/source/cli.tsx
  release/test.tsx
  release/tsconfig.json
Due: prettier

Create Ink+Pastel app
  package-lock.json
  release/package.json
  release/readme.md
  release/source/app.tsx
  release/source/cli.tsx
  release/source/commands/index.tsx
  release/test.tsx
  release/tsconfig.json
Due: prettier

basic cli
  nx.json
  package-lock.json
  package.json
  release/package.json
  release/source/commands/index.tsx
Due: prettier

Create version repository
  package-lock.json
  release/package.json
  release/source/cli.tsx
  release/source/commands/index.tsx
  release/source/repositories/VersionRepository.ts
Due: prettier
