Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

lefthook.yml:

all:
  commands:
    black:
      run: black --force-exclude=/home-assistant\/config\/custom_components --check {all_files}
      glob: "*.{py}"
    prettier:
      run: prettier --check {all_files}
      glob: "*.{yml,yaml,json,md}"
    buildifier:
      run: buildifier -mode check {all_files}
      glob: "*.{bazel,bzl,bzlmod}"

pre-commit:
  commands:
    black:
      run: black {staged_files}
      glob: "*.{py}"
      stage_fixed: true
    prettier:
      run: prettier --write {staged_files}
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
    buildifier:
      run: buildifier {staged_files}
      glob: "*.{bazel,bzl,bzlmod}"
      stage_fixed: true

chown
  setup_ci.sh
Due: none

recursive
  setup_ci.sh
Due: none

Use different architecture
  python38_base_image.nix
Due: none

cleanup
  nix-build
  setup_ci.sh
Due: none

Working local image
  BUILD.bazel
  MODULE.bazel
  WORKSPACE.bzlmod
  python38_base_image.nix
Due: buildifier

Setup basic image test
  BUILD.bazel
Due: buildifier

Pick right architecture
  python38_base_image.nix
Due: none

basic python image
  BUILD.bazel
  MODULE.bazel
  hello_world.py
  python38_base_image.nix
  tools/python/py_image_layer.bzl
  tools/python/runfiles.bzl
Due: buildifier

Working docker image test
  BUILD.bazel
  rules/rules_task/defs.bzl
  tools/python/py_image_layer.bzl
  tools/python/runfiles.bzl
Due: buildifier

fix buildbuddy
  buildbuddy.yaml
Due: prettier

Extra debugging
  BUILD.bazel
  python38_base_image.nix
Due: buildifier

better way to archive py_binary with aspect rule
  BUILD.bazel
  MODULE.bazel
  devbox.json
  devbox.lock
  python38_base_image.nix
  tools/python/fix-chmod.patch
  tools/python/py_image_layer.bzl
  tools/python/python.build_defs
  tools/python/runfiles.bzl
Due: prettier, buildifier

Update rule a little bit
  tools/python/py_image_layer.bzl
Due: buildifier

Update release documentation rules_task
  rules/rules_task/.releaserc
  rules/rules_task/generate-release-notes.sh
Due: none

build(rules_task): trigger change
  rules/rules_task/generate-release-notes.sh
Due: none

fix(rules_task): try something
  rules/rules_task/.releaserc
Due: none

try
  rules/rules_task/.releaserc
  rules/rules_task/generate-release-notes.sh
Due: none

better configuration
  rules/rules_task/.releaserc
  rules/rules_task/package.json
  rules/rules_task/pnpm-lock.yaml
Due: prettier

Add docs
  rules/rules_task/.releaserc
  rules/rules_task/generate-release-notes.sh
  rules/rules_task/prepare-release.sh
Due: none

Restore monorepo lib for now
  rules/rules_task/package.json
  rules/rules_task/pnpm-lock.yaml
Due: prettier

Actually use
  rules/rules_task/.releaserc
Due: none

build(rules_task): Include workspace snippet in release notes (#586)
  rules/rules_task/.releaserc
  rules/rules_task/generate-release-notes.sh
  rules/rules_task/prepare-release.sh
Due: none

Remove monorepo
  rules/rules_task/.releaserc
  rules/rules_task/package.json
  rules/rules_task/pnpm-lock.yaml
Due: prettier

Use commit paths
  rules/rules_task/.releaserc
Due: none

Hacky working commitPaths plugin for semantic-release
  rules/rules_task/.releaserc
  rules/rules_task/commit-paths.js
Due: none

build(rules_task): Use custom semantic release plugin to release rules_task (#587)
  rules/rules_task/.releaserc
  rules/rules_task/commit-paths.js
  rules/rules_task/package.json
  rules/rules_task/pnpm-lock.yaml
Due: prettier

Notes added by 'git notes add'
  97e58a2da8014761f5ba27f550ee4016c81dce03
Due: none

Turn task binary into py_binary
  rules/rules_task/defs.bzl
  rules/rules_task/runner.py
Due: buildifier

Make sure to propagate data
  rules/rules_task/defs.bzl
Due: buildifier

Use native_test
  rules/rules_task/defs.bzl
Due: buildifier

Prevent collision
  rules/rules_task/defs.bzl
Due: buildifier

Fix local testing of bunq2ynab
  BUILD.bazel
  WORKSPACE.bzlmod
  rules/rules_task/defs.bzl
  tools/onepassword/BUILD.bazel
Due: buildifier

Propagate kwargs
  WORKSPACE.bzlmod
  rules/rules_task/defs.bzl
  tools/lefthook/BUILD.bazel
Due: buildifier

fix pulumi for darwin
  WORKSPACE.bzlmod
  tools/onepassword/BUILD.bazel
  tools/pulumi/BUILD.bazel
Due: buildifier

Propagate more attributes
  rules/rules_task/defs.bzl
Due: buildifier

Fix teleport
  WORKSPACE.bzlmod
  tools/teleport/BUILD.bazel
Due: buildifier

Fix regctl for darwin
  WORKSPACE.bzlmod
  tools/regctl/BUILD.bazel
Due: buildifier

Fix mutagen for darwin
  WORKSPACE.bzlmod
  tools/mutagen/BUILD.bazel
Due: buildifier

Fixed tilt on darwin
  WORKSPACE.bzlmod
  tools/tilt/BUILD.bazel
  tools/tilt/BUILD.repositories.bazel.tpl
Due: buildifier

Cleanup
  rules/rules_task/defs.bzl
Due: buildifier
