Repository vgijssel/setup: changes, and which lefthook commands are due for each by the changed paths.
All: black, prettier, buildifier

black:
  run: black {staged_files}
  stage_fixed: true

prettier:
  run: prettier --write {staged_files}
  stage_fixed: true

buildifier:
  run: buildifier {staged_files}
  stage_fixed: true

Use devbox instead of devcontainer (#531)
  .devcontainer.json
  .github/workflows/test.yml
  .vscode/extensions.json
  .vscode/settings.json
  BUILD.bazel
  MODULE.bazel
  bin/post-setup
  buildbuddy.yaml
  devbox.json
  devbox.lock
  home-assistant/config/configuration.yaml
  home-assistant/docker-compose.yml
  hypervisor/tasks/install_consul.py
  hypervisor/tasks/install_envoy.py
  hypervisor/tasks/install_nomad.py
  lefthook.yml
  package.json
  pnpm-lock.yaml
  provisioner/deploys/teleport/tasks/install_teleport.py
  rules/rules_task/MODULE.bazel
  tools/buildifier/BUILD.bazel
  tools/devcontainer/.bazelrc
  tools/devcontainer/Dockerfile
  workstation/BUILD.bazel
  workstation/deploys/editor/files/keybindings.json
  workstation/deploys/editor/files/settings.json
  workstation/deploys/languages/tasks/install_languages.py
  workstation/deploys/ssh/files/config/1Password/ssh/agent.toml
  workstation/deploys/ssh/tasks/install_ssh.py
  workstation/deploys/terminal/files/terminal_env
  workstation/helpers/home_link.py
Due: prettier, buildifier

Try building docker base image with nix
  .vscode/settings.json
  WORKSPACE.bzlmod
  devbox.json
  devbox.lock
  hello-docker.nix
Due: prettier, buildifier

Really hacky working python image
  .vscode/settings.json
  BUILD.bazel
  WORKSPACE.bzlmod
  hello-docker.nix
  hello.py
  python38_base_image.nix
Due: prettier, buildifier

Undo some changes
  .vscode/settings.json
Due: prettier

use custom docker image
  BUILD.bazel
  buildbuddy.yaml
Due: prettier, buildifier

fix for rbe
  BUILD.bazel
Due: buildifier

ensure nix exists
  BUILD.bazel
  buildbuddy.yaml
  setup_ci.sh
Due: prettier, buildifier

without systemd
  setup_ci.sh
Due: none

better
  setup_ci.sh
Due: none

add debugging
  setup_ci.sh
Due: none

more debugging
  setup_ci.sh
Due: none

hacky hacky
  setup_ci.sh
Due: none

try local nix-build binary
  nix-build
  setup_ci.sh
Due: none

try nix-portable
  nix-build
  setup_ci.sh
Due: none

update
  setup_ci.sh
Due: none

completely uninstall
  setup_ci.sh
Due: none

try
  setup_ci.sh
Due: none

use proot
  setup_ci.sh
Due: none

use sudo?
  buildbuddy.yaml
Due: prettier

Setup semantic-release
  devbox.json
  devbox.lock
  rules/rules_task/.releaserc
  rules/rules_task/BUILD.bazel
  rules/rules_task/MODULE.bazel
  rules/rules_task/package.json
  rules/rules_task/pnpm-lock.yaml
Due: prettier, buildifier

Working basic release task
  devbox.json
  rules/rules_task/.bazelignore
  rules/rules_task/.releaserc
  rules/rules_task/BUILD.bazel
  rules/rules_task/MODULE.bazel
Due: prettier, buildifier

Propagate dev dependency
  rules/rules_task/MODULE.bazel
Due: buildifier

Make runnable from setup
  rules/rules_task/MODULE.bazel
Due: buildifier

Add comment
  rules/rules_task/MODULE.bazel
Due: buildifier

Try some more
  rules/rules_task/BUILD.bazel
  rules/rules_task/MODULE.bazel
Due: buildifier

Try some more
  rules/rules_task/BUILD.bazel
Due: buildifier

Working Bazel-less invocation
  rules/rules_task/MODULE.bazel
  rules/rules_task/package.json
  rules/rules_task/pnpm-lock.yaml
Due: prettier, buildifier

Cleanup
  rules/rules_task/.releaserc
  rules/rules_task/BUILD.bazel
  rules/rules_task/MODULE.bazel
Due: buildifier

Set starting version
  rules/rules_task/MODULE.bazel
Due: buildifier

feat: Setup semantic-release for rules_task (#574)
  devbox.json
  devbox.lock
  rules/rules_task/.bazelignore
  rules/rules_task/.releaserc
  rules/rules_task/BUILD.bazel
  rules/rules_task/MODULE.bazel
  rules/rules_task/package.json
  rules/rules_task/pnpm-lock.yaml
Due: prettier, buildifier

Configure semantic release
  rules/rules_task/.releaserc
  rules/rules_task/package.json
Due: prettier

Generate archive for rules_task before publishing
  rules/rules_task/.releaserc
  rules/rules_task/package.json
  rules/rules_task/pnpm-lock.yaml
  rules/rules_task/prepare-release.sh
Due: prettier

Setup release job
  .github/workflows/release.yml
  rules/rules_task/.releaserc
Due: prettier

Setup pnpm
  .github/workflows/release.yml
Due: prettier

Run install as well
  .github/workflows/release.yml
Due: prettier

Fix workflow
  .github/workflows/release.yml
Due: prettier

Try
  .github/workflows/release.yml
Due: prettier

Path conditions:
  black: any of: *.{py}
  prettier: any of: *.{yml,yaml,json,md}
  buildifier: any of: *.{bazel,bzl,bzlmod}
